[2020-11-17 14:53] FormerLurker commented on #55
What is 'TFT'?  Put the script on gist.github.com if it will fit, and I'll take a look.

[2020-11-17 15:33] ETE-Design commented on #55
@FormerLurker MKS TFT / BigTreeTech TFT... Rename script to *.py

[biqu_convert_new.txt](https://github.com/FormerLurker/ArcWelderPlugin/files/5554439/biqu_convert_new.txt)

[2020-11-17 15:39] ETE-Design commented on #55
@FormerLurker It male it possit possible to male 3D Review like this...
![IMG_20201117_163450](https://user-images.githubusercontent.com/15981309/99411039-7630b680-28f3-11eb-9a17-df247e22034a.jpg)

[2020-11-17 18:10] FormerLurker commented on #55
Looks like it just needs a loader (.bat file) that calls the python code.  Remove this line from the python script:

[code]

Save the pthon script as ```tft.py```

Create a file called tft.bat that contains the following:

[code]

Save it in the same directory as the tft.py script.  Now run it and it should work.  Note, you will need to make sure python is in your environment variables (it should

[2020-11-17 22:19] ETE-Design commented on #55
@FormerLurker After removing #!/usr/local/bin/python3 it got possible to run the script from command prompt, but only if I use the original name of the file... biqu_convert_new.py g-code file
It can't be run trough the tft.bat no matter what i call the *.py, then it just return "./biqu_convert inputfile" so right now I can't use it as post-processing script :-(

[2020-11-17 23:09] FormerLurker commented on #55
Ahhh, you need to forward the arguments to that file!  Unfortunately my fiber is down (new install, bad hardware, go figure).  Appt is tomorrow evening.  Will look at it again once the tubes are up again.

[2020-11-17 23:14] ETE-Design commented on #55
@FormerLurker That's what happend :-( But I'll just wait then :-)

[2020-11-19 09:06] neoOpus opened #75 "Standalone version?"
Hi, I would like to know if it's possible to have a standalone version as it will help more people fixing issues like stuttering and blobs

[2020-11-19 13:45] FormerLurker commented on #75
There is one.  Check my ArcWelderLib repo and check out the actions tab.

That hasnt been officially released yet, but the core engine is identical to the plugin.

However, you should definitely check out octoprint if you can!

[2020-11-19 16:33] ETE-Design commented on #55
@FormerLurker Did you get your fiber up and running again? ;-)

[2020-11-19 17:29] FormerLurker commented on #55
@ETE-Design, Yes I did.  Yesterday afternoon.  Been playing some pretty difficult catch up.  It's easy to take the internet for granted, but my gosh I'm dead in the water without it.

So, to fix your issue you need to pass in all of the arguments to the python call.  You can do this with ```%*```, which contains all the args sent to the batch file.  Here is a sample:

[code]

Here is a test python

[2020-11-19 18:42] ETE-Design commented on #55
@FormerLurker That did it :-) Thanks... Will delete my posts since it has nothing to do with feedback for your ARCWelder :-)

[2020-11-19 18:46] FormerLurker commented on #55
Cool, I will do the same with mine.  Can you do me a favor since I did one for you??  I am about to release 1.0.1rc1.dev2, and would like someone other than me to try it beforehand.  If you are interested, you can install from this url:  ```https://github.com/FormerLurker/ArcWelderPlugin/archive/be0c56ccf7699a0da88c678ac434f45a5cea0c74.zip```

I'm particularly interested in feedback on the 'Firmwa

[2020-11-19 19:12] ETE-Design commented on #55
@FormerLurker As you micht know I don't use OctoPi, that's the reason I asked for the Command Line version of your briliant work :-) But I can post it in the OctoPrint Group and ask for feedback there?

[2020-11-19 19:17] FormerLurker commented on #55
lol!  NP.  I will reach out.  Sorry, I interact with so many ppl I sometimes forget who I'm talking to.  I used to work retail way back in the day, and it was the same there.

[2020-11-19 19:54] NameOfTheDragon commented on #55
I did try this and it works rather well! Having done a lot of prints with it, I'm at the point now where I am confident in Arc Welder to the point where I feel OK trusting it to automatically process every file, so I will most likely use this method once the next release is stable. The command line version seems to operate much faster than the OctoPrint plugin.

[2020-11-19 20:17] FormerLurker commented on #55
@NameOfTheDragon, so glad!

Yes it does, and though it will probably always be significantly slower running on a raspberry pi (It is only a pi afterall), I am working on this issue now in a separate branch.  I'm going to attempt to add a lot of parallel processing, which could potentially speed both apps by a lot (2-3x on a pi with 4 cores running octoprint and a lot more on a PC with numerous cor

[2020-11-19 20:47] NameOfTheDragon commented on #56
This is most certainly possible in Klipper, as [demonstrated in the unit tests](https://github.com/KevinOConnor/klipper/blob/master/test/klippy/gcode_arcs.test) and in [this video of my printer](https://youtu.be/bKghHRRdLk4) printing a spiral arc.

The Marlin documentation also documents this as possible, and looking at the source code for both Marlin and Klipper, they certainly do support it. In

[2020-11-19 20:50] FormerLurker commented on #56
I also learned smoothieware supports z-interpolation, but I don't think marlin's cnc planes actually work for this.  I will keep looking into it.

[2020-11-19 20:53] FormerLurker commented on #56
Fyi, including the z axis will slow things down, but I agree that it would be great, and could maybe even be detected and turned on only if a spiral vase is printing.  Will look into this after I finish threading the conversion routine.

[2020-11-19 20:58] FormerLurker commented on #56
So, the marlin docs suggest that only one plane can be active at a time, but arcs would require x y and z.  I don't think it would be difficult to include (I did notice z interpolation is in the g2/g3 code, but it doesn't look like the any z parameters are fed in)

Edit: [link to docs](https://marlinfw.org/docs/gcode/G017-G019.html)

[2020-11-20 00:44] NameOfTheDragon commented on #56
I think CNC planes are a confusing distraction and we don't need to consider them for this use case. All CNC planes do is allow you to rotate the coordinate system, i.e. to specify which axis is "up". That feature is not normally enabled in Marlin (not for 3D printers) and "up" is always Z.

With CNC planes feature normally disabled, Marlin still supports 3D arcs but it defaults to the normal 3D p

[2020-11-20 00:55] FormerLurker commented on #56
I am running a fork of marlin and will retry it.  I have worked on that interpolation code (see the inverse processor app in the arcwelderlib repo), and saw the z interpolation, but z parameters are ignored in my firmware.  I've been trying to flash marlin 2 to test (i have an mmu2, so it is a bit of a hassle).  Anyway it is beside the point because I can just make it work for firmware that defini

[2020-11-20 01:03] FormerLurker commented on #56
@nameofthedragon, btw, I checked out your site.  Super cool.  Astronomy is a bit of a hobby of mine, and I've always thought it would be a great area to apply some programming skills.  Kudos, and thanks for your work extending our knowledge of the universe!

[2020-11-20 01:04] NameOfTheDragon commented on #56
If you do get around to doing this, and you still don’t have firmware support, then as the feature requestor I will accept responsibility to help as much as I can with testing. Just let me know.

[2020-11-20 01:06] FormerLurker commented on #56
@nameofthedragon, you can be 100% assured I will bug you to test, lol

[2020-11-20 17:10] FormerLurker commented on #56
@NameOfTheDragon, What OS are you using right now?

[2020-11-20 21:03] FormerLurker commented on #56
@NameOfTheDragon, nevermind, I went ahead and pushed to a new branch.  Check this out:

https://github.com/FormerLurker/ArcWelderLib/actions/runs/375119041

Add one of the following parameters:  ```-z``` or ```--allow-z-axis-changes```

I have NOT printed one of these, but I have done quite a bit of analysis.  Looks good from what I can tell.

Caveats:  I had to search for a model that actually ha

[2020-11-20 21:33] FormerLurker commented on #56
Oh, FYI, I forgot to mention another check I added.  Not sure if it can be improved, but I basically check to make sure the slope of the arc is constant too.  It currently is set to ensure the slope is equal within the gcode resolution (typically 0.001mm)  Since the z steps are pretty small when printing in vase mode, this is probably adequate.

[2020-11-21 03:46] FormerLurker commented on #56
OK, I also had a chat with some marlin gurus.  Looks like you were right @NameOfTheDragon, in that it's been supported for a long long time.  I investigated my problem on my printer, and discovered it wasn't working due to a coding error I made in a firmware customization, lol!  I renamed a bunch of stuff and just plain goofed and forgot about it.  Anyway, I found and fixed that, though I don't fe

[2020-11-21 18:47] FormerLurker opened #76 "Add 3D Arcs for Spiral Vase Mode"
Add a setting to control the production of 3d arcs for use with spiral vase mode.

Add firmware types info for 3d arcs.

[2020-11-21 18:48] FormerLurker opened #77 "Add regex based firmware type detection"
Use pure regex for firmware checks to allow 100% dynamic updates from the firmware info repo.

[2020-11-21 18:50] FormerLurker opened #78 "Add dates of last firmware check and last firmware library update check."
Show the user the date of the last firmware and firmware library update checks.  This will let them know that something is actually happening.

[2020-11-21 18:54] #78 closed, assigned to FormerLurker

[2020-11-21 18:54] #77 closed, assigned to FormerLurker

[2020-11-21 18:54] #76 closed, assigned to FormerLurker

[2020-11-21 18:55] FormerLurker commented on #71
I believe this is fixed.

[2020-11-21 18:55] #71 closed, assigned to FormerLurker

[2020-11-21 18:57] FormerLurker commented on #70
This has been added, but there is no way to detect if it was uploaded from the cura plugin specifically.  This is somewhat mitegated by the fact that there is now a beta arc welder plugin for cura.

I did add special comments that can be used to trigger printing, or to control any other arcwelder plugin setting which can be used instead if you don't want to use the cura arcwelder plugin.

[2020-11-21 18:57] #70 closed, assigned to FormerLurker

[2020-11-21 18:58] FormerLurker commented on #64
FYI, I think I fixed this on the latest devel branch.  Doing a bit more testing then I'll shoot you a link.  LOTS of new goodies in there :)

[2020-11-21 18:59] FormerLurker commented on #59
Going to go ahead and close this.  I've verified that processing will cancel and requeue while the printer is printing in the devel version.

[2020-11-21 18:59] #59 closed, assigned to nobody

[2020-11-21 19:00] FormerLurker commented on #57
I believe I've fixed this without relying on changes to the gcode editor plugin.  I now scan the gcode for any indication that ArcWelder has processed the code, and abort if I find any.  You're welcome to try it out!  Let me know.

[2020-11-21 19:01] FormerLurker commented on #47
I think this is fixed now.  Will try to release an RC soon.  Resubmit if you see it again!

[2020-11-21 19:01] #47 closed, assigned to nobody

[2020-11-21 19:35] FormerLurker opened #79 "Show errors if firmware capabilities conflict with Arc Welder settings"
This applies specifically to the *G90/G91 influences extruder setting*, and the *Allow 3D Arcs* setting.

If either is incorrect according to the current firmware info, show an error.

[2020-11-21 19:57] #79 closed, assigned to FormerLurker

[2020-11-21 20:31] FormerLurker commented on #56
Lift off!

![image](https://user-images.githubusercontent.com/33363128/99886970-2fe69a80-2c06-11eb-88ce-dbc3b406dc03.png)

I printed this at 150% speed of the default Mk2.5 0.2mm profile, and it still looks great.

[2020-11-21 23:41] ETE-Design commented on #55
@FormerLurker Do we have to add -Z To the Terminal App to use ARC on Z-Axis?

[2020-11-22 03:02] FormerLurker commented on #55
@ETE-Design, yes.  You can add the --help parameter to get a full list of args and the default values

[2020-11-23 14:16] FormerLurker opened #80 "Add Firmware Compensation for Older Arc Interpolation"
Some firmware, especially those based on an older version of Marlin, have only the MM_PER_ARC_SEGMENT setting to control arc interpolation.  The default value is 1mm, which can result in noticeably flat edges on smaller arcs.  This can be somewhat compensated for within the arc generation routine at the cost of less compression.

Add two new settings in a new section called 'Firmware Compensation'

[2020-11-23 14:18] FormerLurker opened #81 "Add 'Known Issues' section to firmware checker."
Previously I had an entry called 'Recommended', but that didn't sound good.  I decided it would be better to simply list the known issues and let users decide for themselves.

[2020-11-23 14:25] FormerLurker commented on #74
Hey, can you do me a favor?  Try sending your printer an ```M115``` command via the OctoPrint terminal and paste the returned value here?  Then send it a naked ```G2``` command and see what it returns.

I'd like to see what my firmware checker says about your printer knowing that you have no issues.

Thanks!

[2020-11-23 15:12] FormerLurker opened #82 "Devel branch crashes sometimes when downloading an arc welded file."
Not sure what is causing this.  Will look into.

[2020-11-24 08:07] codefaux commented on #57
I would be more than happy to give it a test - I just don't know how without a proper plugin repository update.

I'm deeply familiar with self-compilation, Github usage, I spend most of my time in terminal windows, etc -- I would just need a plain english description of how to staple it onto Octoprint. Is there a mechanism to add github/source-repository plugins to Octoprint, or would I need to co

[2020-11-24 16:42] FormerLurker commented on #57
Oh, it's really easy.  Open the plugin manager, click 'Get More' then enter this into the 'From Url...' box:  ```https://github.com/FormerLurker/ArcWelderPlugin/archive/d940e574a65398a4b90a46c7e74b890ccf8eb4fc.zip```

If you ever want to install from a specific branch, you can follow the above steps and find the URL you want like so:

![image](https://user-images.githubusercontent.com/33363128/100

[2020-11-24 17:49] FormerLurker commented on #75
I'm going to go ahead and close this.  Let me know if you need any help with the console app.

[2020-11-24 17:49] #75 closed, assigned to nobody

[2020-11-24 17:53] FormerLurker commented on #72
Sorry I haven't responded to this yet, but I've been mulling this over.  I'm not going to add this to the next release (1.1) since it's already long overdue, but I'll think about this for 1.2.  No promises at this point since I'm not sure how I feel about it.  On the one hand it would be a neat feature, and on the other hand it will significantly add to the complexity of creating/overwriting/renam

[2020-11-24 17:57] FormerLurker commented on #64
OK, it's nearing devel/rc.  Here is a link to the latest devel commit you can use to install via the plugin manager: ```https://github.com/FormerLurker/ArcWelderPlugin/archive/d940e574a65398a4b90a46c7e74b890ccf8eb4fc.zip```

I recommend you uninstall and clean Arc Welder via the plugin manager first, as the firmware types dictionary has changed forms, and might not work correctly otherwise (I only

[2020-11-24 18:21] DunklerPhoenix commented on #64
Thanks for your work. There are so many changes \*-\*

Ok. This is the Firmwarecheck. The tableview is a bit strange. What do you mean with "Edit the Arc Welder settings, enable the G90/G91 Influences Extruder setting, and run the firmware check again."? Is this setting in your Plugin or should I search this in the firmware.
![ptiFi3hJ9R](https://user-images.githubusercontent.com/1261305/100135331

[2020-11-24 18:29] FormerLurker commented on #64
Hmm.  I wonder what is up with the tab.  Doesn't look right at all!?  Do you have any custom themeify rules?  Try disabling that and see if it fixes the layout.

G90/g91 influences extruder is in the arcwelder settings.  You may have 'use octoprint settings' checked (octoprint has a setting for this too, and that needs to be fixed as well!).  Click the help button in the arc welder settings (blue

[2020-11-24 18:38] FormerLurker commented on #64
FYI, the firmware checker should look like this:

![image](https://user-images.githubusercontent.com/33363128/100137049-7c71e600-2e51-11eb-9778-dc5b2418fe2f.png)

If it does look like the issue is related to themeify, send me your custom CSS and I'll take a look.  I've seen some rules floating around that affect ALL bootstrap columns, and have been giving people a less intrusive rule that seems to

[2020-11-24 18:43] DunklerPhoenix commented on #64
Ah I see. Didn't realize that both are your plugins ^^'

Yep its the viewer... https://github.com/Kragrathea/OctoPrint-PrettyGCode/issues/52
The GCode is over the image in my last post. But seems good in Simplify3D

I changed the G90/G91 Setting under Function in Octoprint Settings, but it shows _Arcs Enabled:Unknown_.
As you seen in the Issue https://github.com/knutwurst/Marlin-2-0-x-Anycubic-i3-

[2020-11-24 18:57] FormerLurker commented on #64
It does look like G2 is enabled, but the checker wasn't 100% sure so it reported 'unknown'.  Once your test print is complete, try sending these two commands in the OctoPrint terminal and paste in the responses:

[code]

and

[code]

I might be able to make it report enabled if I know how it's responding to the above.

[2020-11-24 19:02] DunklerPhoenix commented on #64
I'm not printing currently cause octolapse don't want to:
![42p3DCPPgD](https://user-images.githubusercontent.com/1261305/100139338-9df1c280-2e8f-11eb-9573-7aa66d575b82.png)
I set the values from 0,75mm / min 0,05mm to zero, but it still don't like the gcode.

It's caused by the G90/G91 setting.
Sorry still a newbie in 3d printing. xD

[2020-11-24 19:06] DunklerPhoenix commented on #64
Ahhhhh... I think Arc is not enabled...
[code]

[2020-11-24 19:06] FormerLurker commented on #64
See this:

![image](https://user-images.githubusercontent.com/33363128/100139705-7a118b00-2e55-11eb-8cba-fa38a8359115.png)

These are both my plugins, lol!  That setting is critical unfortunately and most ppl don't have it set correctly.

I recommend you disable Octolapse for your first test print with Arc Welder.  It's best to see how it runs on its own for testing.  Once you verify that benchy p

[2020-11-24 19:15] DunklerPhoenix commented on #64
[code]

[2020-11-24 19:21] FormerLurker commented on #64
Looks like arcs are disabled!
[code]

The firmware checker should have been reporting this as completely disabled.  I will try to fix this and will send you a link to see if it reports a failure.

Then maybe you can ask  @knutwurst to pull in the changes from at least Marlin 2.0.6 (preferably the newest version available) since arc support was greatly enhanced.  However, Arc Welder will not work u

[2020-11-24 19:27] FormerLurker commented on #64
Ok, I think I may have figured out what's going on with the 'Arcs Enabled' detection.  Looks like your printer added 'echo' to the beginning, which is fine but my checker wasn't expecting that.  Try installing from this link:  ```https://github.com/FormerLurker/ArcWelderPlugin/archive/a564139f54dc4c7d2a513b5f1f9bbf9c86ecd3a3.zip```

It should now report an error and say that arcs are disabled.  Th

[2020-11-24 19:44] DunklerPhoenix commented on #64
Printer is connected and the Logfiles of your plugin (after enabling verbose) are empty. I did also purge your plugin before installing it again.
![32IefMO8Ed](https://user-images.githubusercontent.com/1261305/100143477-b49b1800-2e95-11eb-8649-5ec955cb58c0.png)

[code]

PS: I can also click your "Check Firmware"button only once. After this it doesn't work anymore

EDIT: The older dev version works

[2020-11-24 20:04] FormerLurker commented on #64
OK, I may have been a bit too hasty with that update.   Nothing in the logs?!  That's unfortunate

[2020-11-24 20:16] FormerLurker commented on #64
So, the problem must be in the 'Arcs Enabled' detection when 'Unknown Command' is received.  You didn't have that error the first time because the check wasn't working.  My printer doesn't respond that way, so it will take me a bit of time to get a simulation set up based on the M115 response you posted.  I'll message you back as soon as that's done.  I MAY have it done overnight.  If not, it will

[2020-11-25 13:51] FormerLurker commented on #80
I realize that the 'wipe while retracting' slicer option made the images above somewhat unclear.  here is another image of the arc welded code using firmware compensation, but with wipe while retracting disabled and curved infill:

![image](https://user-images.githubusercontent.com/33363128/100235970-aaf3cd80-2ef2-11eb-9819-7d21c6f93750.png)

And here is a closeup of the transition from full to pa

[2020-11-26 15:51] FormerLurker commented on #64
OK, I figured it out.  When i was trying to fix the G2/G3 detection for you earlier I included a syntax error (was thinking in c#, whoops).  That should be corrected, and hopefully will teach me to test my quick fixes, lol

Here is a link you can install from:  https://github.com/FormerLurker/ArcWelderPlugin/archive/5d89642fb879a6e7af34db3a3e2fed37b2f65e40.zip

When you test your firmware, you sho

[2020-11-26 17:01] FormerLurker opened #83 "Add firmware compensation to statistics and progress"
Show the user how much firmware compensation affected arc generation.  It can be substantial.

[2020-11-27 11:47] susisstrolch opened #84 "arcwelder fails with UnicodeDecodeError: ascii codec can't decode"
OS: Armbian 20.08.05 Buster, running on hummingboard ARM cpu
Octoprint: Version 1.4.2
ArcWelder: https://github.com/FormerLurker/ArcWelderPlugin/archive/5d89642fb879a6e7af34db3a3e2fed37b2f65e40.zip

When trying to weld a gcode file (created with CURA, running on Linux Mint), I get the following error in octoprint.log:
[code]

[2020-11-27 14:54] FormerLurker commented on #84
Ugg.  Getting ascii and unicode to work in python 2 and 3 is pretty difficult.  I must have goofed somewhere.  Will take a look later today.  There is a tiny chance that I already fixed this, so fingers crossed :)

[2020-11-27 18:50] FormerLurker commented on #84
So, if you have a second could you upload your source gcode file?  I'll run it through the debugger, but for now I'll just add some unicode to a gcode file and will see what happens.

[2020-11-27 23:42] DunklerPhoenix commented on #64
Sorry that i answer so late.
Its working.

[2020-11-28 00:44] FormerLurker commented on #84
Edit:  Post removed, possible bad link

[2020-11-28 00:52] FormerLurker commented on #84
Hmm, actually, do NOT install with that URL.  was running some tests and my Pi locked up.  Not sure if it is related, but better safe than sorry.  I will resend another link ASAP once I figure this out.

[2020-11-28 08:24] susisstrolch commented on #84
Ok, here are two gcode snippets...
[code]

[2020-11-28 14:06] FormerLurker commented on #64
Awesome, thanks!  Now maybe we can get your firmware working.  Might just need to reflash.  If it was a while since you flashed the firmware, maybe it has changed?  Otherwise I will review the code to see what is goit on.

[2020-11-28 14:29] FormerLurker commented on #84
Only got one snippet, but that should suffice.  How would we know that soccer balls are round without the ß and the ä?  Lol.

Also, fyi, while working on this I discovered some issues with the logger that may speed up processing.  Fingers crossed!

[2020-11-28 17:14] FormerLurker commented on #84
OK, this should work: ```https://github.com/FormerLurker/ArcWelderPlugin/archive/05c850e3461a4bcac0877163f7ab6db78b2c9644.zip```

I'm running additional tests.  I was never able to get the logger to correctly write the unicode (it seems to be escaping them), but it appears to work in the output .gcode.  Python's unicode handling is nuts if you have to deal with both Python 2.7 and 3.x, especially

[2020-11-28 19:29] DunklerPhoenix commented on #64
I have this https://github.com/knutwurst/Marlin-2-0-x-Anycubic-i3-MEGA-S/releases/tag/1.1.6 release of the firmware. It's the last stable. The next would be 1.1.7beta, but the last time I had some problems with it.
EDIT: flashing beta3 atm

EDIT2: Beta3 does not work. The Printer is disconnecting instant with "Error:G2/G3 bad parameters" if your plugin sents G2.
[plugin_arc_welder.txt](https://git

[2020-11-29 14:34] DunklerPhoenix commented on #64
Ok Knutwurst pushed now version 1.1.7 as stable.
With this version G2 and G3 exists, but the printer is instantly disconnecting after sending G2 or G3 without anything with this message:
![iRWR5P6fsF](https://user-images.githubusercontent.com/1261305/100544769-5afd6980-3258-11eb-8880-0e9d2ca91ae6.png)

Edit: so I can't use your Plugin at the moment cause of instant disconnect :D

[2020-11-29 14:40] FormerLurker commented on #64
Hmm, does it report that when running the firmware checker?  That shouldn't be happening.  If it reports bad parameters, that is actually good.  What version of octoprint are you running (in case you upgraded)?  Will have to look into that because the printer should NOT be disconnecting because of that.  Maybe there is an octoprint setting somewhere.

In the meantime, disabled the firmware checker

[2020-11-29 15:17] DunklerPhoenix commented on #64
I have OctoPrint 1.4.2 .
With FW Check set to manually it doesn't disconnect

EDIT: The printer may disconnecting, but your check passes if I do it :D
![jdqR0SPE0K](https://user-images.githubusercontent.com/1261305/100545966-f1348e00-325e-11eb-8af6-48ccabf4e3ef.png)

[2020-11-29 16:05] FormerLurker commented on #64
OK, I've found a workaround in the OctoPrint settings for this, but I believe I can do better.  I'm going to try to catch the 'Bad Parameters' response and trap it before Octoprint gets wind of the error.  Might be able to handle it gracefully.  give me an hour or two to get this working and I'll send you a link.

[2020-11-29 19:34] FormerLurker commented on #64
OK, hopefully this fixes the disconnect error when using the firmware checker.

By default, if OctoPrint receives an 'ERROR' from your printer, it assumes it is serious and disconnects.  You can disable this, but it's not recommended since many times that is the desired behavior.  In this case, I was using the error itself for diagnostic purposes (does G2/G3 exist??), but it was triggering this sa

[2020-11-29 19:54] DunklerPhoenix commented on #64
🥳 It works

[2020-11-29 19:55] FormerLurker commented on #64
Oh my gosh, AWESOME!!  Now to try a print :) i am looking forward to closing this issue and I will bet you are too.  Fingers crossed....

[2020-11-30 13:19] 5axes opened #85 "Issue with V1.0.0"
I was working on the Cura PlugIn made by @fieldOfView. This weekend I have made some tests with the ArcWelder console. everything was running fine. Yesterday we have switch on your release 1.0.0 binary files. With the same files and the same options the result is different and much more worryingly, the result in NCViewer also appears to be invalid.

Sample layer in Cura
![Layer_237_Cura](https://u

[2020-11-30 13:26] 5axes commented on #85
Sample G01 File
[G01.txt](https://github.com/FormerLurker/ArcWelderPlugin/files/5616117/G01.txt)

Options in Cura
![options_cura](https://user-images.githubusercontent.com/11015345/100615426-e0941e80-3317-11eb-9684-48c18a7c952f.jpg)

Tested file on the machine
[TestedCode.txt](https://github.com/FormerLurker/ArcWelderPlugin/files/5616132/TestedCode.txt)

New Gode issue from the release V1.0.0  ( I

[2020-11-30 14:02] FormerLurker commented on #85
Will take a look, thanks for the report.

[2020-11-30 15:17] FormerLurker commented on #85
Might be a false alarm.  It looks like a series of short arcs kills every viewer I've tried, even simplify 3d.  I have a program that simulates what marlin will do (the ArcStraightener). It replaces G2/G3 with G1 as the firmware would do (using the G2/G3 code from the prusa fork, slightly modified).  Here's the output gcode:

[inverse_output.txt](https://github.com/FormerLurker/ArcWelderPlugin/fil

[2020-11-30 15:47] bill-orange opened #86 "Update with Software Update in Octopi not possible"
In Octopi's software update the Arc Welder Plugin reports as this:

[code]

The log reports:

`ConfigurationInvalid: Update configuration for arc_welder of type github_release needs all of user, repo and current set and not None`

I have not tried writing plugins myself so I have no theory where the problem might be found.  I tried uninstalling and reinstalling the plugin.  The update problem was

[2020-11-30 15:58] FormerLurker commented on #86
What versions of OctoPrint and ArcWelder are you using?

[2020-11-30 16:26] bill-orange commented on #86
Octopi 1.5.0, Same behavior with the earlier release candidate.   Arc-Welder (1.0.1rc1.dev1) and on a different machine Arc-Welder (1.0.0+u.bb71e8f)

[2020-11-30 16:36] FormerLurker commented on #86
That's not surprising.  I spent nearly every evening the past few days debugging issues related to 1.5 on both ArcWelder and Octolapse.  I didn't expect a drop of 1.5 so soon, and haven't had time to update things, especially since I was right in the middle of dropping an RC myself.  This may even be solved already.  Anyway, I'll try to push out a fix ASAP, but sounds like update won't work until

[2020-11-30 16:41] 5axes commented on #85
Well, I'm not so optimistic. I looked in another viewer and the result looks weird. The tested Gcode is fine in this viewer but the new one also has some flaws.   And it's strange that on these areas circular interpolations can  be so segmented as well.
![PreviousOne](https://user-images.githubusercontent.com/11015345/100637488-3aeea880-3333-11eb-945d-ecebe99f8b43.jpg)

![NewOne](https://user-imag

[2020-11-30 16:51] FormerLurker commented on #86
Try installing from the plugin manager with this URL in the 'from url...' box:  https://github.com/FormerLurker/ArcWelderPlugin/archive/91fdae17ea26232560c0a39cd14255c8243a50e4.zip

[2020-11-30 16:55] FormerLurker commented on #85
I'm not sure what to trust here honestly.  I know that most viewers have issues, and I also know that the firmware interpolations look correct (down to the number of expected segments).  I will take another look and see if I can find any issues.  Your example looks like the top of a benchy, so I may just print one out with your settings.

Also, fyi (not that it's hurting anything in this case), bu

[2020-11-30 17:02] FormerLurker commented on #85
Also, I'm not sure what you are pointing out in the second image.  Are you questioning why the 'arc' there isn't circular?  If so, it's because of the firmware compensation, and it appears to be doing what it was designed to do.  If you turn that off it will be on big circle.  Sorry if I'm misunderstanding you.

Edit:  Third image, not second, sorry.

[2020-11-30 17:42] bill-orange commented on #86
Yes, that fixes it!  Thanks.

[2020-11-30 17:42] #86 closed, assigned to nobody

[2020-11-30 17:43] FormerLurker commented on #85
OK, I think I figured out what you were trying to illustrate on that third pic.  I plotted some of these arcs and did notice the endpoints were off a bit (I need to find a better tool for this, btw... if you know of any please let me know!).  I realized that the current_arc was getting aborted due to firmware compensation, but the underlying circle was being overwritten (a circle is calculated bef

[2020-11-30 17:46] FormerLurker commented on #85
Oh, also, I'd like to drop an image of what would happen without firmware compensation (again, assuming only MM_PER_ARC_SEGMENT is set to 1.0):

![image](https://user-images.githubusercontent.com/33363128/100644955-9b64f200-3301-11eb-8117-6810a580c9e8.png)

So, at least for this model it looks like the firmware compensation is doing what it supposed to now :)

[2020-11-30 17:47] FormerLurker commented on #86
Thanks for reporting this Bill!  Next time I'll try not to add a feature without testing it, lol!

[2020-11-30 17:57] FormerLurker commented on #85
I patched the release and updated the artifacts minus the raspberry pi binary, which I will add soon.  Thanks for testing and for your report!

[2020-11-30 19:00] 5axes commented on #85
Looks better now , even in NCViewer
![NewRelease](https://user-images.githubusercontent.com/11015345/100649438-bdcb2f80-3342-11eb-9f67-0d7d77d3d115.JPG)

Some tests will be made on the machine.
But I still don't understand why with the friday console application release  , with the same parameter the number of arc were lower than  the result we got now ?  The new parameter were already used in thi

[2020-11-30 19:40] DunklerPhoenix commented on #64
Sorry for the waiting time. I had some slicer problems :D

Here are the print results of the normal and the "arced" gcode.
I think the Firmware or my board doesn't support it correctly.
[3DBenchy (1).txt](https://github.com/FormerLurker/ArcWelderPlugin/files/5618304/3DBenchy.1.txt)
[3DBenchy.aw (1).txt](https://github.com/FormerLurker/ArcWelderPlugin/files/5618305/3DBenchy.aw.1.txt)

![PXL_2020113

[2020-11-30 20:38] FormerLurker commented on #64
OMG, so I hate to ask you this, but:

1.  Were you using firmware compensation?
2.  If so, would you be willing to try it one more time?

Bad slicer settings are OK as long as the benchy on the right doesn't look like...   well like it does, lol!  The reason I'm asking about firmware compensation is that a problem was discovered that could be affecting things.  It's now fixed and I can send a link

[2020-11-30 21:26] DunklerPhoenix commented on #64
I'm not tired. The printer is the most time not in use xD

nope the firmware compensation is disabled.

I can try it as often as you want :D

[2020-11-30 21:29] FormerLurker commented on #64
OK, in that case let ME test some stuff for a change.  I'll see if I can adjust your gcode to work on my printer (with as little adjustment as I can get away with), and will try it there.  If it succeeds then we know it's firmware related.  If not, back to the drawing board.  I'm sad that the firmware checker is reporting success, but it doesn't work when you print :(  All indications are that it

[2020-11-30 22:03] DunklerPhoenix commented on #64
I'm sorry for the problems that I create ^^ It's not intentionally

[2020-11-30 22:36] FormerLurker commented on #64
LOL!  You definitely didn't make them.  Might be me, might be firmware, who knows, but not you, lol.

[2020-11-30 23:13] 5axes commented on #85
Ok tests on machine are OK, I can close the Issue.  On my machine (Ender 3 with Marlin) these test shows that options mm_per_arc_segment and min_arc_segment is a must have. The lower part was made without this option and small Arcs doesn't have the right shape at all.
![20201130_234750](https://user-images.githubusercontent.com/11015345/100676814-e9addb80-3369-11eb-8885-d8972636375f.jpg)

[2020-11-30 23:13] #85 closed, assigned to nobody

[2020-11-30 23:15] FormerLurker commented on #85
Thank you!  I am v glad, since I don't have this issue and can't test it well (using custom firmware).  Amazing feedback, but the testing is where I really need help.

[2020-11-30 23:23] FormerLurker commented on #85
Oh, and btw, that pic is GREAT.  Can I steal it and use it as an example image in the docs?

[2020-12-01 05:31] NameOfTheDragon commented on #56
@FormerLurker Awesome! I've only just seen that you pushed a branch with this in. I'll try it out ASAP, I'm playing catch up at the moment so give me a day or two.

[2020-12-01 06:25] NameOfTheDragon commented on #56
@FormerLurker My first impression is that this works spectacularly well. I made a 40x40x40 cylinder in Prusa Slicer and converted it to arcs from the command line. It reduced the file size by over 92% (1419 Kb to 177 Kb). I'm printing it now and it looks perfect. Next up, I'll try an actual spiral vase to give it a harder task.

[2020-12-01 06:37] 5axes commented on #85
No problem , feel free  to use it for your documentation

[2020-12-01 07:05] NameOfTheDragon commented on #56
OK I see a potential problem. Now this could be my understanding of the tool and I might not be using it correctly, but I see a sort of "seam" up one side of my cylinder, which is unexpected in a vase mode print. See photos taken under a microscope.
![WIN_20201201_06_53_18_Pro](https://user-images.githubusercontent.com/1268490/100707930-601aff80-33a3-11eb-9697-28203927bd6f.jpg)
![WIN_20201201_06_5

[2020-12-01 14:23] FormerLurker commented on #85
Oh, I didn't answer your last question:

I will look into this.  My instincts tell me that it it because the new process correctly swaps out the current arc, but I will verify.

[2020-12-01 22:11] 5axes commented on #80
In my firmware MM_PER_ARC_SEGMENT are set to 1 and MIN_ARC_SEGMENTS to 10 but in my tests the better result seems to be 14 and not 12. At 12 we still have some facettes on some radii.
![20201201_225541](https://user-images.githubusercontent.com/11015345/100802504-e11cda00-3429-11eb-9d6b-bebaecac2ede.jpg)
Sample test :
[CylindreG1.txt](https://github.com/FormerLurker/ArcWelderPlugin/files/5625735/C

[2020-12-01 22:35] FormerLurker commented on #80
OK, I will update my defaults before release.  Let me know if we need an even higher value.  I would l like it as low as possible for reasonable results with most prints, but not too low that there are common and obvious problems.  Setting this too high would negate a lot of the benefits of arc-welder, so something like I would use in my firmware settings (say 24) prob isn't going to cut it.

Also

[2020-12-02 14:30] FormerLurker commented on #56
@NameOfTheDragon, maybe I can't see as well as you, but I haven't noticed this yet.  Did you happen to use the 'firmware compensation' flags that were recently added?  There was a bug in one version at least that caused the endpoints not to line up 100% depending on the settings for --mm-per-arc-segment and --min-arc-segments.  I applied a patch (see the latest release, 1.0.0) that seemed to corre

[2020-12-02 14:42] FormerLurker commented on #82
So far I haven't found any evidence that this is caused by ArcWelder.  In fact, I've seen it happen without ArcWelder installed.  Could be related to  my dev build or maybe something else...  Will continue to monitor.

[2020-12-02 14:47] FormerLurker commented on #80
Hey, quick question, I see in your gcode files some very elaborate slicer settings documentation from cura 4.8.0.  Is that a standard feature?  If so, how is it enabled?

[2020-12-02 15:08] 5axes commented on #80
Is that a standard feature? If so, how is it enabled?   >> Yes and No  it's a standard feature because I Use a Postprocessing Script  and no because it's my own script ..  A copy can be found Here :[https://github.com/5axes/Cura-Postprocessing-Scripts]( https://github.com/5axes/Cura-Postprocessing-Scripts)
[https://github.com/5axes/Cura-Postprocessing-Scripts/blob/master/GCodeDocumentation.py](htt

[2020-12-02 15:09] NameOfTheDragon commented on #56
The only option I used was the `--allow-z-axis-changes` option

[2020-12-02 15:32] FormerLurker commented on #80
Well that is awesome!  I use a script to inject the settings so Octolapse can suck in the required slicer settings, but it isn't nearly as pretty.  Nice column formatting and indents too!

[2020-12-02 15:33] FormerLurker commented on #56
Ok, maybe check out the latest release and retest?  I changed the option name to --allow-3d-arcs or something like that since it sounded more intuitive.

[2020-12-02 15:35] FormerLurker commented on #56
[here is a link](https://github.com/FormerLurker/ArcWelderLib/releases/tag/1.0.0)

[2020-12-02 17:19] Yoghoo commented on #55
@FormerLurker Didn't see there was a rc and have no problem to do some testing if needed. But as this rc is already more then a month old I guess I am a bit late to the party. Are there any bugs stopping the V1.0.1 release or is the release around the corner?

[2020-12-02 17:45] FormerLurker commented on #55
@bvrielink, I'd hoped to get the next version out like two weeks ago, but it's been a rough couple weeks.  I already had a huge backlog and didn't get around to testing with OctoPrint 1.5 until rc3, where I discovered Octolapse was broken (18K+ confirmed users, so it's been a pain for the entire community), so I spent my time fixing those problems and arc welder (2k users about) unfortunately took

[2020-12-02 17:50] FormerLurker commented on #55
OH, @bvrielink, one more thing I'd like to mention.  Performance should be improved quite a bit in the devel branch.  I found that log strings were being constructed when logging was disabled for the c++ code.  They weren't being logged, but creating the strings and sending them to python was nearly doubling processing time on a pi.  The console app and windows didn't seem to have much performance

[2020-12-03 14:45] Yoghoo opened #87 "Unable to update ArcWelder"
From the OcroPrint Software Update screen:

![image](https://user-images.githubusercontent.com/8544667/101042866-eb4fed00-357d-11eb-8d5b-bc94586772b8.png)

Also changing Release Channel to RC doesn't change the error. This is on OctoPrint 1.5.0.

Error in octoprint.log:

[code]

Already uninstalled and reinstalled the plugin without effect.

[2020-12-03 14:56] FormerLurker commented on #87
Fixed in a patch that is not yet released.  Are you installing 1.0.0 or the
dev rc?

[2020-12-03 15:04] Yoghoo commented on #87
I have 1.0.0+u.bb71e8f installed. I was about to update to the RC but was unable to do it via the normal way.

Fixing it in a patch means that all users have to uninstall the plugin and reinstall the updated version? That probably will mean that users don't get any notification that there is a new version or not?

[2020-12-03 15:50] FormerLurker commented on #87
You are right regarding folks using OctoPring 1.5.x :(  I will see if Gina is willing to push a notification about this issue.

Getting the software update wrong is not good, and it's not easy to test since you have to push an actual release to test it.  This per-release channel is a new feature, and I attempted to program it blind before 1.5 existed, but didn't make the deadline for testing and d

[2020-12-03 18:13] Yoghoo commented on #87
I updated to the latest zip without problem:

![image](https://user-images.githubusercontent.com/8544667/101070327-7db2b980-359b-11eb-87b2-955fcb12ccf6.png)

Settings seems to be intact. Got some other remarks but will post them in the RC issue list.

[2020-12-03 18:18] FormerLurker commented on #87
There isn't an RC issue for this version yet because it hasn't been released :)  Just drop it in here and i'll move it when that happens.

There is 1 known issue and 2 potential issues.  The known issue is that the firmware checker might disconnect your printer.  I know how to fix this, and have in one case, but haven't gotten to it yet.

The other two issues could be firmware, both related to the

[2020-12-03 18:32] Yoghoo commented on #87
I meant the feedback post. But never mind will put it in here (more easy to remember as well :) ).

Installed the RC and don't see help yet for setting "3D Arcs(vase mode)". Also got this error/warning:

![image](https://user-images.githubusercontent.com/8544667/101071386-d59df000-359c-11eb-885d-1a85bcba639a.png)

This is on an Ender 5 Pro with my own firmware which was working with the 1.0 versio

[2020-12-03 19:05] Yoghoo commented on #87
Message got me confused but it seems it's not a firmware setting. Then the next question would be what setting is preferred/better?  The setting from OctoPrint itself or should I use the one from the plugin?

[2020-12-03 19:08] FormerLurker commented on #87
Yup, that error is correct.  You need to edit the arc welder settings and change the G90/G91 Influences Extruder setting to true for Marlin 2.x.

If it was working without issues for you you are lucky.  That means your slicer is always outputting a M82/M83 after G90/G91, or that you are only using absolute XYZ and E modes all the time, and that all your start/end gcode in your slicer and OctoPrint

[2020-12-03 19:25] FormerLurker commented on #87
It's a property of your firmware.

Either way as far as arc welder is concerned.  This probably explained in my last post.

[2020-12-03 19:30] Yoghoo commented on #87
Thanks. It's clear now. Next step for me is to test some prints but that will take a couple of days. Doing some upgrades to the printer atm. If you need me to test something specific let me know.

[2020-12-03 22:25] Holzniggl commented on #44
could it be possible that the problem is eeprom related? i´ve updated my printer to marlin 2.0.7.2 and had the same problems with a regular benchy and a wallthickness test. since then i had multiple problems with my z-offset when i was using M500. now i changed all the eeprom settings in my firmware and made a factory reset, it works just fine. i will print a benchy tomorow to prove this.
hope itl

[2020-12-03 22:46] FormerLurker commented on #44
@Holzniggl, as far as I can tell all of the arc settings are #defines, so nothing to store in EEPROM.  However, several other things affect this, like junction deviation settings and linear advance.  Anything that slows down planner calculation can yield slowdowns.  It would be really interesting to see what was in your EEPROM that changed.

[2020-12-04 10:17] Holzniggl commented on #44
@FormerLurker, I guess that the problem was that i updatet to the 2.0.7.2 firmware, but didn´t factory reset the machine afterwards, so i had the EEPROM settings from the 2.0.4.3 firmware with enabled arc support AND enabled linear advance loaded.
Since then i´ve altered the firmware some more till the EEPROM wasn´t compatible any more with the FW so i was promted to do a factory reset.

![Screens

[2020-12-04 12:13] homerisback commented on #58
I installed ArcWelder on my Rpi Octoprint server, which went flawlessly. My printer is a Prusa Mini to which I sent a few fake G2 & G3 commands ; that seemed to work fine.

With a Sodastream bottle support almost round everywhere to print, that could be the perfect test, I thought.
It ran into a spaghetti from the beginning. ABS filament didn't stick to bed and extrusion was not as usual.
Printer'

[2020-12-04 14:31] gsteffek commented on #58
Sorry for leaving this open without responding.
@robwasteground  solved the problem for me, arcs were not enabled by default (contrary what I think I read in the ArcWelder notes when installing).

Since then my round prints are coming out perfectly fine and feel "smoother".

@homerisback that's weird, at not point did I have a Z height altering going on. What I had is, when Arcs were disabled, tha

[2020-12-04 15:27] FormerLurker commented on #58
@homerisback, there actually was a bug regarding offsets that you might be running into.  Can you send me your original gcode, and if possible the welded gcode?  I can run them through the debugging and see if I have fixed this in the devel branch.

[2020-12-04 15:29] FormerLurker commented on #58
@gsteffek,

Glad you got it working!

Can you explain this?  If there are incorrect notes somewhere, I want to get them fixed!

[2020-12-04 17:28] gsteffek commented on #58
Just checked, and of course the problem came from not reading the notes properly:
"Klipper seems to handle G2/G3 commands with ease, as long as the GCode_arcs config section is enabled. G2/G3 support was added on September 13, 2019, so make sure you update Klipper if you are using an older version."
Source: https://plugins.octoprint.org/plugins/arc_welder/

So I read the update Klipper part (but I

[2020-12-04 17:34] FormerLurker commented on #58
@gsteffek,

No worries, I am not concerned about who or what is at fault, only that it can be avoided in the future.  I will bold that section to reduce the chances of that happening again.

Also, I have addid a firmware checker tool in the devel branch that shout make these issues much more obvious.  Let me know if you would like to check it out and help me test.

[2020-12-04 22:16] homerisback commented on #58
Thanks, here are the two gcode files :
(https://www.dropbox.com/s/lbanzqsa7b6u8pr/Sodastream%20bottle%20support_0.2mm_ABS_MINI_3h35m.gcode?dl=0)
https://www.dropbox.com/s/j5pv73v4n9wbhlm/Sodastream_bottle_support_0.2mm_ABS_MINI_3h35m.aw.gcode?dl=0

[2020-12-05 12:49] 5axes opened #88 "Test part"
On the Benchy boat model, is there a model that could be used as a test part to validate conversions in G02/G03 interpolation?

[2020-12-05 14:37] FormerLurker commented on #88
Good question...  I don't have anything that is perfect for testing.  I have a couple gcode files I use for testing.  I have a spiral, a benchy sliced with Archimedean infill and have cut out the first layer, as well as a few files that caused issues in the past.

[2020-12-05 15:01] 5axes commented on #88
This one can be used for different tests, but as I have no special issues in G1 with the sliced Gcode it's cannot be considered as a real test part.
![Test_Part-2](https://user-images.githubusercontent.com/11015345/101246345-fee08c80-3712-11eb-8f72-198622fc9da2.JPG)
Hereafter the OpenSCAD file :
[SpiraleCercle.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/5647255/SpiraleCercle.zip)

[2020-12-05 15:03] FormerLurker commented on #88
Nice!  I have a small circle scad that I just remembered (just got up.. head fog) that i will post here.

[2020-12-05 16:09] FormerLurker commented on #88
[arc_test.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/5647353/arc_test.zip)

![image](https://user-images.githubusercontent.com/33363128/101247940-f91e8300-36e1-11eb-826c-9021c2166d7f.png)

[2020-12-05 16:11] FormerLurker commented on #87
Since this is resolved, I'm going to close this out.  Keep your eyes peeled for the next pre-release, I will definitely need some testers :)

[2020-12-05 16:11] #87 closed, assigned to nobody

[2020-12-05 16:12] FormerLurker commented on #74
Going to close this out to keep the issues clean.  Feel free to post again if anything comes up!

[2020-12-05 16:12] #74 closed, assigned to nobody

[2020-12-05 16:13] FormerLurker commented on #64
OK, so I suspect the mm_per_arc_segment = 0 is causing this issue (as was noted in the firmware issue thread).  Still needs some testing.

[2020-12-06 02:16] o-nix commented on #46
As I came to GitHub issues specifically for this feature request I should say GREAT JOB @FormerLurker!
I became a patron and everybody should! @Daniel4182

[2020-12-06 17:55] FormerLurker commented on #58
homerisback, can you try editing the arc welder settings and setting G90/G91 Influences extruder to true:

![image](https://user-images.githubusercontent.com/33363128/101288040-d2cc1680-37b9-11eb-8ac6-059afcd13105.png)

Yours might look a bit different since I'm running the devel version, but that setting is in there.

The gcode you sent me looks fine, so I suspect this is a configuration issue, o

[2020-12-06 18:12] AndrewLuebke opened #89 "Octoprint Software Update Error"
In Octoprint 1.5.1 (and 1.5.0) on Raspberry Pi I get the following error:

![2020-12-06 10_09_17-OctoPi - 1  OctoPrint  — Mozilla Firefox](https://user-images.githubusercontent.com/45699172/101288393-2daa4180-37ab-11eb-855f-78e606e4edfe.png)

in the log I see:

2020-12-06 10:05:17,762 - octoprint.plugins.softwareupdate - ERROR - Could not check arc_welder for updates
Traceback (most recent call la

[2020-12-06 18:13] FormerLurker commented on #89
This is fixed in the latesy devel branch, which I am still working on.  It is pretty close to a devel/rc.  I will post a link here so you can test the update fix.  Thanks for your report!

[2020-12-06 18:15] AndrewLuebke commented on #89
Thanks, I just saw the other issue report in closed.  I'll try it when you have a link for me.

[2020-12-07 06:53] codefaux commented on #57
Super handy - sorry for disappearing, my main PC went down and I got lost, lol. I'll install that now, but testing might be delayed a bit further - I'm doing a hardware modification to the printer and that's pending a parts order.

[2020-12-07 08:32] codefaux commented on #57
Reporting back sooner than expected - literally installed the plugin, loaded Thingiverse to find a print, and the roomie walked in, "Hey man, did you design that fan riser for me?"  Guess the modification can wait, lol.

SO - after whipping up a model real fast, I used the Edit plugin *( https://github.com/ieatacid/OctoPrint-GcodeEditor ) to adjust the Z-offset the 0.025mm I needed with the new co

[2020-12-08 11:21] TodWulff commented on #56
Good day.  I too am testing this.  Would you mind sharing the model and also the slicer you used?  I'd like to try to replicate on my end (E3v2 running Marlin >2.0.6 with the arc support upgrades therein).  I too have a microscope that would be a too of use here.  Thanks, in advance.

-t

[2020-12-10 11:33] Yoghoo opened #90 "TypeError: remove_file() takes exactly 3 arguments (2 given)"
When processing a gcode file it fails and gives the following error in the log file:

[code]

This is with version 1.0.1rc1.dev2+u.2a95fab. Here are the most important settings regarding this error:

![image](https://user-images.githubusercontent.com/8544667/101766872-b397f680-3ae3-11eb-9e9d-8de23fcc99f1.png)

[2020-12-10 11:38] Yoghoo commented on #90
Workaround for now is to disable overwrite source file:

![image](https://user-images.githubusercontent.com/8544667/101767451-839d2300-3ae4-11eb-82d9-9c07017b0a7b.png)

Then the processing is successful.

[2020-12-10 14:34] FormerLurker commented on #90
I could have sworn this was working.  I must have somehow removed the LOCAL flag...  Will fix and push asap, thanks for the report!

[2020-12-10 14:47] FormerLurker commented on #90
This is strange.  Take a look at the docs for that command:

![image](https://user-images.githubusercontent.com/33363128/101786978-2f824680-3ac4-11eb-87f8-0e9b5977bb41.png)

and the corresponding definition:

![image](https://user-images.githubusercontent.com/33363128/101787087-50e33280-3ac4-11eb-84ba-55de57d846df.png)

What version of OctoPrint are you using?

[2020-12-10 14:52] Yoghoo commented on #90
OctoPrint 1.5.1
Python 2.7.16
OctoPi 0.17.0

[2020-12-10 17:17] holocronology commented on #89
Still doing this in the 1.5.2 hotfix update.

[2020-12-11 15:02] Yoghoo opened #91 "ArcWelderPlugin prints the wrong file"
I uploaded a file from Cura to OctoPrint. It's being processed and starts to print afterwards. These are the settings for the plugin:

![image](https://user-images.githubusercontent.com/8544667/101918496-b705ad80-3bc9-11eb-93da-d74e2171f1da.png)

You can see it has created a new file:

![image](https://user-images.githubusercontent.com/8544667/101918548-c4bb3300-3bc9-11eb-90f0-2091ffedf6c4.png)

B

[2020-12-11 15:03] FormerLurker commented on #91
Do you have the 'print after upload' option enabled within the cura plugin by chance?  If so, disable that

[2020-12-11 16:44] FormerLurker commented on #90
Ok, can you install via the plugin manager by clicking 'Get More' and pasting this link into the 'from url...' box:  https://github.com/FormerLurker/ArcWelderPlugin/archive/8754b74bb5255eb52e67bd8e04e95404bba4b61d.zip

Let me know if that helps.

[2020-12-11 16:50] Yoghoo commented on #91
I had that option enabled indeed. I disabled it and it prints the right one now. Think it's a good idea to add that somewhere in the help section.

[2020-12-11 16:51] FormerLurker commented on #91
I will do that.  There is a cura arc welder plugin coming out soon, fyi.

[2020-12-11 16:52] #91 closed, assigned to nobody

[2020-12-11 16:52] Yoghoo commented on #90
Just started another print for that other issue. Will try it after it's finished. Thanks.

[2020-12-11 18:36] PixelOrange opened #92 "Arc welder incorrectly adjusting z axis"
Printer: Ender 5+ Stock
Marlin: 1.2.1
Cura: 4.8.0
Arc welder version: 1.0.0+u.bb71e8f
G2/G3 test successful

Description: Some arc welder prints cause the first few layers to adjust the z, causing the nozzle to touch the bed. The non-arc welded gcode works fine. This doesn't happen on every print. Some prints work just fine with the arc welded version. It seems to happen on larger prints more ofte

[2020-12-11 18:53] FormerLurker commented on #92
Hmm.. Your version of arc welder does not even use Z coordinates at all.  Can you send me an example of an unprocessed gcode file that failed?

[2020-12-11 19:03] Misterke opened #93 "Bad G2/G3 command from ArcWelder"
I just had a print fail a couple of hours in, due to a bad G2 command according to Marlin.  My octoprint log contained the following:

[code]

I haven't been in-depth with actual g-code myself, but I guess Marlin complains about both I and J being zero.  I can provide the complete original g-code file if needed, but I would assume the input and resulting sequence could be sufficient, so ...

In th

[2020-12-11 19:14] FormerLurker commented on #93
What version are you using?  That is crazy.  I don't think this could happen in the latest build, but I will definitely test.

[2020-12-11 19:17] PixelOrange commented on #92
I foolishly deleted the aw.gcode that was having an issue and I'm mid print so I can't run it to see if the newly generated file does the same thing or not. I've attached both the aw.gcode and the original .gcode.

[crossbar.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/5681153/crossbar.zip)

[2020-12-11 19:34] Misterke commented on #93
I am running a devel version https://github.com/FormerLurker/ArcWelderPlugin/commit/2a95fab3a7797b3dad3664bece27f08137d0f46c mainly because of earlier mention that this one was supporting the "thumbnail copying" and I confirm that it is ...

[2020-12-11 19:36] FormerLurker commented on #93
Yikes.. Ok.  Looks like I have some research to do.

[2020-12-11 19:39] Misterke commented on #93
I wonder whether it is a rounding error.  The curve ending with I and J zero seems to be a very tiny deviation from the previous G1 coordinates.  So probably I / J would not really be zero but very close to zero - possibly too close?

[2020-12-11 19:48] Yoghoo commented on #90
Tested the zip file and the problem seems to be solved. What did you change?

[2020-12-11 19:51] FormerLurker commented on #93
can you post the entire file?  The welding process is somewhat dependent on the preceding code.  Also, a snapshot of the Preprocessor Settings are also necessary, so I can make sure the exact same arcs get generated.

[2020-12-11 19:52] FormerLurker commented on #93
Use gist.github.com if you need a place to post the file, then leave a link in here.  Dropbox or whatever else you may have access to is also fine.

[2020-12-11 19:54] FormerLurker commented on #90
I added the missing parameter :)  The docs I saw were referring to the storage interface, and the file manager docs were missing.  Not sure how or why, but I found the commit where I removed the storage location parameter, and I guess I never tested with overwrite after that (it's inconvenient when testing the same file over and over to have to reupload it).

[2020-12-11 19:55] FormerLurker commented on #90
It's just one of those goofs that happen with a one man/woman show, lol.

[2020-12-11 20:18] Misterke commented on #93
Original file can be found here:

https://gist.github.com/Misterke/500b220a39dc10c898caaa45cdb0adc8

I ran it through ArcWelder a second time and also that run delivered the erroneous G2 command ...  Is there a JSON file or so with the settings that I could supply?  As far as I recall, I left everything stock.  Still, here what I see in the settings:

- Arc Welder Status: Enabled
- Resolution: 0,0

[2020-12-11 22:05] FormerLurker commented on #93
So, more mystery.  Here is what I'm getting running with your settings:

G0 F12000 X122.327 Y172.052
G1 F3000 X122.207 Y172.052 E960.3972
G1 X122.207 Y171.873 E960.4082
G2 X98.367 Y171.873 I-10.716 J28697.69 E961.87351
G1 X98.367 Y172.052 E961.88446
G1 X97.767 Y172.052 E961.92134
G1 X97.767 Y171.872 E961.9324
G1 X97.767 Y171.871 E961.93247
G3 X33.112 Y171.872 I-32.684 J-23072.3 E965.90645

However

[2020-12-12 06:52] jbbandos commented on #93
I have the same exact issue while printing "soot sprites", a couple of hours into the print it fails with "Error: G2/G3 bad parameters". I can post both original and aw gcodes if you want, the original is 32.5MB though.
I'm on 1.0.1rc1.dev2+u.91fdae1

[2020-12-12 14:52] hoefs commented on #93
Had the same issue here with 1.0.1rc1.dev2+u.2a95fab
My Mandalorian print stopped after 4 hours with this message in Octoprint = Bad G2/G3 command

Been using ArcWelder for al my latest prints. Never had an issue with 1.0.0...

[2020-12-12 15:02] FormerLurker commented on #93
Yes, please post the original gcode please.  This will help me to verify the solution.

[2020-12-12 15:04] hoefs commented on #93
Is there a way to recuperate it, because I already removed it from OctoPrint...

[2020-12-12 15:06] FormerLurker commented on #93
@hoefs, i guess you could try reslicing with the same settings (is this cura 4.7 by chance).  If This appears in the file, then it would be useful for me:

I0 J0

[2020-12-12 15:09] hoefs commented on #93
I use cure 4.8.0. I will try it later this day.

[2020-12-12 15:29] Misterke commented on #93
Note that in my case the output was actually `I-0 J-0`, so I guess any combination with or without `-` for either of the parameters would result in a failure report from Marlin.

[2020-12-12 15:43] FormerLurker commented on #93
@Misterke, yes, you are correct.  So that means there are four things to search for @hoefs:

```I0 J0```
```I-0 J0```
```I0 J-0```
```I-0 J-0```

Any of these will trigger the issue.  While I'm at it I will just exclude I and J if they = 0 within the resolution of the gcode.

[2020-12-12 16:19] FormerLurker commented on #93
Well, I've figured out how this error crept in.  After the 1.0 release I removed some shoddy math that was compensating for an issue I thought was precision related.  Turns out i was rounding a number too aggressively later in the code.  The old 'fix' was enforcing a minimum radius.  After removing that Arc Welder was able to convert many more small radius arcs.  Unfortunately the fix was so good

[2020-12-12 16:37] FormerLurker commented on #93
Also @Misterke, I confirmed your error when running this code on the PI.  It's unfortunate that I'm not yet able to create this through my debugger, but at least I can test it on the pi.

[2020-12-12 16:43] eblieb opened #94 "Arcwelder causing a Checksum mismatch error"
Recv: Resend: 25
Recv: ok
Send: N25 G3 X68.871999999999999 Y87.040999999999996 I9.860755608737562 J0.060818139804325 E8.01619*95
Recv: Error:checksum mismatch, Last Line: 24

Generated a retraction tuning Gcode from this site - https://teachingtechyt.github.io/calibration.html#retraction and ran it through arc welder and it causes a checksum mismatch error.

Using this firmware - https://github.co

[2020-12-12 16:45] FormerLurker commented on #94
This came from arcwelder gcode:

N25 G3 X68.871999999999999 Y87.040999999999996 I9.860755608737562 J0.060818139804325 E8.01619*95

???  That kind of resolution should never be produced.  Can you send me the source gcode as well as the converted gcode?  Also, what version of the arc welder plugin are you using (it's reported on the tab)?

[2020-12-12 16:49] eblieb commented on #94
https://1drv.ms/u/s!AuWXqoE3r4cjgfd21ZzvYENMt9mVXg?e=jFeP8e - This is the gcode before arcwelder manipulated it. I dont have a copy of the gcode after arc welder did its thing because I disabled arc welder and reuploaded the file over the invalid checksum file

Arc Welder v1.0.1rc1.dev2+u.8754b74

Also from the Arcwelder tab

Your firmware may have issues running gcode produced by Arc Welder.

Nam

[2020-12-12 16:52] FormerLurker commented on #94
Can you re-weld it with your current settings and post that please?

[2020-12-12 16:57] eblieb commented on #94
https://1drv.ms/u/s!AuWXqoE3r4cjgfd3o6AHm571bDIB7Q?e=vQNq4s - Here is the welded gcode

[2020-12-12 17:03] FormerLurker commented on #94
Ok, so this appears to be a limitation of the checksum algorithm.  Arc welder dynamically sets the maximum resolution of the gcode based on the maximum resolution found in the source file.  I'm seeing lines like this in your source:

G1 X72.096 Y86.17699999999999 E0.1445
G1 X72.809 Y86.13900000000001 E0.1753

So based on those lines, arc welder will produce output with 15 decimal places for X,Y,Z,

[2020-12-12 17:07] eblieb commented on #94
Not sure what language plugins are written in, but could always set the maximum amount of decimal places if they exceed a set maximum resolution of the firmware. If firmware is set to 10 decimal places, if resolution exceeds 10 then use
cout << setprecision(10) << value; for C++
limited_Number = round(Number, 10) for Python

Would something like that work?

[2020-12-12 17:08] FormerLurker commented on #94
It's in c++, and that is one option to make it work.  I think I'll add three new parameters (yuck, lol):

Allow Dynamic Resolution (false by default)
Default XYZ Precision (3 by default)
Default E Precision (5 by default)

[2020-12-13 00:11] ETE-Design commented on #55
@FormerLurker What is the optimal options to set in Marlin under ARC to get perfect circle or close to? Cause have just activated ARC with standard settings, and without ARCWelder the Circle is more perfect than when ARC is used :-(

[2020-12-13 03:44] BenKitesurfs opened #95 "Arc Welder Processing causes current print to stutter"
I just installed arc welder last night, and I'm very impressed with it.  It seems to have drastically improved the smoothness of the movements and the final print from my Ramps 1.4 board.

The issue I have noticed so far though, is that if I upload gcode while a print is running, the arc-welding process demands too much processing power from the Pi, and the print that is currently running starts t

[2020-12-13 08:06] hoefs commented on #93
@FormerLurker this i found in my code:

G1 X118.391 Y96.18 E3452.55179
G2 X118.618 Y96.582 I4.624 J-2.35 E3452.56238
G2 X118.62 Y96.584 **I0 J0** E3452.56249
G3 X123.04 Y94.368 I9.735 J13.909 E3452.72753
G3 X129.334 Y95.489 I2.106 J6.4 E3452.94879
G1 X129.683 Y95.205 E3452.96378

You ca download the file here:
http://gofile.me/2ovtH/IMVRkmvgV

pw = mando

Do you have a new beta/rc with a fix? (run

[2020-12-13 09:31] hoefs opened #96 "Firmware compatibility for Marlin bugfix-2.0.x"
HI,

Is there a way to make this firmware "officially" compatible with ArcWelder?

![image](https://user-images.githubusercontent.com/7440522/102008055-0c5acf80-3d2e-11eb-9dc0-4990d0643490.png)

I use firmware for my Ender 3 V2 from https://marlin.crc.id.au/

My firmware includes arc support:

![image](https://user-images.githubusercontent.com/7440522/102008092-4330e580-3d2e-11eb-8bae-9ac6921a396f

[2020-12-13 11:03] Misterke commented on #93
I've switched to the latest commit from the devel branch and 'rewelded' the problematic file and ... no more zero I and J.  Comparing the generated gcode:

[code]
I've already printed this model without welding, so won't be passing it through Marlin, but at least the gcode seems fine...
Thanks for the quick fixing!

[2020-12-13 14:11] hoefs commented on #93
How can I install this latest commit via OctoPrint?

[2020-12-13 18:43] hoefs commented on #93
@Misterke Found it... (after I had another failed print 2 hours in) I downloaded the devel zip file and installed in OctoPrint.
I am running 1.0.1rc1.dev2+u.8779945 now. Hope this one finishes the print...

[2020-12-13 20:34] FormerLurker commented on #93
@Misterke  and @hoefs,

You guys jumped the gun a bit :)  I have put in prob 24 hrs into debugging this issue as well as another caused by obscenely high precision in some inputs that was overflowing the marlin gcode buffer slot length.  To resolve the other issue I had to add a few parameters:  Default XYZ precision, Default E precision and Allow Dynamic Precision.  That was unfortunate, but nece

[2020-12-13 20:37] FormerLurker commented on #96
I would recommend suggesting to the firmware provider that they include an actual version number, and not a general 'bugfix-2.0.x` version.  The problem here is that there's no way to distinguish 2.0.0 (not fully supported/recommended, though it works) from 2.0.6 (fully supported, works great).  I have also seen versions of this branch that simply do not work at all, and have been modified so that

[2020-12-13 20:40] FormerLurker commented on #94
@eblieb,

I think I have this licked.  I have put in prob 24 hrs into debugging this issue as well as another caused by rounding arcs of a very small offsets that resulted in values of 0 for both I and J.  That was a similarly severe issue to the one you saw, since it killed the print once it hit these lines.

To resolve your issue I had to add a few parameters:  Default XYZ precision, Default E p

[2020-12-13 20:44] FormerLurker commented on #95
Yes, this has been implemented already.  It's taken me MUCH longer than I expected to push out an update, mostly because of some unexpected issues with the enhanced welding algorithm (much faster, lots more goodies, more arcs produced, better accuracy, firmware compensation for FW that doesn't play well with small arcs, etc...).  I believe most of these are fixed now.  I also had some emergency Oc

[2020-12-13 20:50] FormerLurker commented on #92
@PixelOrange, I have plotted your gcode on several viewers, and I cannot figure out what is happening.  The code looks fine to me.  If you see this on any print in the future, please snag the before and after gcode and send it over.  It sounds like only the first layer is affected, so it should be pretty easy to see what's going on.

So, the newest unreleased version of arcwelder CAN adjust Z, so

[2020-12-14 06:52] hoefs commented on #93
@FormerLurker

Successfully uninstalled Arc-Welder-1.0.1rc1.dev2+u.8779945
Successfully installed Arc-Welder-1.0.1rc1.dev2+u.8964fbe

[2020-12-14 10:16] Misterke commented on #93
@hoefs, I just do an install plugin from URL https://github.com/FormerLurker/ArcWelderPlugin/archive/devel.zip to get the latest devel version.

I've again done that just now (which gives me v1.0.1rc1.dev2+u.8964fbe) and re-welded the problem file again and can confirm that also with this commit there are no arcs with both I and J 0.  But as said, I currently don't need to print that model, so won

[2020-12-15 13:10] o-nix commented on #44
I am running `v1.0.1rc1.dev1` on Marlin `2.0.7.2`, definitely see the blobs. Probably at the end of some (not all) infill lines.
Standard `ARC_SUPPORT` properties (`MM_PER_ARC_SEGMENT=1`, `MIN_ARC_SEGMENTS=24`, `N_ARC_CORRECTION=25`) with `EEPROM` disabled. `LIN_ADVANCE` is enabled (along with some default flag `EXPERIMENTAL_SCURVE`) but setting `K=0` does not change the picture. `G90/G91 Influenc

[2020-12-15 14:55] FormerLurker commented on #44
@o-nix, can you try printing that gcode directly from SD to eliminate the possibility that this has something to do with OctoPrint?

[2020-12-15 15:07] FormerLurker commented on #44
also @o-nix, have you tried resetting your EEPROM as @Holzniggl did?  Not sure if you upgraded or not.  Can't hurt.  You can backup your old EEPROM setting with this plugin:  https://plugins.octoprint.org/plugins/eeprom_marlin/

[2020-12-15 15:12] o-nix commented on #44
@FormerLurker SD print is problematic, I believe my SD card support is not working properly, but I'll try to work around.
I have NO `EEPROM` enabled (`// #define EEPROM_SETTINGS`), I code changes into the firmware.

[2020-12-15 15:20] FormerLurker commented on #44
@o-nix, perhaps you could reboot OctoPrint into safe mode and try re-printing?  I always like to see what happens with no plugins enabled to rule out any kind of conflict, especially if SD prints are not an option.

[2020-12-15 15:22] FormerLurker commented on #44
OH, and could you post your source gcode?  If the problem persists, I want to make sure the extrusion lengths are correct.  This is a painstaking process, so I'd rather not do it unless it is absolutely necessary.

[2020-12-15 18:30] KenLucke opened #97 "Feature Request: Confirmation dialog for manual processing"
Can you add a [possibly optional via prefs) confirmation dialog for a manual process of a file?  I've accidentally clicked the "Welds Arcs" button too many times now :).

Also, an option to retain the final result (the green one) dialog on screen until dismissed.  It goes away too fast for me, I end up having to stare at the screen until it appears and screenshot it quickly, if I want to look at a

[2020-12-15 18:46] FormerLurker commented on #97
What version are you using right now?

Will think about this.  Shouldn't be too difficult.

I think this has been solved in the latest build.  I include all of the processing info on the tab in the statistics, including conversion times, and much more.

[2020-12-15 19:15] KenLucke commented on #97
My current version is Arc-Welder (1.0.0+u.bb71e8f)

I had not seen any updates since that.

[2020-12-15 19:16] KenLucke commented on #97
Damn, sorry, completely forgot that info was there.

[2020-12-15 19:21] FormerLurker commented on #97
Yeah, I've not released any, but I've made 52 different commits since that release.  Wanna try the devel build?  It should be reasonably stable, and there are only a couple known issues (mostly related to overwriting the source file).  If you want to check it out, install from this url via the plugin manager:  https://github.com/FormerLurker/ArcWelderPlugin/archive/8964fbe92181139a4a191cb4137b6644

[2020-12-15 19:23] FormerLurker commented on #97
Here is a snap of the new tab:

![image](https://user-images.githubusercontent.com/33363128/102262388-a52d4e80-3ed8-11eb-9b14-ea56166aa536.png)

[2020-12-15 19:32] KenLucke commented on #97
I'll give it a shot.  I stopped using AW a while back because, although it was great on arcs, it messed up straight areas.  I recently have been using it manually on some heavily curved models, where there are virtually no straight stretches.

[2020-12-15 19:37] KenLucke commented on #97
With (left) and Without (Right) AW.  Same file (thus same settings), merely Arc Welded.  Would probably be even better, but was printing at 100mm/s

![IMG_1254](https://user-images.githubusercontent.com/57936294/102263858-b753c080-3ec9-11eb-834a-60bc74099783.JPG)

[2020-12-15 19:40] FormerLurker commented on #97
Awesome results, thanks for posting!

Not sure how straight segments could be messed up, but it may be worth looking into.  Arcwelder doesn't mess with those (at least if it is working properly).  Could be firmware related maybe?  I'm curious what the firmware checker says about it.

[2020-12-15 19:57] KenLucke commented on #97
Oh-oh.  Now I'm getting this when attempting to manually convert:
<img width="421" alt="image" src="https://user-images.githubusercontent.com/57936294/102265823-7c9f5780-3ecc-11eb-9cf8-bf3499c42e55.png">
 Log is empty.

From config.yaml:
[code]

Also tried turning off dynamic precision, also restarting Octoprint.

[2020-12-15 20:00] KenLucke commented on #97
<img width="1006" alt="image" src="https://user-images.githubusercontent.com/57936294/102266209-f9323600-3ecc-11eb-8132-853c35a92b13.png">

It's Nic Wilson's upgraded Marlin 2.0.7.5, and it worked fine before I just upgraded to your development version :( .

[2020-12-15 20:04] KenLucke commented on #97
Backed off to your v1.0.0 and it's working again

[2020-12-15 20:23] FormerLurker commented on #97
And, thats why things get tested.  Send me that gcode if you would please.  Will look at the marlin fw report if you run an m115 command and send me the results from the terminal.

[2020-12-15 20:34] KenLucke commented on #97
Yup, been alpha/beta testing stuff since the early 80s.  I understand the need to test, and the obscurity of some bugs.

https://www.dropbox.com/s/newm17fxjews27b/Meteor%20Light%20Holder%20v2%20%5BPETG%5D%20%5Bskirt%5D%20%7C%20Infill%20%5B20%25%2Ccubic%5D%20%7C%20Noz%20%5B0.6%5D%20%7C%20LH%20%5B0.32%5D%20%7C%20LW-%5B0.6%5D%20%7C%20Temps%20%5B255%C2%B0%7C%2080%C2%B0%5D%20%7C%20Speed%20%5B100.0%5D%2

[2020-12-15 20:54] FormerLurker commented on #97
The dropbox link you sent doesn't seem to work.  That filename is pretty crazy (I can't say I've ever seen anything like it), so perhaps that is an issue.  To post it maybe rename it to something less..  complicated?

[2020-12-15 20:55] FormerLurker commented on #97
It could be browser related too.  The pipe symbol isn't allowed in any windows filename (and can trigger script errors in linux).

[2020-12-15 21:22] KenLucke commented on #97
Sorry, it's probably all the spaces and brackets.

https://www.dropbox.com/s/newm17fxjews27b/Meteor%20Light%20Holder.zip

[2020-12-15 22:21] FormerLurker commented on #97
OK, when you have a second and aren't printing, I pushed a new version to devel that should log the error you saw.  You can install it with this URL:  https://github.com/FormerLurker/ArcWelderPlugin/archive/2e839051de8d81da0a7ae3374028c0c416fc852f.zip

My intrusion prevention blocked dropbox after seeing that file request, lol!  I'll unblock it and download it ASAP to try myself, but I'd still lik

[2020-12-15 22:47] KenLucke commented on #97
will do.  Earliest printer free is in ~ 6 hours.

[2020-12-16 00:30] o-nix commented on #44
I'm still verifying, but it looks like migrating from `2.0.7.2` to `bugfix-2.0.x` worked! 🚀
Definitely the problem in Marlin itself.
Anyway, I was trying things on `2.0.7.2`:
* Figured out proper settings and enabled SD support, started printing from SD only - same picture
* Disabled curve support and linear advance - no effect
* Tried to experiment with different `ARC_ENABLED` settings - slight i

[2020-12-16 17:53] hoefs commented on #93
@FormerLurker I only printed some litho's and an Among Us character, no issues with this build

[2020-12-16 20:35] DunklerPhoenix commented on #64
So I think I close this Issue here now.
Thanks for your help.

Summary:
There were two different problems.
1. I used an Octoprint plugin (PrettyGCode) https://github.com/Kragrathea/OctoPrint-PrettyGCode/issues/52 as a viewer that does not support arcs at this moment. (should be fixed now)
2. Arcs in Knutwurst's firmware were deactivated.

[2020-12-16 20:35] #64 closed, assigned to nobody

[2020-12-16 21:57] FormerLurker commented on #64
Yes, I patched that myself ;)

Not actually deactivated, but misconfigured.  mm_per_arc_segment was set to 0 :(

Very glad this is taken care of!  Let me know how things go, and feel free to post any time!

[2020-12-16 22:52] DunklerPhoenix commented on #64
Thank you for your hard work. If you need someone for testing, I'm here :D

[2020-12-17 07:49] brheinfelder opened #98 "Feature Request: Start print after conversion"
I print to Octoprint directly from Cura, so I would love to see an option to automatically load and print the file after it's converted. Right now, the original file is uploaded, the print is started, and then it's converted, resulting in the original file being printed instead of the converted one. I'm no programmer, but I think the easiest way to implement this is for the user to disable the "st

[2020-12-17 14:49] antonyburden opened #99 "Move exceeds maximum extrusion"
Since trying the last dev2 builds I occasionally get errors like this:

"Move exceeds maximum extrusion (4.980mm^2 vs 0.640mm^2)"

Did hundreds of prints with dev1 and never had this issue. nothing changed my end.

I am using Klipper and latest PrusaSlicer 2.3.0 Beta 3

Had the error with the Stable release of PS too, so I don't think it's a beta thing.

[2020-12-17 15:04] FormerLurker commented on #99
Can you post the exact version listed in the arcwelder tab as well as the source and target gcode please?  Thanks!

[2020-12-17 15:09] antonyburden commented on #99
Thanks - here you go:

Arc Welder v1.0.1rc1.dev2+u.8964fbe

[move_exceeds_max_extrusion.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/5710266/move_exceeds_max_extrusion.zip)

[2020-12-17 15:23] FormerLurker commented on #99
Thanks!  I see you are using the latest devel branch code (minus one push for exception handling, which is fine).  Brave soul :)

One other thing that would help immensely is knowing which line of gcode triggered the error you referenced.  Otherwise I'll have to find some way to trigger it myself (I don't have the ability to run klipper ATM), which will probably take a custom program to detect.  T

[2020-12-17 15:37] antonyburden commented on #99
I tried the latest, in hope you had fixed it ;-)

No worries, I will get it printing without any filament, happened about 20 mins in or so, so once my current print has finished I will get to doing it.

[2020-12-17 16:39] FormerLurker commented on #99
Awesome!  FYI, I have heard others say klipper may not be calculating the volumetric flow for arc commands properly in all cases, but maybe it's ArcWelder.  Typically it's been like 75/25 firmware issues to arc welder issues (more if I count arcs being disabled as a firmware issue, lol)

[2020-12-17 17:28] antonyburden commented on #99
Ok, this is weird. It actually stopped at the end of the gcode - but it's no where near the end of the original non-arc'd print - only 2.8mm in out of 31.5mm

Line 138755
G1 X114.648 Y125.188 E0.01941
@Objectstop octopus4_smooth.stl id:0 copy 0

[2020-12-17 18:33] FormerLurker commented on #99
What does ```@Objectstop octopus4_smooth.stl id:0 copy 0``` do?  Is it a coincidence that it had issues right before that line, or is it somehow contributing.

You mean you got that error message for line 138755, but it had stopped printing well before this (like many layers)?  That doesn't make much sense at all.

I don't know what @Objectstop is doing, but I would assume it has something to do w

[2020-12-17 18:47] antonyburden commented on #99
Its in all my gcodes, even successful aw gcode, if you look at the aw code I sent, that’s the last line of Gcode movement commands before all the normal end stuff. Aw has just stopped at 2.8mm for some reason.

[2020-12-17 18:56] o-nix commented on #98
@Futureless671 already implemented in `dev` version https://github.com/FormerLurker/ArcWelderPlugin/issues/46#issuecomment-717655793

[2020-12-17 19:24] antonyburden commented on #99
I disabled the cancel object plugin - the line now reads
; stop printing object octopus4_smooth.stl id:0 copy 0
Anyway, it looks like it's going wrong then skipping all the way to the end.
Going to let it run empty again with the aw gcode minus the plugin.

[2020-12-17 19:46] brheinfelder commented on #98
Ah, my bad. Thanks!

[2020-12-17 19:46] #98 closed, assigned to nobody

[2020-12-17 20:16] antonyburden commented on #99
Think my previous report had the terminal buffer stopped because I never had autoscroll on. so ignore the above - this is where it goes wrong:

Send: N59378 G1 X143.659 Y112.891*39
Recv: ok
Send: N59379 G1 X143.779 Y112.933*44
Recv: ok
Send: N59380 G1 X144.091 Y113.048*40
Recv: ok
Send: N59381 G1 X144.390 Y113.165*37
Recv: ok
Send: N59382 G1 X144.606 Y113.253*42
Recv: ok
Send: N59383 G1 X144.678 Y

[2020-12-17 20:36] FormerLurker commented on #99
OK, I know what's happening, but I must say the slicer code there looks very suspicious.  Will post back when I have a bit more time.

[2020-12-17 20:50] FormerLurker commented on #99
Hey, quick thought, can you take a snapshot of your 'Preprocessor' settings for Arc Welder and paste them in:

![image](https://user-images.githubusercontent.com/33363128/102542316-39cdb300-4077-11eb-9b48-fe5dbf7c7e11.png)

It's possible that the path tolerance percentage is too high.

[2020-12-17 20:53] antonyburden commented on #99
![image](https://user-images.githubusercontent.com/15526118/102542592-f04a8b80-40a9-11eb-9417-2ad54d6e8e55.png)

[2020-12-17 20:59] FormerLurker commented on #99
This is very mysterious.  I'm suspecting some math library issue.  Will get back to this tomorrow and spend some time figuring out what is going on.

[2020-12-18 05:34] ghost opened #100 "ArcWelderConsole large gaps in walls"
using ArcWelderConsole.exe on win8.1pro.

Been working flawlessly, except for some large cylindrical models ( like large pots ).
The walls ( inner and outer ) have gaps about 10mm wide, 4 per circumference.
I am guessing that ArcWelder is splitting the circular shape in to 4 sections, and the gap appears between sections.
Diameter of the models is between 150 and 210 mm.
Infill in the areas is sti

[2020-12-18 05:41] FormerLurker commented on #100
Interesting.  Can you post the before and after gcode please?  I am working on another issue, and i think they may be related.

[2020-12-18 05:52] ghost commented on #100
Hi
Attached zip of the 2 files, and also batch file output from ArcWelderConsole.exe
Not isolated to a single model. I am doing a range of these and happening on different models.

Also, please can you point me to where I find the ArcWelderConsole.exe file ? Can't see it anywhere on github.

Regards
Dave

[ArcOutput.txt](https://github.com/FormerLurker/ArcWelderPlugin/files/5713922/ArcOutput.txt)

[2020-12-18 07:06] ghost commented on #100
ok. I found the exe in the ArcWelderLib

[2020-12-18 08:36] #35 closed

[2020-12-18 13:50] hoefs commented on #93
@FormerLurker I am 10 prints later, no issues seen. I can't really say if there is an increase in performance...

[2020-12-18 14:25] cp2004 commented on #55
@FormerLurker just thought I'd let you know, run a fair number of prints with this version of AW enabled, and all seems to be going just fine. Did I see somewhere you fixed the software update hook problem?

Other than that I can't report any issues, prints coming out very smooth.

[2020-12-18 15:32] FormerLurker commented on #55
@cp2004, thanks fot the report!  Yes, the hook was fixed.  Still working on a few bugs before I deploy.

[2020-12-18 15:34] FormerLurker commented on #55
@ETE-Design, what version of marlin?  Some ppl have said factory resetting eeprom fixed their issues after an upgrade.  The default arc settings should be fine, depending on the version.  Can you post a pic?

[2020-12-18 15:37] FormerLurker commented on #93
@hoefs, there should be some reduction for time to process the gcode, but not print time.  Is that what you mean?  Thanks for reporting success!  Fyi, there is still one issue I am working on.  Will post the issue number later.

[2020-12-18 15:41] FormerLurker commented on #100
Awesome.  There could be a few issues with the new binaries.  Keep your eyes peeled for an update to the artifacts.

[2020-12-18 16:04] ghost commented on #100
that would be the file Windows-MSVC.zip in the ArcWelderLib ?

[2020-12-18 16:08] FormerLurker commented on #100
Yes.  I need to clean up the artifacts, just haven't had time.  No need for an msvc and mingw version, and mingw is broken (I would need to add static linking, but why bother when I can just remove it, lol)

[2020-12-18 16:42] ETE-Design commented on #55
@FormerLurker Use Marlin Bugfix 2.0.x - 17.12.2020, always resetting after updating :-) Is some settings more recommended more than others? And is there some settings who is best for perfectly round things?
My printer is down right Noe, so will test again when it is up and running again...

[2020-12-18 17:53] ghost commented on #100
to a non-technical person, that is as 'clear as mud' :)

[2020-12-18 18:51] hoefs commented on #93
@FormerLurker yes you are right, it is faster. If I need to try a new version, please let ne know...

btw this is impressive:

![image](https://user-images.githubusercontent.com/7440522/102649950-631b3b80-416a-11eb-96ff-b244d91b52ee.png)

[2020-12-18 21:07] PixelOrange commented on #92
Attached are the .stl, .gcode, and .aw.gcode files. I started the .aw.gcode and noticed the following:

* Initial wipe was fine.
* Half of skirt was fine, the other half adjusted z. Unlike when I reported this issue, the z moved once, printed half the skirt, then moved back for the other half. When I initially reported this, z gradually moved as it was printing. As far as I know, I do not have mes

[2020-12-19 23:51] SageCrispin commented on #44
FYI:
Tried out Arc Welder for the last couple of days. Drastically shrunk some files, but slowed printing (hence my arrival here). Dl'd and installed the alpha. Reported:

Version:
2.0_DW5
Errors
Your printer's firmware is not supported.

So, it worked for me. Now if Tiny Machines would just step up.
Thanks anyway for what will be a great plugin I'm sure.

[2020-12-20 00:12] Deses commented on #61
I have the exact same board and it has space for 512 kb firmwares... I have everything and the kitchen sink enabled without problem.

[2020-12-22 06:39] RURon commented on #44
I can confirm this. I just flashed the latest Bugfix over 2.0.7.2 keeping the same settings in Marlin - from blobby curved arcwelded arcs to non-blobby nice and clean arcs!

[2020-12-23 21:53] KenLucke opened #101 "AW Displays invalid warning"
Both welded and unwelded files display this warning if you hover over the icon in the file list while a print job is in progress (note: it also shows an "uunwelded" icon even for those files that HAVE been welded (the one in the image has been):

<img width="646" alt="image" src="https://user-images.githubusercontent.com/57936294/103038865-590b8b00-4524-11eb-9595-4160183ca261.png">

HOWEVER, despi

[2020-12-24 23:00] PixelOrange commented on #92
I printed another object and noticed the z adjust. Stopped it and ran the non-aw.gcode. I noticed that when it went to wipe, it slowly adjusted z as the X/Y was moving until it got to where it was going to wipe. It did the full wipe, and then moved back to center to do the skirt and again adjusted z as it was moving to where it wanted to start the skirt. Here's what I suspect is happening:

X/Y/Z

[2020-12-25 15:58] FormerLurker opened #102 "Weld statistics are missing sometimes."
I discovered a copy/paste bug in the routine that scans a file to be processed to prevent re-welding that could sometimes erase the file statistics metadata.  Fix this.

[2020-12-25 16:01] FormerLurker opened #103 "Add arc direction change detection"
In some rare cases I've seen some gcode that overlaps existing lines almost exactly.  In most cases the path length tolerance will detect and prevent this, but if the tolerance settings are bad, this can result in 'maximum volumetric extrusion exceeded' errors.  Prevent this by detecting a change of direction (CW->CCW or CCW->CW), and abort the arc if that is discovered.

[2020-12-25 16:08] FormerLurker commented on #103
Implemented and closed!

[2020-12-25 16:08] #103 closed, assigned to nobody

[2020-12-25 16:08] FormerLurker commented on #102
Fixed, I think!  Closed!

[2020-12-25 16:08] #102 closed, assigned to FormerLurker

[2020-12-25 16:15] FormerLurker commented on #101
What version of arc welder is this?  Check the tab and paste in the exact version found on the bottom left.  I haven't been able to reproduce this in the devel branch code, but things have changed quite a bit over the last month or so.

Also, since OctoPrint and all associated plugins and processors run on a single thread, it can and will cause issues if you process while printing depending on the

[2020-12-25 16:19] FormerLurker commented on #100
@DaveZA, sorry it's taken me so long to work my way back to your issue (work is always nuts right before the new year).  I tried looking at your zip file, and it was flagged by google as containing malware.  I ran my anti-virus on it, and it said the same thing, so I'm not going to open it.  I recommend you scan your PC.

Can you post the before and after on gist.github.com instead and drop a link

[2020-12-25 16:26] FormerLurker commented on #99
OK, sorry this took so long.  Got stuck working on an end of year project (december is always crazy for me), but finally finished and solved this problem.  There were several issues I fixed, but the primary one causing your issue was the fact that I was not converting the percentages (for example 5%) to a decimal percent (0.05) for the path tolerance percent!  I know this was working earlier, so I

[2020-12-25 16:47] ghost commented on #100
very odd.
I also downloaded the zip file and got the same warnings.
I have already deleted the files from my PC a few days back.
This will have to wait until I have a new model that presents the same problems, although I have already decided to upgrade the printer to an SKR 1.4 Turbo 32 bit board in the first week of the new year, so there's also a good chance that this will no longer be an issue

[2020-12-25 16:49] FormerLurker commented on #100
Ok, that is fine!  Let me know how it goes!

[2020-12-25 17:13] KenLucke commented on #101
Nothing on version lower left.  However, the OTHER left (lower RIGHT [grin]) does have
<img width="193" alt="image" src="https://user-images.githubusercontent.com/57936294/103139474-68f4ad80-4691-11eb-9436-a656cc9c5a58.png">

[2020-12-25 18:30] FormerLurker commented on #101
Ok, try this version and see if this fixes your issue (install from plugin manager->get more->from url...): ```https://github.com/FormerLurker/ArcWelderPlugin/archive/e7e7d46e86d4f5c6ba77022f5e26a0511942260b.zip```

Warning:  if things go wrong you may need to uninstall with the clean option and downgrade.  Be sure to review the settings because a lot has changed, and the settings migration is pro

[2020-12-25 19:53] FormerLurker commented on #92
I will take a look asap.  Been stuck at work for the last couple of weeks.  Tha ks for the update, it may prove useful

[2020-12-27 18:43] mriscoc commented on #96
Hi @FormerLurker, I made a firmware based upon current Marlin bugfix. I know that it supports Arc Welder plugin, but I only has been got to be recognized by the plugin when I raised the firmware version. What are your recommendations for the correct version label for bugfix firmware releases? I want to follow your guidelines.
Firmware: https://github.com/mriscoc/Marlin_Ender3v2/releases/tag/2.0.7.

[2020-12-27 20:15] FormerLurker opened #104 "Add advanced arc issue detection"
This feature will slow down arcwelder a bit (10-15% more time to process), but should prevent many rare but annoying issues that can be caused by the sliced gcode traveling in an arc motion over the same spot one or many times.  I honestly didn't think this was possible, but I believe it can happen if the 'overlap' percentage is so high that arcs totally overlap within the suggested resolution.  A

[2020-12-27 21:40] FormerLurker commented on #96
Just set it to the forked marlin version, that should work.  Fyi, I am going to change the bugfix branch from 'not supported' to 'unknown' by default, but if you set the marlin version as I mentioned, it will display as supported

[2020-12-27 22:07] kalib98 opened #105 "Arc Welder not working properly"
I have an Ender 3 Pro, with an upgrade SKR Mini 2.0 board. Arc welder used to work on my old board, but now it isn't working anymore.

It seems to disregard any skirt or brim and goes straight for the build and proceeds to under extrude and make something that doesn't resemble the actual file.

Non arc welded Gcode works perfectly. I wonder what the issue is, I would love to get Arc Welder working

[2020-12-27 22:57] kalib98 commented on #105
I might have done an oopsie and not enabled Arc in firmware. However I was certain its enabled by default. Reinstalling Marlin and trying a test print. Will update this post if its my dumb.

[2020-12-27 23:04] #105 closed, assigned to nobody

[2020-12-27 23:04] kalib98 commented on #105
Was my oopsie. Left a 4 hour print on and it made a mess and so I made this post. Remember to check with the M115 to see if Arc is on!

[2020-12-28 16:46] FormerLurker commented on #105
Hey @Athanaetos, if you would be willing, perhaps you could try the latest devel branch (I'm pushing out an rc/devel release as we speak with the same code)?  I've added a firmware checker that will hopefully mostly solve this issue, which is the most common one I see.  If you are willing, you can try it by going to OctoPrint Settings->Plugin Manger->Get More->From Url.. and pasting this in the bo

[2020-12-28 17:40] FormerLurker commented on #104
Implemented, closed!

[2020-12-28 17:40] #104 closed, assigned to FormerLurker

[2020-12-28 17:41] FormerLurker commented on #100
@DaveZA, I'm going to close this issue for now, but if you continue to have problems with the new board I will reopen it.  Thanks!

[2020-12-28 17:41] #100 closed, assigned to nobody

[2020-12-28 17:46] FormerLurker commented on #99
@antonyburden, I also added one final bit of code to completely eliminate this issue (hopefully), even if the path tolerance percent is cranked way up.  In fact, for my tests I increased the value to 10,000%, and it still produced arcs correctly, even in the odd gcode you submitted.

In addition to the direction safety mechanism, I also added a final check to ensure that no segment of the original

[2020-12-28 19:06] FormerLurker opened #106 "Feedback for 1.0.1rc1.dev2"
If you have any feedback for the [1.0.1rc1.dev2](https://github.com/FormerLurker/ArcWelderPlugin/releases/tag/1.0.1rc1.dev2) release, please leave that here. Let me know what you like, what you love, what you hate, or any ideas about the future of Arc Welder. If you believe you have found a bug, feel free to mention it here. I may ask you to create a new issue.

Also, please note that the software

[2020-12-28 19:09] FormerLurker commented on #55
OK, finally have the next devel rc released.  Please leave feedback [here](https://github.com/FormerLurker/ArcWelderPlugin/issues/106), and note that the software update is BROKEN in all previously released versions of arc welder for OctoPrint 1.5 +!  You will have to install the new release candidate manually by going to *OctoPrint Settings->Plugin Manager->Get More->From URL..* and paste this li

[2020-12-28 19:09] #55 closed, assigned to nobody

[2020-12-28 19:25] FormerLurker commented on #61
@Deses , thanks for pointing this out!  I'm learning a lot about specific boards and firmware, and it all helps!

Also, I just dropped a new rc/devel version of ArcWelder.  Feel free to check it out.  The software update is broken for all previous versions if you are running OctoPrint 1.5+, so you'll have to install it manually.  Check out [this issue](https://github.com/FormerLurker/ArcWelderPlug

[2020-12-28 19:25] #61 closed, assigned to nobody

[2020-12-28 19:25] FormerLurker commented on #44
@RURon and @o-nix, any idea what changed in Marlin?  I may need to update my firmware detection library to show issues in 2.0.7.2 if this is a universal problem with the release.

Also, I just dropped a new rc/devel version of ArcWelder.  Feel free to check it out.  The software update is broken for all previous versions if you are running OctoPrint 1.5+, so you'll have to install it manually.  Ch

[2020-12-28 22:39] stonefox1958 opened #107 "Creality CR10S Pro V2 and TinyMachines3d.com"
Can I use it with :
Creality CR10S Pro V2 and
TinyMachines3d firmware

[2020-12-28 22:40] FormerLurker commented on #107
Hmm. Not sure.  You could try the latest RC (see the release feedback issue for details) and see what the firmware checker says.

[2020-12-28 22:51] CRCinAU commented on #106
Trying to install the new build, but things are failing with:
[code]

EDIT: I could only get this error log by doing:
[code]
It doesn't seem like I could get any debug any other way - it just stopped when using the OctoPrint UI...

[2020-12-28 22:56] FormerLurker commented on #106
Let me see if I can deal with that.  I had to remove an include to get the dumb and old python 2.7 compiler for windows working...

[2020-12-28 23:00] FormerLurker commented on #106
@CRCinAU, try installing from this URL:  ```https://github.com/FormerLurker/ArcWelderPlugin/archive/2dedd1b9dfa5da4e75e968107473a8113369e709.zip```

This may be the shortest lived devel/rc in history, lol!

[2020-12-28 23:04] CRCinAU commented on #106
[code]

Restarted OctoPrint and there it is:
![image](https://user-images.githubusercontent.com/3992884/103248041-2ac2fb00-49bd-11eb-87d4-8e48983c681c.png)

[2020-12-28 23:07] FormerLurker commented on #106
Cool.  I will be so glad when python 2 is totally dead, lol!

[2020-12-28 23:08] CRCinAU commented on #106
I hear you man..... I hear you....

If there's one thing I do well is find problems :P

[2020-12-29 10:34] stonefox1958 commented on #107
What does RC means ?
There can I find firmware checker ?

[2020-12-29 11:04] realloser opened #108 "Temperatur problem with big arcs"
Hi, has anyone also faced this problem... I'm printing a part which has big arcs around d:110mm.
<img width="544" alt="image" src="https://user-images.githubusercontent.com/3485311/103278894-d7f13f80-49cc-11eb-8ae4-2eadbcd7d432.png">

While printing this parts, the temperature of the hotend rises a lot and I hit the max temperature specified in the firmware and aborts the print.
<img width="457" a

[2020-12-29 15:39] FormerLurker commented on #107
It stands for 'Release Candidate'.  If no major bugs are detected, it will be promoted from a Development RC to a Maintenance RC, then to a live version.

You can install from the plugin manager by clicking 'Get More', then by pasting this URL into the 'From URL..." box:  ```https://github.com/FormerLurker/ArcWelderPlugin/archive/2dedd1b9dfa5da4e75e968107473a8113369e709.zip```

[2020-12-29 15:40] FormerLurker commented on #107
FYI, the firmware checker will show up on the ArcWelder tab, and should look something like this:

![image](https://user-images.githubusercontent.com/33363128/103295608-f26ded80-49b9-11eb-97e5-1616f11f4eac.png)

[2020-12-29 20:48] Deses commented on #61
Thanks for the heads up! I'll try it soon.

[2020-12-29 22:37] kalib98 commented on #105
I will give it a shot and update here.

[2020-12-29 23:01] antonyburden commented on #99
Thanks for the updates - back to being on PC now Christmas is over, will get to testing now.

[2020-12-30 04:45] unwiredben opened #109 "ArcWelder failed to load on PC without VC 2019 Runtime installed"
I installed the plugin from the Ultimaker Cura Marketplace, but after a restart, I couldn't find any ArcWelder-related items in the user interface.  After looking through the Cura log, I found that the problem was that ArcWelder.exe wouldn't load because I didn't have the Visual Studio 2019 runtime files installed on my PC.

I don't know if there's a way to have that prerequisite shown during inst

[2020-12-30 04:47] FormerLurker commented on #109
Thanks!  Will see what can be done.

[2020-12-30 18:32] pietchaki opened #110 "[Feature Request] Move file after processing"
I like to keep he original gcode, but also don't like the mess it becomes in the main folder.
So, what I do is move all original gcodes to a "originals" folder, and keep only the processed files in the root.
I'd like if ArcWelder could do that moving automatically for me, to folders I specify in the configuration.

[2020-12-31 17:43] Snargaloo opened #111 "Some arcs randomly printed as full circles."
I printed a model welded with an older version of ArcWelder in PETG for tolerance testing.  When I tried printing this model again in carbon filled PA using a devel branch of ArcWelder, some of the arcs sporadically printed as full circles.  Here is a picture of the PETG part (Orange) next to the PA-CF part:

![IMG_3133](https://user-images.githubusercontent.com/35717808/103419918-ee70d580-4b49-11

[2020-12-31 18:11] FormerLurker commented on #111
Hi there!  I think this is a duplicate issue that has been solved in the [latest devel rc](https://github.com/FormerLurker/ArcWelderPlugin/releases/tag/1.0.1rc1.dev2).  See the release notes for details, and install with this link (there was a compiler issue with the previous version):

```https://github.com/FormerLurker/ArcWelderPlugin/archive/2dedd1b9dfa5da4e75e968107473a8113369e709.zip```

I ra

[2021-01-01 17:21] Snargaloo commented on #111
I have now installed Arc Welder v1.0.1rc1.dev2+u.a0f41e1.  I have not modified any other software versions and attach the original sliced gcode:
[HEAD_FRAME_eSun_ePA-CF_FR77651-(1).zip](https://github.com/FormerLurker/ArcWelderPlugin/files/5759193/HEAD_FRAME_eSun_ePA-CF_FR77651-.1.zip)

and the welded gcode:
[HEAD_FRAME_eSun_ePA-CF_FR77651-.aw(1).zip](https://github.com/FormerLurker/ArcWelderPlugi

[2021-01-01 17:30] FormerLurker commented on #111
It looks good now!  Here is what the welded code looks like in Simplify 3D:
![image](https://user-images.githubusercontent.com/33363128/103443366-40862980-4c24-11eb-8305-29454d327d14.png)

You can also install the *PrettyGCode* OctoPrint plugin to view welded files now, as long as you have the latest update.  Here is what it looks like in there:

![image](https://user-images.githubusercontent.com/

[2021-01-01 17:36] Snargaloo commented on #111
Is the version of Pretty GCode that you mention on the regular versioning branch?  Or is it a development version?

[2021-01-01 17:40] Snargaloo commented on #111
I just checked with the version of Pretty GCode that I have installed.  I loaded the welded gcode file that has the full circles and it renders the file just as it printed with full circles!  Thank you for the heads up!

[2021-01-02 07:17] cjamison08 commented on #30
Ok, so I just noticed this same issue, would not have caught it, had it not sent my bed clips across the room, so I kept an eye on the print, untill it cleared the clips, and noticed it a few more times. Is there a workaround for this? Other than just running it from the sd card? I may just run the arc welder plugin from cura, instead of octoprint, and see if the issue reproduces itself that way.

[2021-01-02 13:19] ldursw commented on #30
I've been trying to fix this issue since I posted here. Here's what I found out so far.

It only happens when there are arcs in the gcode. I did a 15-hour long print without arcs and got zero resends. A simple 20-minute print with arcs can have anywhere between 0 to 5 resends or sometimes even more. This bug is not deterministic, the exact same gcode file can have different resend ratios when prin

[2021-01-03 19:13] FormerLurker commented on #108
I have not seen this before!  I recommend trying to upgrade marlin, because arc welder does not alter any commands dealing with temperature.  Let me know how it goes, and I'll keep my eyes peeled for any similar reports.

[2021-01-03 19:14] FormerLurker commented on #110
Any reason you are wanting to keep both the welded and original gcode?  Just curious.

FYI, I've been having a lot of issues deleting/moving files, and don't think I can implement this until I've worked those problems out.

[2021-01-03 19:16] FormerLurker commented on #111
@Snargaloo, have you tried the new arcwelder that I linked to (installed in plugin manager->get more->from url... with this link ```https://github.com/FormerLurker/ArcWelderPlugin/archive/2dedd1b9dfa5da4e75e968107473a8113369e709.zip```)?

[2021-01-04 00:41] PixelOrange commented on #92
I found the Z line adjust in the start g-code in Cura. Arc appears to not mess with that at all. I don't see another Z adjust until layer 1. I'm considering removing the Z line adjust in the starting code just to see if the behavior continues but at this point I'm not sure it's arc that's causing the issue. I just don't understand why it only happens with arc prints.

[2021-01-04 00:43] FormerLurker commented on #92
I think I finally understand what is going on.  I will be reviewing this soon, probably tomorrow.

[2021-01-04 15:35] FormerLurker commented on #92
@PixelOrange,

This line suggests you have both mesh enabled (loaded from memory) and that you have z fade turned on:

```M420 S1 Z2 ;Enable ABL using saved Mesh and Fade Height```

I'm guessing you have a BL Touch installed?  If so, remove that line and try it again.  You should be able to just delete it from the arcwelded gcode and run it again.

If that fails I suggest you try the original non-

[2021-01-04 15:44] PixelOrange commented on #92
I do have a BLtouch. It came with the printer. I'll give that a shot and let you know. I don't want to use mesh leveling as my bed is fairly level. None of my prints run through the mesh points at the beginning of the print, just the initial check to find the bed height.

Thank you!

[2021-01-04 19:58] FormerLurker commented on #109
Hey, I just released some binaries for windows that are statically linked to the required dlls.  If you wouldn't mind trying them out (might have to uninstall the C++ runtime) [by downloading the latest build here](https://github.com/FormerLurker/ArcWelderLib/suites/1759533024/artifacts/33499772), that would be awesome.

[2021-01-04 21:57] PitbullRaven opened #112 "OctoPrint Error File Not Found"
Today I noticed that when I print from Cura to OctoPrint, the files were uploaded to OP, then analised as expected, however the resulting .aw file was not being loaded after analysis and therefore the original uploaded file was being printed instead. Changed AW to delete the original in hopes this would force OP to load the calculated .aw file. However, all I get is an error from CURA. After sendi

[2021-01-04 22:00] FormerLurker commented on #112
The solution is to use the arc welder plugin for cura.  See if that works for you

[2021-01-04 22:02] PitbullRaven commented on #112
Was unaware there was a CURA plugin. Installed and will give it a go. Sorry for the stupid question. Please go ahead and kill this issue.

[2021-01-04 22:03] FormerLurker commented on #112
Lol, no prob.  It is new, and there has been a lot of discussion about this.  I hope you enjoy the plugin!

[2021-01-04 22:20] PitbullRaven commented on #112
Is the plugin just added to CURA and it'll do its thing automagically when I send a print to OctoPrint, or do I have to run it somehow before and save the file somewhere to then upload it?

[2021-01-04 22:25] FormerLurker commented on #112
Automagic :)  The best kind

[2021-01-07 16:59] rizwansarwar opened #113 "Arc Welder causing Layer Shift"
Hi @FormerLurker,

Apologies if you have already fixed this as I know you have done fair bit of work since the first release. I wanted to report it in case you have not.

I noticed layer shifts on a print today, I suspected it was the Arc Welder so I printed the non-converted version which resulted in no layer shifts. The layer shift occurs between Layer 20 to 24, there might be more later in the

[2021-01-07 17:10] FormerLurker commented on #113
Of course, I will take a look.  I may ask you to install the devel version since there are more features in there to help diagnose issues, as well as several fixes and enhancements.  If you are willing, I will send instructions.  I should be able to take a look at your gcode before and after over the weekend, which starts tomorrow for me.  If something is wrong with the gcode itself, I will probab

[2021-01-08 14:41] FormerLurker commented on #113
Ok, so I've not found any issues with the GCode, so at this point I'm suspecting either some serial communication issue or a firmware issue.  The serial issue might actually be firmware too because I'm working on a few other similar problems that only seem to happen in creality firmware.  What printer are you using?

Finally, if you are willing to try the devel version, you can install it with the

[2021-01-08 16:45] pietchaki commented on #110
It's something I always did, but now that you ask why... I can't find a good reason... same goes for keeping the gcodes on octoprint for a printer that I keep changing and upgrading...

Thanks for the answer!

[2021-01-08 19:32] JasonLooseArrow opened #114 "Excude regions?"
Disclaimer: I have not yet upgraded to Marlin 2.0.6.
But, Arc Welder works very well when tuned to my prints. However, it distorts smaller details and I'd like to find a way to exclude some specific areas. Is there a way to do this, or do I need to upgrade my firmware? TIA!

[2021-01-08 19:54] FormerLurker commented on #114
So, the issue is 100% related to your firmware version.  However, I have solved your issue in the development version with a new feature, appropriately called 'Firmware Compensation'.  If you would like to try it out, you can install the development version via the plugin manager by clicking 'Get More' and pasting this url into the 'From Url...' box:  ```https://github.com/FormerLurker/ArcWelderPl

[2021-01-09 08:31] FrenkK opened #115 "Increasing fall in conversion accuracy in higher layers"
Hello :)
A rather large print of mine spaghettified recently for no obvious reason. Looking at the timelapse, nothing seems out of place until there is just a lot of pasta everywhere. This almost never happens, so I took a look at the ArcWelder gcode backimported in Cura and it looks like there were some problems in conversion: After about the 390th layer the extrusions start veering of course mor

[2021-01-09 10:28] Krieselwind opened #116 "PreviewPictures are not visible with the "delete" Feature"
Hello,
i have a problem. I use Octorpint with the Cura Plugin and OctoDash. If slice my files in Cura i can send it diretly to Octoprint.

If I use "don't delete files after converting" i can see the Preview Image also on the new generated files. If I chose "delete files" the plugin didn't create the preview image :(

![image](https://user-images.githubusercontent.com/77192643/104089248-a3ec0900-5

[2021-01-09 14:41] FormerLurker commented on #115
What version of the plugin are you using?

[2021-01-09 14:45] FormerLurker commented on #116
Which version of the plugin are you using exactly?  Check the bottom right hand corner of the arcwelder tab.

[2021-01-10 08:20] FrenkK commented on #115
The latest available in Plugin Manager, 1.0.0.

[2021-01-10 15:42] FormerLurker commented on #115
OK, thanks.  I have reviewed your gcode, but it's very difficult to figure out what is going on without the original file.  Perhaps you could attempt a re-slice?

However, I have gotten other reports of issues with tree supports using version ArcWelder V1.0.0.  I  have added some major enhancements to the arc generation algorithm to detect and prevent any potentially bad arcs that you may want to

[2021-01-10 16:08] Krieselwind commented on #116
hi, i found out, that it didn't depend on Cura. Sometimes i got the preview pictures and sometimes not. If i delete the generated AW file and generate a new one, the picture will be there...sometimes. Not easy to reconstruct the failur...

i use arc welder v1.0.0+u.bb71e8f

[2021-01-10 16:34] FormerLurker commented on #116
OK, I suggest upgrading to the devel branch, which has official support for the thumbnails when using the cura thumbnail plugin or the prusaslicer thumbnail plugin.  You can install it from the plugin manager (get more->from url...) with this URL: ```https://github.com/FormerLurker/ArcWelderPlugin/archive/a0f41e1ae75443805278b643ed9162bfcae17394.zip```

Let me know if that takes care of it.  Thank

[2021-01-10 21:25] KenLucke opened #117 "Arc welder not creating arcs"
Should not AW be turning these segments into arcs?

<img width="522" alt="image" src="https://user-images.githubusercontent.com/57936294/104135808-17157e00-5347-11eb-9b10-4b33adb1761b.png">

<img width="860" alt="image" src="https://user-images.githubusercontent.com/57936294/104135821-2dbbd500-5347-11eb-8777-247ab74a5446.png">

[2021-01-10 22:30] FormerLurker commented on #117
I need to see the source and target gcode to determine this.  It also wouldn't hurt to see your arcwelder settings.

[2021-01-10 23:13] KenLucke commented on #117
Settings are default

<img width="684" alt="image" src="https://user-images.githubusercontent.com/57936294/104137922-4206ce80-5355-11eb-8391-52bf5fd844d7.png">

Here are the files, before & after:
https://www.dropbox.com/s/8odecip8le4zssv/Crab%20Float.zip

[2021-01-11 04:53] JasonLooseArrow commented on #114
This is very cool. I'm going to get on this and I'll let you know how it works! Thank you for the help and thank you for letting me work with the dev version.

[2021-01-11 05:10] JasonLooseArrow commented on #114
I am embarrassed to confess that I could not figure out how to download the plugin. I cut and paste into the ". . .from URL" part in the plugins manager, but when I do I get the message: Error: Could not install plugin (filename but no suffix) was neither a plugin archive nor a single file archive.

Can you open this picklejar for me? TIA!

[2021-01-11 17:11] FormerLurker commented on #114
Hmm, I guess I pasted it in wrong, sorry!

[code]

[2021-01-11 17:18] JasonLooseArrow commented on #114
No worries, I appreciate your help!
EDIT (01.13.21@08:46): I'm still testing. Life stuff in the way of printing, but I'm still testing.

[2021-01-11 22:55] dgorbunov opened #118 "Using Arc Welder while automatically printing on file upload?"
I am using Cura, where the Octoprint plugin will let you select if you want the print to automatically start after you upload GCODE. How can I use both this feature and Arc Welder so I don't have to manually start the print every time? Basically, how can Arc Welder 'interrupt' this process and modify the file before it gets printed? Is this even possible? I can't be the only one with this workflow

[2021-01-11 22:57] dgorbunov commented on #118
Ah, see #98 and #46 . My bad

[2021-01-11 22:57] #118 closed, assigned to nobody

[2021-01-11 22:57] FormerLurker commented on #118
Try using the Cura Arcwelder plugin instead.  It's written by FieldOfView, and wraps the console version of arc welder for use with Cura.  Then you can just use the Cura Plugin for Octoprint to do the rest.  Enjoy!

[2021-01-11 22:58] FormerLurker commented on #118
OH, I see you found those issues.  I did add lots of options to ArcWelder, and am in the final stages of perfecting the next release.  There are lots of nice new things in there that you can't do with a slicer plugin, like firmware checking, statistics info, and some other stuff, but at the end of the day all you need is the gcode :)

[2021-01-12 05:25] PixelOrange commented on #92
I was finally able to test this. The saved mesh was the issue. I wasn't aware there was a saved mesh so when I releveled I never ran a new one. Problem solved, thank you!

[2021-01-12 05:25] #92 closed, assigned to nobody

[2021-01-12 15:10] Hextler commented on #113
Same Bug occured with my Ender 5 Pro.
I will try the devel version of Arc-Welder as soon as my current print finishes.

Ive seen once why this layer shift happened on my maschine:
The Tool runned all the way in X_max direction. It even hit the hardware boundaries and tried to go past them, resulting in loud noises. After this the same with y_max, followed by x_minand y_min. Then it continued its p

[2021-01-12 15:27] FormerLurker commented on #113
My suspicion at this point is that this is a firmware problem, but I'll keep looking for issues within the gcode.  If accurate gcode causes a layer shift, I'm not sure what I can do about it.  If the gcode is somehow wrong, then it can be fixed on my end, else this is a downstream (firmware) problem.

@Hextler, one of the issues with these 'bugfix' branches that they do not have a specific version

[2021-01-12 15:48] Hextler commented on #113
I compiled it myself, so in fact it's newer than 2.0.7

There are three exceptations:

If its a firmware issue within the interpolation algorithm, it should happen at least at other 32bit boards.

If its a creality issue i would suggest it happens on other machines with tmc 2208/9 stepper drivers too.

If its hardware specific thean theres nothing anyone could do about it, except switch the board.

[2021-01-12 16:00] FormerLurker commented on #113
@Hextler,

Since all of the arc moves get translated into very short linear moves by the firmware, I would expect if this were a hardware issue , we would be seeing similar issues with standard gcode.  If it is a firmware problem, then it could be related to the various marlin definitions in the configuration files, or it could be an issue with one of the algorithms.

There is a second possibility

[2021-01-12 16:05] bill-orange opened #119 "Unable to change release channel"
Oddly, I can no longer use the release channel selection.  Uninstalling ArcWelder had no effect.

Perhaps you are in the process of releasing a change?
![arc_error](https://user-images.githubusercontent.com/18121312/104339805-dcc5f100-54ac-11eb-9c3e-bf517e78287c.png)

[2021-01-12 16:12] FormerLurker commented on #119
It's a bug unfortunately.  I implemented the new per plugin release channels blind, before it was available, and sort of forgot I did that.  Then I made the mistake of deploying without testing it on the OctoPrint release candidate.  I'm going to talk to Gina to see if it can be fixed via an OctoPrint update.  Otherwise this will require a manual uninstall/reinstall as soon as the next version of

[2021-01-12 16:21] bill-orange commented on #119
thanks, Makes sense.

[2021-01-12 16:21] #119 closed, assigned to nobody

[2021-01-12 16:24] Hextler commented on #113
You might be right, in fact linear moves are normally slowed down in your slicing software using F parameters. G2 and G3 doesnt have one, so they are excecuted as fast as possible.

Currently my max feedrate as well as accelaration are at 500 mm/s (defaults). I could test lowering acceletarion to lets say 300

[2021-01-12 16:31] FormerLurker commented on #113
@Hextler, F paramaters DO work for G2/G3.  My hunch is that your acceleration is right on the cusp of causing the steppers to skip  Maybe try lowering it to 450 first, and see if that takes care of this?  If it does, this will provide some deep insight into how G2/G3 affects 3d printing in general.

[2021-01-12 16:34] Hextler commented on #113
Ok i will try this, and report success or failure in the following days :)

[2021-01-12 17:24] OddHero opened #120 "Rounded Corners cause Problems + Missing Geometry on some layers"
I am using the default Settings in AW and the latest Prusa Slicer 2.3.0 for gcode generation.
Printing on a CTC Bizer.

<img src="https://user-images.githubusercontent.com/1459179/104348655-43c1c500-5502-11eb-96a7-26175226c74b.jpg" height="200"><img src="https://user-images.githubusercontent.com/1459179/104348554-24c33300-5502-11eb-9c38-4638ab662fec.jpg" height="200"><img src="https://user-images.

[2021-01-12 17:27] FormerLurker commented on #120
I've added a workaround for this problem, which is a firmware limitation (MM_PER_ARC_SEGMENT=1.0 in firmware without newer options introduced in marlin 2.0).  See [this issue](https://github.com/FormerLurker/ArcWelderLib/issues/18) in the ArcWelderLib (contains the core algorithm) for details.   If you'd like to try it out, let me know and I'll send you a link to the appropriate devel version.  Th

[2021-01-12 17:32] FormerLurker commented on #120
also gcode.ws is not capable of rendering gcode with g2/g3 commands.  Simplify 3d works well, and the pretty gcode viewer plugin does as well.  Here is a closeup of the gcode run through simplify 3d:

![image](https://user-images.githubusercontent.com/33363128/104350422-c0847d00-54c9-11eb-92e9-7ba0eb412a9a.png)

Long story short:  assume your gcode viewer cannot render g2/g3, unless you know for a

[2021-01-12 18:56] OddHero commented on #120
So it is possible that my printer doesnt support g2/g3 as well?
its a pretty old marlin firmware so maybe...
Anyway yes, i would like to try out the dev version :)

[2021-01-12 19:09] FormerLurker commented on #120
It is possible.  I would try a very small cylinder as a test.  Download the pretty gcode viewer plugin to visualize the model to ensure it's correct.  Then try to print the first layer.  Alternatively, you could construct a simple G2/G3 command and send it to your printer as a test.  I believe I have an example script in the arcwelder plugin page on plugins.octoprint.org if you want to try that.

[2021-01-12 19:47] rizwansarwar commented on #113
Thank for looking into it, I will try the devel version too, I just need to setup another instance of Octoprint (oh yes I forgot to mention my prints were via octoprint). I checked Klipper logs after your comment and it seems there were few buffer overflows during the print, it is possible that the problem is caused by Octoprint (even though Arc welder is designed to help with Octoprint). So I hav

[2021-01-12 19:48] OddHero commented on #120
Alright, i guess i have to do the firmware upgrade sooner than later 😄

Send: G2 X30 I5 J10
Recv: ok
Recv: // echo: (line 107) Syntax warning: unrecognised command word 'I'
Recv: // echo: (line 107) Syntax warning: unrecognised command word 'J'
Recv: // echo: (line 107) Syntax warning: unsupported gcode command 'G2'

That explains why it wasnt working ^^
Thank you for helping with the fast respons

[2021-01-12 19:56] FormerLurker commented on #113
@rizwansarwar, Also check your max acceleration and feedrate.  It's these 'skips' are incredibly difficult to debug.  I've had these issues myself several times (I push the boundaries of speed on my printer).  Sometimes it was mechanical (bad bearing, bed rubbing against frame, tangled filament on printer bed that I caught due in a timelapse).  Once it was firmware (solved 100% via an update).  An

[2021-01-12 20:02] FormerLurker commented on #120
@OddHero, lol!  I thought that was a strong possibility.  Please try installing the dev version and see if it tells you that arcs are not enabled:

![image](https://user-images.githubusercontent.com/33363128/104366302-c59ff700-54de-11eb-9d0d-4246a90ade6c.png)

I haven't gotten enough feedback on that feature to feel comfortable that it works.

[2021-01-12 20:47] Hextler commented on #113
Just to be clear:
In my observed case wasn't any skipped steps.
Instead the tool hammered against the mechanical bounding box of my printer, until it catched itself.
But after the layer shifted.

@rizwansarwar Did you watched your printer, while there was the layer shift, or just noticed it later?

[2021-01-12 20:53] FormerLurker commented on #113
OHHHHH... wow.  Ok.  @Hextler, this is 100% caused by lack of G2/G3 support.  Not sure how I missed that...  I reread your OP and that is now quite obvious to me.  it's It's been a long day :)

[2021-01-12 20:56] Hextler commented on #113
But why did it only happen once in one print, had Cura's Gyroid infill , which has very very much arcs and it happened on different layers after retry the same file.. (Also once but not seen directly)

Other Arc Welder processed files works just great

[2021-01-12 21:03] FormerLurker commented on #113
@Hextler, lol, I'm getting you confused with OP now, lol.  Ok, so forget what I said.  I'll wait for your results turning your speed down.  If I keep getting confused I may separate these issues :)

[2021-01-13 00:27] OddHero commented on #120
![FirmwareCheck](https://user-images.githubusercontent.com/1459179/104390430-f6634900-553d-11eb-9296-10b31f4dd618.png)

Ohh yea Sailfish... its a mightyboard in there...
I am going to upgrade the firmware to run Klipper now, always wanted to see if i can get faster feeds out of the printer that way :)
I will try the Plugin again once i have that up and running.
Thanks again for the support 😉

[2021-01-13 00:34] OddHero commented on #120
Ohh and here is a verbose Log of the Firmwarecheck. Uploading that now, as i am not going to be able to test when changing the firmware.

[plugin_arc_welder.log](https://github.com/FormerLurker/ArcWelderPlugin/files/5805644/plugin_arc_welder.log)

[current.json](https://github.com/FormerLurker/ArcWelderPlugin/files/5805650/current.json.txt)

[2021-01-13 00:40] FormerLurker commented on #120
Awesome!! I was going to ask for you to run M115 and paste in the output, but that is (hopefully) in the log.  Good luck with your klipper migration!!!

[2021-01-13 16:10] mab18 opened #121 "Plugin installed but stay in gray"
Hi,
First of all, thanks you for this plugin and have a happy new year !

I installed the plugin, and installed too apt-get install -y python3-dev (I am under ubuntu)

![image](https://user-images.githubusercontent.com/55535560/104477941-fefd6300-55c1-11eb-89a0-33bab335f614.png)

It stay in gray (not 50 ;-) ) and I don't see any new function...

[2021-01-13 16:13] FormerLurker commented on #121
Try rebooting the pi (not just restarting OctoPrint) and see if that helps.  If not, uninstall and reinstall.  Let me know if that works.  If not, we'll continue trying to figure out what's happening exactly!  You may want to look at octoprint.log and see if it reports any errors while trying to start the plugin.

[2021-01-13 16:25] mab18 commented on #121
I don't have a pi, I have a pc under ubuntu, just in case of.
I already unstalled arc-welder, and reinstalled it, no change.
I look after octoprint.log and I come back ;-)

[2021-01-13 16:34] FormerLurker commented on #121
Ok, that shouldn't be a problem, unless there is some compatibility issue I'm not aware of.  Just make sure to reboot before trying anything else, but looking in the log beforehand is just fine.

[2021-01-13 16:40] mab18 commented on #121
Here my plugin log :
[code]

[2021-01-13 16:42] FormerLurker commented on #121
What we really need is octoprint.log.  also, in the future please post logs to gist.github.com, and link to them in this issue.  Things get too long really fast otherwise.  Thanks!

[2021-01-13 17:29] mab18 commented on #121
[The log as requested](https://gist.github.com/mab18/3685e5412d80d6d7d21f2453d1f2a329#file-log-octoprint-arc_welder)

[2021-01-13 17:39] FormerLurker commented on #121
I need octoprint.log, not plugin_arcwelder.log please.  This one:

![image](https://user-images.githubusercontent.com/33363128/104488444-f8f08d80-5593-11eb-8954-94def6a7612f.png)

Thanks!

[2021-01-13 17:59] mab18 commented on #121
The link is this octoprint.log file, but extract. Do you need the entire file ? There is no error elsewhere in the file.

[2021-01-13 18:05] FormerLurker commented on #121
The entire file please.  If it is really really big, you could delete the existing log, restart octoprint, then post that log.  Thanks!

[2021-01-13 18:06] FormerLurker commented on #121
FYI, the error you posted is known, and won't prevent ArcWelder from working.

[2021-01-13 18:07] mab18 commented on #121
I added entire file in the link

[2021-01-13 18:19] FormerLurker commented on #121
OK, so it doesn't look like OctoPrint itself is having a problem loading the plugin.

IF arc welder settings are showing up here:

![image](https://user-images.githubusercontent.com/33363128/104492663-9a2e1280-5599-11eb-8347-25998c102150.png)

Try this:

1.  Clear out the plugin_arcwelder.log file by going to the Arc Welder settings and clicking this button:

![image](https://user-images.githubuse

[2021-01-13 18:38] mab18 commented on #121
Oh... You know what... ? It works... :-)) But I don't know why. :-//

I had already rebooted my machine, uninstalled/reinstalled...

So , Thank you so much for your help
![image](https://user-images.githubusercontent.com/55535560/104494425-b7cd9d00-55d6-11eb-8121-4c870f4697cc.png)
![image](https://user-images.githubusercontent.com/55535560/104494455-c2883200-55d6-11eb-8161-365074e1d2e8.png)
I have

[2021-01-13 18:45] FormerLurker commented on #121
Awesome!!!!  If you want you can try the devel version, which needs some testing.  There are a lot of cool new features, and a firmware checker.  Let me know and I can send you a link you could use to install via the plugin manager.

[2021-01-13 19:22] mab18 commented on #121
It's ok for me !

[2021-01-13 19:31] FormerLurker commented on #121
Cool, you can install via the plugin manager (get more->from url...) ```https://github.com/FormerLurker/ArcWelderPlugin/archive/2dedd1b9dfa5da4e75e968107473a8113369e709.zip```

If you have problems installing, you can always uninstall it and reinstall the stable release.  Also, I recommend installing 'pretty gcode viewer' which can visualize models with G2/G3 commands (your slicer likely cannot, n

[2021-01-14 01:44] o-nix commented on #106
1. Couldn't install via the initial link, only by commit ID, Python is 3.7.3
2. The option says `Show Show Current Run Configuration`
3. I wiped out the settings before installing the new version, enabled the "Overwrite" option, started a print and it does not show the stats for the processed file; maybe because I didn't restart yet?

[2021-01-14 01:52] FormerLurker commented on #106
@o-nix, not sure why you had install issues, but the statistics not showing up was a race condition.  I will post another release soon.

[2021-01-14 22:56] o-nix commented on #106
@FormerLurker maybe because I didn't delete the previous RC version first?

[2021-01-14 22:57] FormerLurker commented on #106
@o-nix , it shouldn't have mattered unless maybe you upgraded your python version?  there is an issue with the upgrade script ppl have been using that could cause some problems.

[2021-01-14 23:03] o-nix commented on #106
@FormerLurker no, I fully wiped OctoPrint's installation ~2 months ago, almost everything is out of the box. I didn't save the logs, sorry, but everything went good through `pip3` and it was saying something about "installation in error state" at the very end. Then I deleted rc1, restarted, and successfully installed `2dedd1b9dfa5da4e75e968107473a8113369e709.zip`

[2021-01-15 17:38] KenLucke opened #122 "No issue, just an example"
Left: w/Arc Welder (done under Octoprint... the Cura extension always crashes for me)
Right w/o Arc Welder

![IMG_1347](https://user-images.githubusercontent.com/57936294/104759797-4ba58300-5715-11eb-9ac6-1da5069fa99c.JPG)

[2021-01-15 17:42] KenLucke commented on #117
This seems to have solved itself, somehow.  See #122 .
(ain't computers fun?)

You can close it if you feel comfortable doing so,

[2021-01-15 17:48] KenLucke commented on #121
I thought that Pretty Gcode was "verboten" after the OP v1.5.x update due to some conflicts?  I admit, I haven't been following the PGC thread, so is it back in grace?  I liked it because it did what the OP authors said could not be done with the built-in gcode viewer:  handle huge files.

[2021-01-15 19:48] FormerLurker commented on #122
Wow!  Thank you for posting this :)  Would you mind posting your settings?  Also, can I use this image?

[2021-01-15 19:50] FormerLurker commented on #117
@KenLucke, I'm going to leave this up for a bit since I would like to run the numbers on the bit you pointed out just as a sanity check.  I've been tweaking the algorithm a lot (it's a never ending process), and I think it's a worth seeing if I can explain this.

You've posted a lot in here, and i wanted to thank you for being so engaged!  I appreciate it.

[2021-01-15 19:51] FormerLurker commented on #121
@KenLucke, it must have been fixed, or partially fixed at least, because I have been using it since my pull request was accepted (adding G2/G3 support).  Also, even before the PR (which was admittedly very recent), I was using it with some success while developing the new feature.

[2021-01-15 21:23] KenLucke commented on #122
Slicer or AW settings?  AW is just default.

[2021-01-15 21:38] FormerLurker commented on #122
Just defaults!  That is nuts.

[2021-01-15 21:51] KenLucke commented on #122
Yeah, I'm fairly impressed.

[2021-01-16 01:33] KenLucke opened #123 "One nitpicky detail"
Some OSs do not deal well with double file extensions (i.e., filename.something.ext)

You may want to change the default new filename designator("Target File Postfix") from ".aw" to "_aw" or "-aw"

[2021-01-16 09:36] KenLucke opened #124 "RC Barfs on file"
I just installed the https://github.com/FormerLurker/ArcWelderPlugin/archive/2dedd1b9dfa5da4e75e968107473a8113369e709.zip version, and tried to convert a file.  Multiple times.   Failed with an error every time. Rolled back to v1.0.0, and it converted it just fine.

 Log is short, so I'll post  it here:
[code]

[2021-01-16 14:27] Z0333 commented on #99
hi,
i have the same problem.
these are the gcodes
[5X .95 LECH.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/5824525/5X.95.LECH.zip)

i'm using 1.0.0+u.bb71e8f with default settings.

thanks :)

[2021-01-16 19:19] mab18 commented on #121
Hi,
After install of this version, I have a fatal error :
![image](https://user-images.githubusercontent.com/55535560/104820855-147bc280-5838-11eb-8f8f-12dcafe1b5d9.png)
![image](https://user-images.githubusercontent.com/55535560/104820865-252c3880-5838-11eb-9e5b-b83f492ae291.png)

[2021-01-16 19:29] KenLucke commented on #121
As I am sure the author will tell you, it is best to open new, different issues in a, you guessed it, "New Issue" rather  than a  continuation of a different one.  This is the same issue as #124

[2021-01-16 19:41] FormerLurker commented on #121
@mab18, please hop over to issue #124, as @KenLucke  suggests.  It looks like your settings are not loading properly for some reason.

[2021-01-17 14:15] gsteffek commented on #58
Closing this because my issue was resolved ( didn't have it properly configured in Klipper). Using Arcwelder ever since for all my prints and love it.

[2021-01-17 14:15] #58 closed, assigned to nobody

[2021-01-17 18:58] DroneMang opened #125 "Klipper crashes with converted file"
Hi,

I have been using arcwelder for some time and overall I would say I have had no issues, this converted file crashes the printer, causing Klipper to give an MCU shutdown, timer too close.

Here is the unconverted file and converted.

I use SolidWorks for my CAD, and when I export I use the very highest resolution settings, makes large STL/3MF files, but works well usually, perhaps I need a mor

[2021-01-17 22:23] FormerLurker commented on #125
I will take a look.  Whay version are you running?

[2021-01-18 00:53] #121 closed, assigned to nobody

[2021-01-18 00:57] mab18 commented on #124
As I said, this version is dramatic : plugin is crashed and is not in the list of plugins : cannot be installed and cannot be uninstalled... stable version install doenst correct the problem 🤔

[2021-01-18 01:42] mab18 commented on #121
Next to my last post, I close the issue.

[2021-01-18 01:48] mab18 commented on #124
I deleted the error I had : I note that service not well restart when  I click on restart octoprint. I need to see why. When I send the "service octoprint restart", it's ok. I have to make a print tomorow, so I will see if everything is ok with this version.
Sorry for my false positive error and sorry for added it to bad issue. ;-)

[2021-01-18 02:50] FormerLurker commented on #124
Np @mab18!

@kenlucke, looking into your issue.  Will report back tomorrow

[2021-01-18 10:47] mab18 commented on #124
I have to print a gearwheel now, I send you my results ;-)

[2021-01-18 18:11] DroneMang commented on #125
Of arcwelder?  Whatever the newest that octoprint updates to, looks like 1.0.0+u.bb71e8f?  I have arcwelder set to the stable release channel, I'll try dev later and recompile.

I just looked at the .aw file in S3D, I didn't see any issues.  The crash happens right at the start of the print, Klipper says timer too close.

Thanks!

[2021-01-18 19:01] FormerLurker commented on #125
Ok, so I've been researching the error you observed, and it seems like it's typically a communication problem.  Obviously you're not having this trouble on other files, so perhaps something else is going on?  Can you take a look at the terminal output when you are trying to print that file?  Maybe that will be illuminating.

[2021-01-18 19:16] FormerLurker commented on #124
@KenLucke, try installing this build:

```https://github.com/FormerLurker/ArcWelderPlugin/archive/cb5e62706269bce0333017d095ace93ba815535e.zip```

Let me know if that fixes your issue.

[2021-01-18 19:33] FormerLurker commented on #99
OK, so I added some additional checks to ensure extrusion is correct in odd cases.  Perhaps try installing from this latest devel build via the plugin manager (Octoprint settings->Plugin Manger->Get More->From Url...):

[code]

Please try running the exact same gcode file through arc welder, print the result, and let me know how it goes!  Fingers crossed :)

[2021-01-18 20:40] KenLucke commented on #124
Yes, that seems to have solved it.  Thank you.

[2021-01-18 21:14] KenLucke commented on #124
BTW, how do I go about getting a Marlin version into the repository you access for compatibility check?  The firmware version of Marlin I'm using does have everything enabled, but is not  recognized.  I  realize it's just cosmetic and a warning, but others might be concerned (and there now a LOT of people using Nic Wiilson's branch of Marlin 2.0.7, and I've customized it a little further).

[2021-01-18 21:51] FormerLurker commented on #124
Send an m115 command and paste the results in here.  Also, a snap of the warnings would be great

[2021-01-18 22:59] KenLucke commented on #124
As for the warning, it's just the standard one you show  when the firmware is not recognized.

Any Marlin 2.0.[4+].x_NIC will have these same features enabled.

[code]

[2021-01-18 23:15] FormerLurker commented on #124
It is reporting marlin with arcs enabled, right?  The issue with that version scheme is that it is not semantic.  I will have to write a special routine to handle it

[2021-01-18 23:43] DroneMang commented on #125
If I select dev from within octoprint, will it use the 1.0.1rc1.dev2 version or do I need to manually install that?

[2021-01-18 23:47] FormerLurker commented on #125
You would have to paste in an archive url.  I can send the most recent link when i get back.

However, if you have time, see if you can replicate the error and capture the terminal output (the octoprint terminal tab).  100 lines or so should be plenty

[2021-01-19 00:55] DroneMang commented on #125
Changing monitoring state from "Operational" to "Starting"
Send: N0 M110 N0*125
Recv: ok
Changing monitoring state from "Starting" to "Printing"
Send: N1 G90*17
Recv: ok
Send: N2 M83*26
Recv: ok
Send: N3 M106 S41*81
Recv: ok
Send: N4 M140 S60*87
Recv: ok
Send: N5 M190 S60*91
Recv: ok
Send: N6 M104 S240 T0*33
Recv: ok
Send: N7 M104 S240 T1*33
Recv: ok
Send: N8 M109 S240 T0*34
Recv: ok
Send: N9 M109

[2021-01-19 00:59] KenLucke commented on #124
Aw, if it's just for me, don't bother... I know it's not affecting anything.

[2021-01-19 01:01] FormerLurker commented on #124
Is this your fork?  If so, consider just adding a space after the version number.

[2021-01-19 01:02] KenLucke commented on #124
Not mine, but I'll let Nic know.

[2021-01-19 01:04] FormerLurker commented on #124
Thanks!  I will run the existing version number through the parser to see what happens.  Also, there may even be another field that can be used.

[2021-01-19 20:13] seantapscott opened #126 "Slicing file removes retractions and adds features for UM3 printing"
Using Arc Welder inside Cura 4.8.0 (https://github.com/fieldOfView/Cura-ArcWelderPlugin/issues/8) . It created weird results on the converted gcode file.

The WheelHolder model is supposed to be simple semi-circle arcs of 2mm thickness with filleted edges.  Using arc Welder created straight lines across the opening of the semi-circles.

![](https://user-images.githubusercontent.com/20618832/104851

[2021-01-19 20:28] FormerLurker commented on #126
It could definitely be a G2/G3 interpretation issue within the ultimaker firmware.  I did notice that the skirt looks messed up, even on the original file, so there could also be a problem with the slicing.  Do you have a photo of what your printer did with the converted gcode?  It should be pretty easy to tell if arcs are being interpreted as straight segments (basically G1 commands).

That being

[2021-01-19 21:09] seantapscott commented on #126
The skirt is actually correct.  Ultimaker 3 (not 2 like the firmware you listed) has two nozzles with an X-axis offset, so I'm guessing the gcode handles it like that. The two lines are both extruders drawing a skirt.

Anyway, I think we can close this.  Ultimaker's not interpreting the arcs correctly.

[2021-01-19 21:09] #126 closed, assigned to nobody

[2021-01-19 21:12] FormerLurker commented on #126
Ok, since this is probably a downstream issue, I agree.  However, if you could send your printer an M115 command, I'd still be interested in seeing the results.  That would allow me to update the new firmware checker in v1.1 to display Ultimaker firmware info for your version to prevent this issue in the future (at least for the OctoPrint plugin users).  Also, please still consider asking Ultimake

[2021-01-19 21:26] seantapscott commented on #126
Ultimaker 3 doesn't easily allow direct M115 commands.  Not really a console, as far as I know. FieldOfView is going to try to improve the Preview option if he can, but not sure what else'll happen.

Thank you for your time, taking a look, and for the neat arc welder.  I'm going to try to use it on some of my other printers.

[2021-01-20 02:18] DroneMang commented on #125
Where should I install python 3 from?  I have your command from your documentation, but there is an Octoprint link as well: https://octoprint.org/blog/2020/09/10/upgrade-to-py3/

I think I am going to install the new OctoPi image 0.18.0 RC2, which should have python 3 on it, will this be sufficient for ArcWelder?

[2021-01-20 03:03] FormerLurker commented on #125
I think you will still need to upgrade to python 3.  You can use the script you linked to.  Best to run that befort installing any plugins (less to go wrong then).  The command I gave installs the development tools, but the script may install that too (i suspect it does).  If you can install arc welder after the upgrade, then you don't have to run the command i gave.

Also, I still need to look in

[2021-01-20 06:35] opjose opened #127 "Gcode lines being changed"
I ran into a situation where Arc-Welder is changing straight wall lines repeatedly.
In layer 519 or so in my print the straight line wall was abruptly changed into an angle.  Arc-Welder is set to the default settings.
![Unprocessed](https://user-images.githubusercontent.com/15528266/105136521-c7118680-5abf-11eb-8a79-71c381a8b1ac.jpg)
![processed](https://user-images.githubusercontent.com/15528266/

[2021-01-20 06:37] opjose commented on #127
Here are the two G-code files, one after Arc Welder processing...
[TT_ATX_case_v5.gcode.txt](https://github.com/FormerLurker/ArcWelderPlugin/files/5840542/TT_ATX_case_v5.gcode.txt)
[TT_ATX_case_v5.aw.gcode.txt](https://github.com/FormerLurker/ArcWelderPlugin/files/5840545/TT_ATX_case_v5.aw.gcode.txt)

[2021-01-20 20:24] Snargaloo commented on #111
Everything seems to be working well again, thank you!

[2021-01-20 20:24] #111 closed, assigned to nobody

[2021-01-20 21:04] FormerLurker commented on #111
woot!  Thanks for following back up, and enjoy Arc Welder!

[2021-01-21 14:44] realloser commented on #108
Never change a running system. I managed to kill my drivers but finally I have upgraded to Marlin 2.x. I didn‘t do the exact same print, but my test print looked promising. I hope this fixed it.

[2021-01-21 14:46] FormerLurker commented on #108
@realloser, hey, that's great!  I wanted to mention that I DID see [some new code dealing with temperature handling for arcs](https://github.com/MarlinFirmware/Marlin/blob/5ee1087959f88dc60386ff3caa21e75d9e20b128/Marlin/src/gcode/motion/G2_G3.cpp#L174-L178) in Marlin.  Probably related.

[2021-01-22 17:12] b-morgan opened #128 "Arc-Welder errors when reloading OctoPrint (or a plugin) after an update"
My RPi is always on but my printer is only on when I'm printing. If OctoPrint has an update (i.e. 1.5.2->1.5.3 ) or a plugin has an update, Arc-Welder throws two errors if the printer is off (i.e. not connected) when I reload the OctoPrint UI. One is "Error Loading Pre-Processing" and the other is an error about the Firmware.

I'm using OctoPi 0.18.0, OctoPrint 1.5.3, Python 3 on an RPi 3B connect

[2021-01-22 17:13] FormerLurker commented on #128
Which version of arc welder?

[2021-01-22 17:42] b-morgan commented on #128
(I clicked on About looking for it and it wasn't there so I forgot to include it)

Arc-Welder (1.0.1rc1.dev2+u.2a95fab)

[2021-01-22 17:44] FormerLurker commented on #128
Thx, i will add the version to about as well

[2021-01-22 18:42] FormerLurker commented on #128
I'm not able to replicate this with the latest devel version, so perhaps it is fixed?  Here are the steps I took:

1. Disconnect my printer and uncheck auto connect.
2. Reboot and ensure the printer remains disconnected.
3. Upgrade OctoPrint to 1.5.3 and reboot (no error)
4. Upgrade the firmware updater plugin and reboot (no error).

Can you perhaps try installing this latest devel release and see

[2021-01-22 22:45] b-morgan commented on #128
I installed the latest devel release and got the two errors. Since a reboot is required, I figured the errors came from the old version.

I installed the latest devel release again and again got the two errors. I am assuming that these errors came from the new version.

Here is a screenshot. You can't read the error messages because they are behind the Please Reload dialog, but I'm pretty sure the

[2021-01-22 22:46] FormerLurker commented on #128
Ok, i will dig in.  I have not seen thise messages.  Development is hard, lol

[2021-01-23 17:26] FormerLurker commented on #127
Have you actually tried printing this?  The file looks ok in simplify 3d and the pretty gcode viewer plugin.  I do see what's throwing the OctoPrint gcode viewer off though, but I'm pretty sure it should print OK.  I'm going to see if I can make some changes to the algorithm to make this less likely, but I don't think it is a problem per se.

[2021-01-23 17:30] FormerLurker commented on #123
Hey @KenLucke , can you let me know what OSs have an issue with this and what exactly happens?  I just want to understand the problem a bit better before I make any changes.

[2021-01-23 17:31] FormerLurker commented on #117
Hey, going to close this since I can't seem to get to the source files anymore.  Let's call it a fluke :)

[2021-01-23 17:31] #117 closed, assigned to nobody

[2021-01-23 17:32] FormerLurker commented on #4
Going to close this out due to inactivity.  Thanks for your post, and feel free to open another issue if you are still having problems!

[2021-01-23 17:32] #4 closed

[2021-01-23 17:33] FormerLurker commented on #25
The cura plugin written by @FieldOfView is now available in the marketplace, so this can be closed.  Enjoy!

[2021-01-23 17:33] #25 closed

[2021-01-23 17:35] FormerLurker commented on #11
FYI, this file has proved to be extremely useful for testing arc-welder in general.  It contains a lot of tricky situations, and I wanted to thank you for sharing it!  Going to close this out since you can be sure that any release of arc welder will be tested with this file :)

[2021-01-23 17:35] #11 closed

[2021-01-23 17:39] FormerLurker commented on #30
Can you guys try this latest devel version?  There was one possible issue that could maybe be causing this (overflow issues caused by I+J values growing too large):  ```https://github.com/FormerLurker/ArcWelderPlugin/archive/cb5e62706269bce0333017d095ace93ba815535e.zip```

I'm planning to promote this to an RC, perhaps with a few other minor alterations.  The firmware checker should now work as ex

[2021-01-23 17:40] FormerLurker commented on #40
I'm closing this out since I'm getting ready for another RC.  Thank you to everyone who provided feedback!

[2021-01-23 17:40] #40 closed

[2021-01-23 17:42] FormerLurker commented on #48
Going to go ahead and close this out for inactivity.  If you have any future problems, please create another issue, and thank you for your post!

[2021-01-23 17:42] #48 closed, assigned to nobody

[2021-01-23 17:51] cjamison08 commented on #30
If your using cura, the plugin for it, has completely mitigated the issue for me, it seems to be something within octoprint, that after missing a step, only sends a partial move code back to the printer. However with the cura plugin, it does not do this.

[2021-01-23 18:05] KenLucke commented on #123
I just recall that I've used some OSs in the past that required only a single dotted file extension, otherwise they read the first ".something" as the extension.  It's not a big deal, just change the default in the settings to an underscore and no one will ever be the wiser.  It's not any code change, just a settings-default-out-of-the-box change.  I just changed mine in the settings and it's fine

[2021-01-23 18:05] FormerLurker commented on #57
Sorry it took me so long to respond, but I have fixed this issue.  Try installing with this URL in the plugin manager:  ```https://github.com/FormerLurker/ArcWelderPlugin/archive/devel.zip```

It should hopefully now report that arcs are enabled.  Basically I'm replacing the ```G2/G3 NEITHER I NOR J GIVEN``` message with an OK, and using that to determine if arcs are enabled.

[2021-01-23 18:08] KenLucke commented on #117
Damn, I switched to a new laptop due to my old one needing a keyboard replacement (almost all the keys were doooooubbble and tripppppppple tapppppppping and I had to fix 3 out of 5 words I'd type, which was highly annoying) and was doing some cleaning up of my local dropbox space and deleted them.  I had ass/u/med you had downloaded them.

I agree with calling it a fluke unless it pops up again.

[2021-01-23 18:16] FormerLurker commented on #63
This issue has been inactive for a while, so I'm going to go ahead and close it out.  Just message me if you want it re-opened, and thanks for posting!

[2021-01-23 18:16] #63 closed, assigned to nobody

[2021-01-23 18:22] FormerLurker commented on #80
I think this feature has been vetted enough to close this issue.  I've updated the defaults per your recommendations (14 min_arc_segments).  Thank you SO much for helping with this @5axes!  It's been a pleasure :)

[2021-01-23 18:22] #80 closed, assigned to FormerLurker

[2021-01-23 21:30] brettvitaz opened #129 "Processed gcode has detrimental effect on small features using default parameter values"
Thanks for the plugin! I have just started using it and am having some issue with small circular features.

I have not adjusted the parameter values from default.
Resolution = 0.05mm

The result of the processed gcode causes deformed posts on prints. Here is an example of unprocessed and processed output:
![IMG_0106](https://user-images.githubusercontent.com/7563757/105614513-be9aa380-5d7e-11eb-92

[2021-01-23 21:33] xeddog commented on #25
YAAAAAAAAY.  What took you so long???

(Seriously, ThankyouThankyouThankyou)

[2021-01-23 22:04] ETE-Design commented on #55
@FormerLurker Sorry to highjack you again... But seems like you know how to set up actions and other things here to compile for Windows... I understand if you don't want to use your time on my question... But here it comes, https://github.com/Zip-o-mat/Slic3r/ is only compiled for Linux cause the owner don't know how to comlile it on Windows... Can you help, mabye even if I can compile it on my lo

[2021-01-24 01:37] opjose commented on #127
No I did not try printing it fully. I started to print the part and noticed the incorrect wall in the preview, so I stopped the print and re-printed the unprocessed version.

I thought to bring it to your attention in case this was something that needed review.

Thanks for responding!!!  You have created the single most essential plugin IMHO.

THANK YOU!

[2021-01-24 02:18] FormerLurker commented on #55
I will take a look.  I am assuming this is for automation (github actions), right?  When i have some time I will look at he make (hopefully cmake) script.

[2021-01-24 02:25] FormerLurker commented on #127
I couldn't do it without people like you, who report issues, so thanks!  Again, technically the gcode is correct, and it should print ok (at least in marlin), but it illustrated a case scenario i havent covered, which will be a good thing to implement (combination of colinear points into a single line)

[2021-01-24 02:28] FormerLurker commented on #129
Well, this is firmware related.  I have posted a pull request to fix this in the mk2/mk3 firmware github.  However, i wouldn't assume it will be accepted.  I have added a new feature to the devel Branch to deal with this shortcoming called firmware compensation (in addition to a bunch of other things).  Would you be willing to give it a go and see if it solves your issue?

[2021-01-24 04:29] brettvitaz commented on #129
Sure, I'll try out the changes. I have installed the plugin from the Devel branch and will post an update with the results.

[2021-01-24 09:36] ETE-Design commented on #55
@FormerLurker I'm not good at Github Actions, so if it can be done direct from my computer that would also be fine... The creater seems like he' dosen't know it either... Can IT be done in VSCode mabye?

[2021-01-24 11:08] rizwansarwar commented on #113
@FormerLurker So I have done extensive testing since last time, tried your beta too. I have not seen a single layer shift since then. Printed at faster speeds too which did not cause any issues. It is really weird because I was able to reproduce this multiple times when the layer shifts were happening. I can only put it down to Octoprint and Raspberry Pi being the culprit. From my perspective this

[2021-01-24 11:08] #113 closed, assigned to nobody

[2021-01-24 16:45] appleboblin opened #130 "Noticeable seam"
Thank you for making the plugin! I've just started 3d printing around 2-3 weeks ago.
I have tuned my machine so that the seam are not as visible. When I tried out the plugin, I noticed that the seam became very noticeable.

Here is an example of the seam:
![image0765](https://user-images.githubusercontent.com/16847957/105637006-11bb4600-5ea6-11eb-809d-ebf85183dd2a.jpg)

Printer: Ender 3 V2
Slicer:

[2021-01-24 17:04] pmos69 commented on #106
Running 1.0.1rc1.dev2+u.cb5e627 on an FLSun QQ-S Pro (repetier) and after quite a few prints it keeps on working great, with default settings.

At last I can use octoprint with this printer without micro stutter issues.
[code]

[2021-01-24 17:05] FormerLurker commented on #130
Can you attach your before and after gcode so i can make sure it isn't a problem with the algorithm?  Thanks!

[2021-01-24 17:27] FormerLurker commented on #55
So, if a github action is added to the repository, the binaries can be built automatically when changes or releases are added to github.  This isn't all that difficult since there is already a cmake script.  I'm sure you can build it with vscode, but you will have to install the cmake extension.  Also, cmake might need to be modified so that a windows build will work.

[2021-01-24 17:28] FormerLurker commented on #113
thanks for following back up @rizwansarwar  It can be very difficult to figure out what is causing any problem since there are so many systems interacting.  I'm very glad things seem to be working as expected now!

[2021-01-24 17:30] FormerLurker commented on #106
Wow, that is some major compression!  I'm prepping dev3 now, which will hopefully be the last dev rc.

[2021-01-24 17:32] FormerLurker commented on #129
excellent, thanks!  I think the default firmware compensation settings should work well for you:

![image](https://user-images.githubusercontent.com/33363128/105638344-c5392180-5e37-11eb-8c69-2d29802a274b.png)

Also, I'm interested in what the firmware checker says about your printer:

![image](https://user-images.githubusercontent.com/33363128/105638362-d84bf180-5e37-11eb-9e1f-538529f0216e.png)

[2021-01-24 17:35] FormerLurker commented on #25
LOL!  I didn't create the plugin, so thank @FieldOfView

[2021-01-24 17:36] appleboblin commented on #130
I have deleted the cylinder files not long ago from octoprint, not sure how to recover it. However, I do have another print with both files. It also have noticeable seam.
![IMG_1177](https://user-images.githubusercontent.com/16847957/105638348-22bb8580-5ead-11eb-827e-6d96d2c27dd6.jpg)

Here are the g codes.
 [Before](https://github.com/FormerLurker/ArcWelderPlugin/files/5862803/CE3PRO_bltouch_adap

[2021-01-24 17:37] appleboblin commented on #130
This file was sliced with Cura and the cylinder was sliced with PrusaSlicer

[2021-01-24 17:38] FormerLurker commented on #130
K, if you could slice and reprocess the cylinder, that would actually be better.  It will be much easier to review the gcode, which needs to be done by hand at great expense, lol.

Also, which version of klipper are you running (Sending M115 should work well to determine this)?

[2021-01-24 17:39] ETE-Design commented on #55
@FormerLurker Already have VSCode + CMake Extention :-) Just don't know how to compile stuff like this :-( And thanks for looking at it :-D

[2021-01-24 17:44] FormerLurker commented on #55
Looks like [boost](https://www.boost.org/users/download/) needs to be available in order to compile.  I have one error showing this is missing on my PC, and two others probably due to missing boost.

[2021-01-24 17:45] appleboblin commented on #130
FIRMWARE_VERSION:v0.9.1-153-g64097cb0 FIRMWARE_NAME:Klipper
[cylinder2_0.2mm_PLA__44m.gcode.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/5862831/cylinder2_0.2mm_PLA__44m.gcode.zip)
[cylinder2_0.2mm_PLA__44m.aw.gcode.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/5862833/cylinder2_0.2mm_PLA__44m.aw.gcode.zip)

[2021-01-24 17:51] FormerLurker commented on #55
Hey, @ETE-Design, perhaps we should move this to the [discussions](https://github.com/FormerLurker/ArcWelderPlugin/discussions/) page?  I just realized that people who commented on this issue are getting emailed about our posts.

[2021-01-24 18:14] FormerLurker commented on #130
I can't see anything obviously wrong with the welded gcode.  I made sure the wipe retractions added up to the proper amount on the first few layers, and did an overlay of the original and welded files:

![image](https://user-images.githubusercontent.com/33363128/105639271-d9cbe880-5e3c-11eb-9cdf-b30ffc3e2bf0.png)

As you can see, they are extremely close.  Here is what simplify shows with the 'ret

[2021-01-24 18:22] brettvitaz commented on #129
I have set the firmware compensation to your suggested values. The output is much improved and is now similar to the unprocessed version. Thank you for your help!

Here is the reported Firmware Compatibility:
![Screen Shot 2021-01-24 at 10 19 53 AM](https://user-images.githubusercontent.com/7563757/105639583-062c3880-5e2e-11eb-8082-a6a1916c6e84.png)

[2021-01-24 18:25] FormerLurker commented on #129
You may want to consider posting an issue to the PrusaFirmware repository.  I think it would be good if they knew how many people are affected by the shortcomings of their current g2/g3 implementation.  If enough people are having problems like your, perhaps some changes will be made?

[2021-01-24 18:28] appleboblin commented on #130
I am using 1.0.0+u.bb71e8f, the one from OctoPrint plugin page. I will print the none processed side by side for comparison once my current print is done. I have not yet tried printing A cylinder since upgraded to klipper, the one with arc welder was the first. Not sure if there will be noticeable seam or not for cylinders but other prints don't have seam that are very noticeable other than the fi

[2021-01-24 18:28] brettvitaz commented on #129
I will post an issue with PrusaFirmware. Does the same issue exist in Marlin? I have some Ender 3 printers running the latest Marlin release. I can check those some time next week.

[2021-01-24 18:30] FormerLurker commented on #129
@brettvitaz, the latest version of marlin has much enhanced arc interpolation capabilities.  Depending on the settings, you won't have any issues on the latest marlin.

[2021-01-24 18:33] brettvitaz commented on #129
Great! Thanks again.

[2021-01-24 18:33] #129 closed, assigned to nobody

[2021-01-24 18:39] FormerLurker commented on #130
OK, if the seam doesn't appear in the non-welded version, I may ask you to try the latest devel code just to see what happens.  Lots of changes have been made since the original release.

[2021-01-24 18:50] KenLucke commented on #128
I can confirm this bug.  It only happens on reload after a restart of OP, and normal function seems to be fine after OP finishes reloading.

![image](https://user-images.githubusercontent.com/57936294/105639985-2ceb6e80-5e30-11eb-8fc4-e27782a97c07.png)

Arc-Welder (1.0.1rc1.dev2+u.cb5e627)

1. Restart (not reload) OctoPrint
2. Click the "Reload Now" button immediately when it appears
3. Voilà

[oc

[2021-01-24 19:12] FormerLurker commented on #128
I tried 10 times, and it happened once.  I believe the core issue is that the onDataUpdaterReconnect event occurs before the blueprints work (404 error calling them apparently, but I can't be sure since the js gets reloaded).  This isn't convenient, and the fix will prevent errors that are legit from being shown, so as a compromise I'm adding the error to the console log instead of a popup.  I'm t

[2021-01-24 19:51] KenLucke commented on #128
Odd, it happens 100% of the time for me.  Nothing (literally) shows in the Arc Welder debug log.

[2021-01-24 19:55] FormerLurker commented on #128
Yeah, because the error is that the browser is unable to communicate with the backend, so nothing ever gets to the python code.  This could be timing related (when is the reload button clicked), or maybe connection related (I'm hardwired).  I was recording my screen when trying to replicate, and it was about 10 tries before I saw it.  I have tried the same number of times on the fix, and got no er

[2021-01-24 19:55] b-morgan commented on #128
I get some kind of firmware error on my TAZ 6 because I'm running a "bugfix" version of Marlin 2.0. Has that got something to do with why I have the error 100% of the time?

[2021-01-24 19:56] FormerLurker commented on #128
What is the error?  Screenshot?

[2021-01-24 20:01] b-morgan commented on #128
![Screenshot_2021-01-24 OctoPrint](https://user-images.githubusercontent.com/1547854/105642003-35e63b00-5e44-11eb-8f6a-1989c3f7d84b.png)

[2021-01-24 20:05] FormerLurker commented on #128
Does the 'known issue' message not explain this adequately?  If not, any suggestions on how to improve it, or add something else?  You can disable the checker in the settings if it annoys you.

I have no idea why the bugfix branches don't include a base version number.  The version numbering for the bugfix branch doesn't give any info about what version it is based on unfortunately.  Maybe i will

[2021-01-24 20:18] b-morgan commented on #128
When I said "some kind of firmware error" it was because I didn't remember what the error was... I understand the error and it doesn't bother me because arcs are working fine. The errors I'm getting when I update with the printer turned off (the original post) are annoying but are not preventing me from printing. I reported it because I don't like to be conditioned into ignoring errors because one

[2021-01-24 20:49] FormerLurker commented on #128
@b-morgan, you are absolutely correct, and I don't want to give you the mistaken impression that I don't think this is a real and serious issue!  You have consistently reported problems you have discovered, which have helped me greatly to improve my software over the years.  KEEP IT UP PLEASE!  I need more people like you and @KenLucke.

So, regarding your OP, please try this build and let me know

[2021-01-24 21:24] KenLucke commented on #128
Will be a while before a printer is free to try the new build. (25 hours on Blue, 52 hours on Yellow, and 63 hours on Red)

[2021-01-24 21:24] xeddog commented on #25
@fieldOfView<https://github.com/fieldOfView> certainly deserves a thank you also.  But it would not have happened without your work.

Wayne
[https://avatars2.githubusercontent.com/u/143551?s=400&v=4]<https://github.com/fieldOfView>
fieldOfView (Aldo Hoeben) · GitHub<https://github.com/fieldOfView>
fieldOfView has 88 repositories available. Follow their code on GitHub.
github.com

_________________

[2021-01-24 22:59] brettvitaz commented on #129
Using the settings you suggested, I printed a part this morning and noticed significant straightening of the arc segments.

I'm not sure if they show up well in this photo, but here are the results:
![IMG_0107](https://user-images.githubusercontent.com/7563757/105646371-76e64b80-5e54-11eb-92d2-161718e63b18.png)

[2021-01-24 23:05] FormerLurker commented on #129
You can increase min arc segments.  Marlin's default is 24, but you won't get much, if any, compression like that.  The firmware compensation is a hack, unfortunately, so the only real fix is to update the firmware.

[2021-01-24 23:06] FormerLurker commented on #129
When i said you won't get much compression, i meant for small arcs, like your example.  Large pieces will perform better.

[2021-01-25 01:15] b-morgan commented on #128
Down to one error message (from two)...

![Arc-Welder-2](https://user-images.githubusercontent.com/1547854/105650174-24b32380-5e70-11eb-97ae-1241aa5e68c4.jpg)

[2021-01-25 02:05] FormerLurker commented on #128
Drat!  Must have missed one.  Will get it and post back...

[2021-01-25 05:28] appleboblin commented on #130
![IMG_1181](https://user-images.githubusercontent.com/16847957/105664923-d013b500-5f10-11eb-87ec-4a1937c01fd2.jpg)
I've just printed the non-welded version, but I think my printer currently have some extrusion issue. But I can defiantly feel the seam on the welded version more. I will post the result once I fix the extrusion issue

[2021-01-25 08:19] appleboblin commented on #130
Seems like I have more tuning to do when it comes to printing cylinder, both have the same issue. I think I'll have to play around with pressure advance a bit more. Thanks for your help!
![IMG_1184](https://user-images.githubusercontent.com/16847957/105679163-06f5c500-5f29-11eb-8e8e-7f99a2248ca1.jpg)

[2021-01-25 19:52] FormerLurker commented on #128
Try this version:

```https://github.com/FormerLurker/ArcWelderPlugin/archive/1ccf7f219c1166432bc7b9a9b20e32ba29516459.zip```

FYI, I did verify that this is a different error than the two I prevented.  This further illustrates that this is indeed a race condition of some kind, else all of the errors should trigger every time for everyone.  I would not expect to be unable to contact the sever afte

[2021-01-25 20:41] b-morgan commented on #128
I installed this one twice and the error message is gone.

[2021-01-25 20:45] FormerLurker commented on #128
Awesome, thank you very much!

[2021-01-26 01:37] KenLucke commented on #128
I am still getting the two error messages originally noted.  The key to getting them is to click the "Reload" button as soon as it appears after a restart.

[2021-01-26 01:39] FormerLurker commented on #128
Can you take a snapshot of the error so i can see what it is?

[2021-01-26 01:52] KenLucke commented on #128
Same one(s) as above ^
![image](https://user-images.githubusercontent.com/57936294/105788819-10395e80-5f36-11eb-841e-6bde607f3825.png)

This is using the latest URL install you had above (https://github.com/FormerLurker/ArcWelderPlugin/archive/1ccf7f219c1166432bc7b9a9b20e32ba29516459.zip)

[2021-01-26 01:53] KenLucke commented on #128
Well, NOW, I can't get it to do it.  Weird.

[2021-01-26 01:58] FormerLurker commented on #128
Probably cached js somehow, i guess.  I searched the code for those messages, and they are not producing pop-ups anymore.

[2021-01-26 02:11] cmroche commented on #99
@FormerLurker I had the same issue, I can confirm that it's working now on the devel package.

[2021-01-26 02:12] FormerLurker commented on #99
Thanks, excellent!

[2021-01-26 02:13] KenLucke commented on #128
Yeah. it stopped doing it after I reloaded a half a dozen times.

[2021-01-28 23:08] KenLucke opened #132 "[Feature Request] Set Color after processing"
It would be nice to have a quick and easy way to distinguish between a processed and unprocessed file without having to squint at the filename `<g>`

If there were an option to set a different color to a processed files, much as OP itself changes from black text to green after a successful print or red if it failed it would be a snap.  A optional color picker to choose your own color would be a pl

[2021-01-28 23:13] FormerLurker commented on #132
What about using a prefix, like AW_?

[2021-01-28 23:34] KenLucke commented on #132
These old eyes still have to squint at the filename.  It was just a thought.

[2021-01-29 17:45] Delta-38 opened #133 "Issue with small cilinders"
Hi, I really like ArcWelder plugin, so much so I had turned it to automatically process all files I sent for print.
I'm printing on an Anet A8, for the most part I'd say it (AW) does a stellar job, but I have encountered a strange persistent issue with small cilindrical features.
For a time I thought my motors must be going since I coudln't find anything different in the settings.

The effect is t

[2021-01-29 18:05] FormerLurker commented on #133
See [this issue (enhancement)](https://github.com/FormerLurker/ArcWelderLib/issues/18) in the ArcWelderLib repo about this very problem.  The feature I linked to there is available in the devel branch if you want to try it out.  Let me know if you would like to help me test, and if you need instructions on how to install it.

I recommend setting min arc segments to at least 14, but no higher than

[2021-01-29 21:58] FormerLurker opened #134 "Feedback for V1.1.0rc1"
As usual, all feedback regarding [v1.1.0rc1](https://github.com/FormerLurker/ArcWelderPlugin/releases/tag/1.1.0rc1) is welcome here!  I'm interested in what you love, what you hate, what you think is missing, or any general feedback, including just a message saying it installed properly and is working as expected.  The more feedback I get, and the better it is, the faster I will push out v1.1.0 fo

[2021-01-30 17:10] FormerLurker commented on #130
Glad to be of assistance.  Since this appears to not be an arcwelder issue, I'm going to go ahead and close this out.  If you run into any additional problems, please let me know, and consider helping me test the newest release: v1.1.0rc1 (I can provide installation instructions if necessary).

Again, thanks for your post!

[2021-01-30 17:10] #130 closed, assigned to nobody

[2021-01-30 17:11] FormerLurker commented on #128
Ok @KenLucke  and @b-morgan, I've released this fix in v1.1.0rc1.  If either of you would like to help test that, you can leave feedback [here](https://github.com/FormerLurker/ArcWelderPlugin/issues/134).

As usual, thank you for pointing this issue out and sticking with it all the way to the resolution!  Much appreciated.

[2021-01-30 17:11] #128 closed, assigned to nobody

[2021-01-30 17:17] FormerLurker commented on #132
@KenLucke, what about using the 'Source File Deletion' option here:

![image](https://user-images.githubusercontent.com/33363128/106363106-25bed780-62ec-11eb-915e-d85298ec1ab9.png)

Or, if you don't want the file name changed you could also use this option:

![image](https://user-images.githubusercontent.com/33363128/106363130-42f3a600-62ec-11eb-93a1-d682e63681c0.png)

Finally, you can achieve the

[2021-01-30 21:22] FormerLurker commented on #123
So I did a bit of research, and aside from some very old MacOs (no longer supported) double extensions seem to be fine in all OSs that ArcWelder supports (Windows, Linux flavors, MacOs), so I think I'll just leave it the way it is right now.

Good suggestion here, but it seems things have changed regarding compatibility for this kind of file.

Please keep these recommendations coming if you have o

[2021-01-30 21:22] #123 closed, assigned to nobody

[2021-01-30 22:40] KenLucke commented on #123
LOL, all it would have taken was changing the default showing in the settings dialog on plugin install from ".aw" to "_aw",  I didn't mean for it to become that big of a deal.

[2021-01-31 03:51] KenLucke commented on #134
Weird behavior... I don't know if it happened under previous versions or not.  Very large file.  Went crazy, speed wise, first layer.  It was set to 20 mm/s for first layers, but started slow, then suddenly kicked up to what looked like 150 mm/s or so, causing massive failures in bed adhesion.  Tried it twice, re-processed the file twice, did it consistently.  Original file prints normally.

Zip a

[2021-01-31 19:16] schwos commented on #110
+1 for this feature, I would prefer to have the original untouched file moved to a folder like /originals and the post processed file remain in the root. Then I allow another plugin move files within root to a archive folder after X days.

What issues are you having when deleting/moving files within the code? Typically has to do with permissions but if the root folder is owned by the running owner

[2021-01-31 19:16] FormerLurker commented on #134
@KenLucke, can you create a separate issue for this and include the terminal output for the first layer?  I'm looking at the file right now in simplify 3d, and the first layer looks like it should be printing at between 300 and 1170mm/min:

![image](https://user-images.githubusercontent.com/33363128/106395190-70148700-63c6-11eb-8eec-94c3118dd4dd.png)

It could be that some overrun happened since G

[2021-01-31 19:34] FormerLurker commented on #110
@schwos, been thinking about this, and would it not be better to have a second plugin that can organize files based on various criteria, like file name, upload date, metadata, and use some kind of 'if this then that' style interface to trigger some kind of action?  Regex and wild cards could be supported.

It wouldn't be too terribly difficult to add this to arcwelder, I'm just thinking about gett

[2021-01-31 19:36] KenLucke commented on #134
I can create the issue separately,  but as it's in the middle of a 6 day print, the terminal output will have to wait :)

[2021-01-31 19:38] KenLucke opened #135 "AW Somehow hoses first layer speed on huge conversions."
@KenLucke, can you create a separate issue for this and include the terminal output for the first layer?  I'm looking at the file right now in simplify 3d, and the first layer looks like it should be printing at between 300 and 1170mm/min:

![image](https://user-images.githubusercontent.com/33363128/106395190-70148700-63c6-11eb-8eec-94c3118dd4dd.png)

It could be that some overrun happened since G

[2021-01-31 19:39] KenLucke commented on #135
It will be a while before I can free the printer to be able to include the terminal output for the first layer, as requested.

[2021-01-31 19:40] KenLucke commented on #135
Here are the actual speed settings from Cura:

<img width="501" alt="image" src="https://user-images.githubusercontent.com/57936294/106395816-1fe2f800-63b9-11eb-9813-0f4a3193834b.png">

[2021-01-31 19:42] KenLucke commented on #135
This one is important to me, as I do a LOT of huge files, and AW not only helps the stuttering, it reduces filesize so that OctoPrint's gcode tab can display them (this one won't display as it's 266.3 Mb, whereas the AW conversion is only 107.8 Mb and WILL display)

[2021-01-31 19:46] FormerLurker commented on #135
Ok.  After you capture the terminal output, try switching the maximum radius to 1000mm, re-weld, and try the first layer again.  If that fixes it, I may  need to rethink my defaults.

So, My guess as to what the issue is still stands:  The gcode is overflowing the buffer.  This MIGHT be happening on G2/G3 that have all of the possible parameters (X, Y, Z, E and F), and are of a very large radius.

[2021-01-31 19:57] KenLucke commented on #135
Will do, as I said, it will be a while.  I want to use the same file, so I need to use the same printer, the other one(s) are set up with different sized nozzles, retracts, etc., so I want apples to apples, not apples to rusty shelf brackets.

[2021-01-31 19:59] KenLucke commented on #135
Let me pull up the firmware build files and see if I can find the maximum gcode length.  Any idea what it's called (I suspect something such as MAX_GCODE_LENGTH or something similar)?

[2021-01-31 20:04] FormerLurker commented on #135
[Here it is](https://github.com/MarlinFirmware/Marlin/blob/5ee1087959f88dc60386ff3caa21e75d9e20b128/Marlin/Configuration_adv.h#L1901-L1903) in the current marlin 2 implementation.

[2021-01-31 20:13] KenLucke commented on #135
OK, mine's set at the default of 96, and that command you quoted was only 58, so that's apparently not it.

[code]

[2021-01-31 22:30] schwos commented on #110
@FormerLurker, that isn't a bad idea I am using the DeleteAfterPlugin which deletes older gCode files based upon age from the root folder. It leaves the files I put into a Archive or Original folder alone. So your proposal is a good approach. Use the If a filename with a prefix or postfix appears (say with .aw.) then find the original with no .aw. and move to original. The only thing is when I thi

[2021-02-02 08:41] Delta-38 commented on #133
Hi, sorry for the late reply, it was a very busy couple of days.
Thanks for suggesting a firmware upgrade, I didn't realize it could have that much weight on the results.
I have repeated the test with the latest Marlin and it performed much better (though on stock AW settings there is still a bit of off center arching present).
The issue you linked explains the problem very clearly :)
For complete

[2021-02-02 17:19] FormerLurker commented on #133
Hmm, looks like there is still a ways to go, if I am reading the snapshot correctly.

Thanks for helping with the new rc/maintenance build!  You can install from the 'Plugin Manger' with this URL (get more->From URL):

[code]

I'm going to take a look at the gcode you posted later (might be the weekend) and see if there is any obvious issue.  Since the new version you will install has a very diffe

[2021-02-03 00:51] djlightflighter commented on #135
on my CR10 my first layer speed is insane   on my CR10s its okay   somethings is definately off with the CR10

[2021-02-03 00:54] djlightflighter commented on #135
I kept trying to slow it down in the Settings for the first layer and it won't stop going superfast on the SKIRTS

[2021-02-03 02:03] FormerLurker commented on #135
Hmm.  Maybe try resetting eeprom?

[2021-02-03 03:35] KenLucke commented on #135
I'm not using the default firmware, are you?  If different firmwares are still doing it, then it's probably not the printer.

[2021-02-03 05:59] djlightflighter commented on #135
on my CR10S I'm using the same firmware its updated I added a EZABL just like the CR10 but the older 10 is acting strange

[2021-02-03 06:08] djlightflighter commented on #135
I'll give that a shot and report back

[2021-02-03 08:17] Delta-38 commented on #133
Hi, I'm going to try the development branch tonight (GMT +1), in the meantime I wanted to tell you about another curious behavior I noticed (running Marlin and AW released version) on a larger set of circular shapes, I was printing a Chess Queen and the result is quite unusual.
I'm sharing the gcode and a picture as always (btw. sorry I stopped the print but I was quite afraid it might fail and ha

[2021-02-03 10:51] DBa2016 commented on #134
When OctoPrint is starting up (or switching to "Operational" after a finished print), a "M115" followed by "G2" is issued (I guess this is in order to detect firmware features), resulting in an error entry:
[code]

[2021-02-03 14:16] FormerLurker commented on #133
Something very strange is going on.  When you install the new version, look at the firmware checker.  I'm thinking you need to turn on the 'G90/G91 influences extruder' setting.

[2021-02-03 14:17] FormerLurker commented on #134
Klipper doesn't support relative mode when using arcs!??  That's unexpected.  What version of Klipper?

[2021-02-03 14:27] FormerLurker commented on #134
@DBa2016, I did locate the code that is generating that message and have submitted a feature request for adding G2/G3 relative move support.  I'll have to update the firmware checker to handle this error gracefully and to report the issue to the user.

This is a good find, and one that needs to be handled.  Thank you!

[2021-02-03 14:32] FormerLurker commented on #135
@djlightflighter, can you post the gcode that you are talking about (preferably the original and welded file)?  I still haven't found a gcode error for the original issue, and if I could it would be extremely helpful.  If the gcode is correct, but the printer doesn't respond to them as expected, this would appear to be a downstream problem.  If the gcode is incorrect, at least I can fix it myself.

[2021-02-03 15:37] FormerLurker commented on #134
Ok, @DBa2016, I decided to close the issue I created in the Klipper github.  They are EXTREMELY strict with everything, and completely disallow all feature requests.  Since this, strictly speaking, is not a bug, my post violated their submission guidelines.  I read their 'first time poster' link, but didn't notice this (I can't see it anymore, so I cannot verify if I missed it, or if it wasn't the

[2021-02-03 21:40] Daveholmes05 opened #136 "AW printing at sharp angles rather than curves OctoPi 1.5.3 / TH3D U1.R2.B5 firmware"
Hey all,

I've recently upgraded to an Ender 3 1.1.5 silent board and flashed firmware to TH3d U1.R2.B5 firmware on my printer. I noticed prints with curves were rough at the curved portion.
![image](https://user-images.githubusercontent.com/12202086/106813054-bc153500-662d-11eb-832b-ce2c85eaa71f.png)

I did some research and increased baudrate and buffer size and it helped but I am still getting

[2021-02-03 21:43] Daveholmes05 commented on #136
Also forgot to mention I checked my firmware configuration_adv.h file for ARC SUPPORT and this is what it shown:
#if DISABLED(SLIM_1284P)
	#define ARC_SUPPORT
#endif
#if ENABLED(ARC_SUPPORT)
  #define MM_PER_ARC_SEGMENT  1
  #define N_ARC_CORRECTION   25
#endif

[2021-02-03 21:50] seantapscott commented on #136
That's not an arc welder problem, unless you're expecting him to
troubleshoot your printer issues for you.

On Wed, Feb 3, 2021 at 4:44 PM Dave Holmes <notifications@github.com> wrote:

[2021-02-03 21:53] FormerLurker commented on #136
Thanks for posting your issue @Daveholmes05!  This is actually a well known issue on older versions of Marlin that don't have additional arc settings.  Your version is missing some critical settings for handling small curves, so you have two options to fix this:

1. Upgrade to at least Marlin 2.0.6, which has MUCH better arc support.
2. Upgrade the Arc Welder plugin to the latest maintenance relea

[2021-02-03 21:59] Daveholmes05 commented on #136
Thank you so much for the quick response. I am admittedly new to all of this. For some reason I thought I was on one of the newer versions of firmware. How did you identify I am on an older version? Is it from the protocol version 1.0 from my M115 command?

I don't remember how I determined it, but I seem to recall figuring out I was on an 8-bit board and that's why I chose the firmware that I did

[2021-02-03 21:59] FormerLurker commented on #136
@seantapscott, it's no problem since I need testers for the maintenance release candidate anyway, and I have all the info needed to diagnose this.  Thanks for patrolling, and those are some FANTASTIC Succulent Planters in your repo :)  I will have to print some.

[2021-02-03 22:07] FormerLurker commented on #136
Unfortunately, the fork of marlin you are using has no indication of the base version it was forked from.  However, I recognize the arc configuration defines as being pre-marlin 2.0.

Marlin certainly will run on an 8-bit board.  However, it's hard to tell if you'll have enough memory to load all the features you want without just trying.

Well..  You'll have to configure and compile it.  Not sure

[2021-02-03 22:08] FormerLurker commented on #136
Oh, and if you're willing, I would love it if you could give the maintenance candidate a go and running a quick test to see if firmware compensation is working.  I desperately need more testers so I can push out the new code.

[2021-02-03 22:11] Daveholmes05 commented on #136
Thank you very much for the additional info. I will try the maintenance candidate and see if that works. I'll let you know how it goes.

[2021-02-03 22:31] seantapscott commented on #136
@FormerLurker Yeah, sorry, been following what you're doing because I think it is awesome, and forgot that I'm trying to be a good person for a second.

In other news, I just updated to one of TH3Ds Creality Ender 5 firmwares with Marlin 2.1.8, and the arcs are working great through the ArcWelder Cura plugin, so it sounds like you've nailed it.

[2021-02-03 23:05] FormerLurker commented on #136
@seantapscott, I'm touched, thanks!

lol!  I wouldn't worry too much about it.  The open source community is constantly being bombarded on all sides with every negative emotion imaginable, and it makes it very difficult to figure out what should be done about it.  In fact, I recently was invited to a sort of support group for open source devs to try to get a handle on this.  It's a constant strugg

[2021-02-03 23:35] Daveholmes05 commented on #136
Unfortunately, the maintenance candidate made things worse. It's still printing the sharp angle rather than the curve but now it's pausing at two spots and causing a big blob. It caused the first test (default 14 minimum arc segments) to fail and get ripped off the bed plate. I was unable to cancel the print after numerous tries (normally I can cancel the print and it stops after a couple of secon

[2021-02-03 23:41] FormerLurker commented on #136
That's unfortunate, but thanks for trying!  Can you send me the before and after gcode please?  I'd like to make sure the gcode itself is correct, and that it's not some kind of undiscovered bug.  Please use gist.github.com to upload the files, and drop a link in here, thanks!

[2021-02-04 01:39] paulharman opened #137 "How can I improve this cylinder print?"
First off, thanks for your work on this :)

Here I have an example print, PETG, printed at 235/80 with no fan, 50mm/s. I'm using Cura, Octoprint and arc welder with the CR6 community fw on a BTT SKR CR6 board . The model is hollow with a 1.8mm thickness. The G-code file is 1.74 MB after arc welder (15.3MB before).

If I print from SD card the print is fine without the zits.  Can you recommend any

[2021-02-04 01:56] seantapscott commented on #137
These look like connection issues.  Is it possible to change the input
buffer length?  In RepetierServer, I print over the USB, and I do
connection testing to find the best length for the input buffer.  If the
command runs too long, it timeouts as well, and the printer and the gcode
server (octopi in your case) will have a lot of chatter back and forth to
figure out which line they're on.

Are the

[2021-02-04 02:54] FormerLurker commented on #137
Maybe create a serial log on octoprint and check for numerous resend errors?  A couple layers should be enough.  Also, try rebooting into safe mode and run another test.  That looks pretty excessive.  Maybe also run a few layers from sd and see if things change.

[2021-02-04 02:55] KenLucke opened #138 "And now for something completely different..."
"It's....." [Sousa's "Liberty Bell" (Monty Python Theme) plays...]

Uploaded a file while AW was set to Manual Process Only.  Realized it WAS set to Manual Process Only, so changed settings to "Process All New Files".  Clicked "Weld Arcs" icon in file menu.  AW said it was starting to process the file, then claimed it could not find the file... even though it was clearly visible in the file browse

[2021-02-04 02:57] FormerLurker commented on #138
Awesome instructions and neat info below!  Will check this out for sure.

[2021-02-04 03:00] FormerLurker commented on #138
Actually, looks like it may be URL encoded, but not decoded properly.  If so it should be an easy fix.

[2021-02-04 03:04] KenLucke commented on #138
Don't you know by now that nothing I bring up is EVER easy????

[2021-02-04 03:44] Daveholmes05 commented on #136
Sorry, what's the best way to get that to you? Where do I collect what you are wanting?

[2021-02-04 04:01] FormerLurker commented on #136
You can turn on serial logging in the octoprint settings under the log menu.  Just be sure to turn it off when you are done!  Then print a layer and download the serial log file from the log menu.

[2021-02-04 04:38] Daveholmes05 commented on #136
I think I did this correctly. I created a new file from Cura that was only about 4 layers tall to have a quick beginning and end print for you. Hopefully it was a good move.

What Cura shows in preview:
![image](https://user-images.githubusercontent.com/12202086/106845218-b76d7280-6667-11eb-8ad0-6d0607ced50e.png)

What it printed (note that the skirt was only printed vertically on the left side of

[2021-02-04 04:42] FormerLurker commented on #136
Bingo: ```echo:Unknown command: "G3 X91.100 Y131.958 I7.214 J-0.941 E23.39124"```

Arcs are disabled

[2021-02-04 04:44] FormerLurker commented on #136
I am surprised the firmware checker didn't report that.. hmm

[2021-02-04 04:55] Daveholmes05 commented on #136
So is there a way for me to enable arcs for this firmware or do I just have to try and flash to a newer version?

[2021-02-04 04:58] FormerLurker commented on #136
You would need to recompile it.  Might as well use the newest version, right?

[2021-02-04 05:09] Daveholmes05 commented on #136
OK, so I should just try this latest version then? https://github.com/MarlinFirmware/Marlin/tree/2.0.7.2

Do I need to check anything to make sure arcs are enabled when I flash it to a newer version?

[2021-02-04 09:56] DBa2016 commented on #134
I remember when I tried to move by an arc in my laser cutter gcode (same printer, just a different tool mounted to the head), the arc drawn was completely unexpected. My conclusion at that time was that the step calculation within Klipper got mislead by having relative movement switched on somehow. Being a lazy person, I circumvented this by switching to absolute movement before issuing G2 command

[2021-02-04 14:58] FormerLurker commented on #136
Yes, newest version is always the best bet.  I believe arcs are enabled by default, but just in case, make sure this section in Configuration_adv.h looks  like this:
[code]

There are other configurations that will work, but these defaults are quite good, and should produce very nice arcs.

[2021-02-04 15:09] ahernsean opened #139 "Problem with encoding characters"
When I use the Arc Welder plugin in Cura 4.8, I can never save the GCODE file. The only difference in the slicing settings is whether I have the Arc Welder checkbox on under Special Modes. The error I get when I save the GCODE is:

`'charmap' codec can't encode character '\ufeff' in position 757: character maps to <undefined>`

![image](https://user-images.githubusercontent.com/1649300/106912259-d

[2021-02-04 15:21] FormerLurker commented on #139
This is an issue with the cura plugin that has been fixed in the latest development snapshot.  I don't maintain that plugin, but I know there is a vetting process before these versions can be installed via the interface.  You could try out the development snapshot, or wait a week or two until that build is available from the marketplace.

[2021-02-04 15:24] ahernsean commented on #139
That's great news. Sorry to clutter the Issues here with someone else's problem. Is it a development snapshot of Cura itself?

[2021-02-04 15:24] #139 closed, assigned to nobody

[2021-02-04 15:26] FormerLurker commented on #139
No, it's a snapshot of the cura plugin itself.  I'm not 100% sure where to get this, but if you can't find it, message me back and I'll do a quick search.  I have it around here somewhere, lol

[2021-02-04 15:26] ahernsean commented on #139
Thanks. This is great news. I'll go figure out where to find that development snapshot.

[2021-02-04 15:27] ahernsean commented on #139
Hm. The best source I have is here: https://plugins.octoprint.org/plugins/arc_welder/, which ultimately points me here to this GitHub project. I don't see development versions listed.

[2021-02-04 15:34] seantapscott commented on #136
Should look on Th3dstudios.com website. Their latest versions support arcs
on creality printers quite well.

On Thu, Feb 4, 2021, 9:58 AM FormerLurker <notifications@github.com> wrote:

[2021-02-04 15:44] FormerLurker commented on #139
I think [this is it](https://storage.googleapis.com/ultimaker-cura-packages/v1/packages/ArcWelderPlugin/zzHJfdU_udY4lWeMO9r9Ha-zSXKtZbLMRyRejKldEXtt/ArcWelderPlugin-v7.0.0-2021-01-25T11%3A08%3A03Z.curapackage?Expires=1926932894&GoogleAccessId=cura-packages-api-production%40stardust-193112.iam.gserviceaccount.com&Signature=N8jg1rq3JW0q%2BeRHxmIRNaq5Lb87wH0yEoUrNUB6jLMAkVWlnKGGSHsnnqWhVMa7VYikI6vDzd

[2021-02-04 16:19] Daveholmes05 commented on #136
Yeah, for some reason I thought I could only use the 8-bit version because I believe my board is 8-bit. So I am pretty sure I downloaded the latest 8-bit version but I could be wrong. I will check again.

[2021-02-04 16:36] seantapscott commented on #136
I think their instructions encourage us to compile it ourselves, so might
be able to just enable the arc support setting in the advanced
configuration file like FormerLurker stated.  That's probably the best bet.

I do wonder if there's a reason it is disabled for 8-bit boards though.

On Thu, Feb 4, 2021 at 11:19 AM Dave Holmes <notifications@github.com>
wrote:

[2021-02-05 11:57] NikopolCZ opened #142 "Autostart after pre-processing"
Hi, this is not really an issue but a nuisance.

I am using script in s3d, so my prints start printing right after upload to octoprint. But this feature is not compatible with AW. Would it be possible to add an "Autostart after processing" function? It would save me a lot of time.

Btw thanks for the pluggin. It has solved my problem with complex prints crashing.

[2021-02-05 16:35] swheettaos commented on #142
This is also impacting Cure "send to printer" option when you select "print after upload".  Also I use the astroprint plug to print from the cloud sometimes.  Same problem but I haven't found a work around.  It's almost like we need a buffer .. like if arc weld enabled, it grabs it .. and processes it.. then will allow it to start printing.

[2021-02-05 16:44] FormerLurker commented on #142
This feature exists on the beta.  Wanna try it out?

Also, for cura, consider using the cura arcwelder plugin, as it plays nicely with the cura octoprint plugin.

[2021-02-05 16:50] swheettaos commented on #142
I Will do that.. just switch to dev level updates right?  Also for using the Cura plugin, I can try it but I'd rather have one place where I'm dealing with settings and updates to configure arc welder.  It also allows me to be able to print from multiple slicers, (cura, prusa, cloud based) and all take advantage of the arc welder plugin.  I'll let you know.  I have about 7 hours on a print left an

[2021-02-05 16:58] FormerLurker commented on #142
You can integrate arcwelder.exe into all slic3r varients and simplify, fyi.

Also, i goofed on the auto updates for v1.0.0.  i will fix it with a PR in OctoPrint itself hopefully.  For now, check the discussions tab in this repo and see the stickied post.