[2020-04-26 08:14] KenLucke opened #1 "First impressions"
Installed and doing first print.

- Reduced a 10.8Mb file to 1.9Mb.
- Can already see smoother arcs happening, but tight corners slows way down.  I'm sure it will all balance out
- Please add a Before and After Filesize (or just bytes saved) to the results dialog, for information (and dancing in the streets) purposes.
- Should be a way (am I missing it?) to process already uploaded files (and to p

[2020-04-26 11:53] kulfuerst opened #2 "Works great for arcs of r≤2.5mm, stuttering with arcs of r>2.5mm"
[PETG_-_0-4_-_ArcWelderTest.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/4535248/PETG_-_0-4_-_ArcWelderTest.zip)

I am expecting a firmware issue here, rather than an issue with the plugin. I'm still running Marlin2 bugfix on an Anycubic i3 Mega.
Small circles are printed perfectly, but circles above 5 mm diameter are stuttering more so than before. Does somebody have an idea what co

[2020-04-26 12:52] FormerLurker commented on #2
O.1 is too low foe mm_per_arc_segment.  Try 0.5.

[2020-04-26 13:02] kulfuerst commented on #2
what about min_arc_segments and n_arc_correction? As much as I'd love to I cannot make sense of what they do.

[2020-04-26 14:02] jneilliii opened #3 "Windows 10 Pop-Up Notifications"
There is a bit of a formatting issue with this latest version in the Windows 10 Pop-Up after a file is processed.

![image](https://user-images.githubusercontent.com/5249455/80309705-b76d4780-87a4-11ea-9ebb-fb5d826f73c0.png)

It would also be nice to have this notification a configurable option (to show/not to show),

[2020-04-26 14:04] FormerLurker commented on #2
Oh, i did not see min arc segments!  I had just gotten out of bed.  Mm_per_arc_segment is tye maximum length of a segment when converting G2/G3 to line segments (Cartesian printers dont do curces natively).  Min_arc_segments is the minimum number of segments for a full circle of any radius.  For large arcs mm_per_arc_segment is used.  For smaller arcs the minimum number of segments is used.  So, s

[2020-04-26 14:08] FormerLurker commented on #3
I need to turn off desktop notification, or find a way to use a separate desktop toast for that notification.

Funny you should ask to turn it off because 3 people asked for such a pop-up (it didn't exist originally), lol.  I'm hesitant to add too many more settings, but i think i could make room for this.

Thanks for posting!

[2020-04-26 16:14] FormerLurker commented on #3
Try this new branch:  https://github.com/FormerLurker/ArcWelderPlugin/archive/devel.zip

I believe I fixed the desktop notification issue.  I just removed the desktop bit from the progress, and added a separate completed desktop notification with no fallback.  That means you will get both a desktop and browser toast for the completed message if it is enabled (If I did it right, they don't show up

[2020-04-26 16:14] FormerLurker commented on #3
Oh, and I added notification settings for you too ;)

[2020-04-26 16:24] toponto opened #4 "Absence of g2/g3 codes on created file. Small reduction of size."
you will see there plenty of gcode error when printing, hence my need to reduce size of gcode models, even increasing buffers size to the limit in marlin, are still there. I´ve found that disconnecting the tft I reduce the number of issues at almost 100% but wondering if you solution will help reducing the number of gcode instructions to process. I´ve set the debussing level of the antistutter plu

[2020-04-26 16:47] colinjohnm opened #5 "First try Not Sure what I have Done!!"
Not sure if I missed something in the setup
I Sliced a file in cura and sent to Octoprint with your plgin active. It said it processed ok.

Created two files  see snip below one much smaller than the other -but it started printing the larger of the two. I stopped it and selected the file prefixed AS this started but was nothing like expected so I stopped and the opened the g-code in cura see below

[2020-04-26 16:50] kulfuerst commented on #2
Running another test now :)

[2020-04-26 17:00] colinjohnm commented on #5
sorry meant to add files
but dont seem to be able to add

[2020-04-26 17:25] blacksurgeon opened #6 "Altered GCode Prints slower"
Hello FormerLurker,

first of all, thank you for your effort!
[plugin_pluginmanager_console.log](https://github.com/FormerLurker/ArcWelderPlugin/files/4536036/plugin_pluginmanager_console.log)

I tried the Plugin and with a modell (Prusa Face Shield) that I'm currently printing a lot.
The normal gcode prints in around 03:07 hours and the altered gcode prints in 03:39.
Filesize of the altered gcode

[2020-04-26 17:29] blacksurgeon commented on #5
Maybe you need to zip the files because not all formats are accepted.

[2020-04-26 17:36] kulfuerst commented on #2
It is working far, far, better now, but there is a new issue. I now hat the problem that the nozzle stops after long line segments. What slicers have you tested the plugin with? I know certain script post processors have issues with gcode generated by cura for some reason.

[2020-04-26 17:36] colinjohnm commented on #5
[gcodes.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/4536060/gcodes.zip)
Thanks

[2020-04-26 17:51] FormerLurker commented on #6
What firmware are you using?  I'd like to see the arc configuration (configuration_adv.h).  Perhaps mm_per_arc_segment is too low (should be 1mm)?  I'm working on a patch for the prusa firmware right now, as a matter of fact.  You can download my firmware modification if you want to try that:

https://github.com/FormerLurker/Prusa-Firmware

You will have to compile it for now.  I could send you a

[2020-04-26 17:53] FormerLurker commented on #2
Are you still using the same gcode you posted above?  I will try to test is as soon as I can once you verify you are still using the same code.

[2020-04-26 17:54] kulfuerst commented on #5
Cura Gcode viewer cannot display G2 and G3 commands as far as I know, so it will look messed up. Try using the octoprint gcode viewer.

[2020-04-26 17:56] FormerLurker commented on #5
Use Simplify 3d, or go to ncviewer.com.  Please note that ncviewer is not perfect (simplify3d seems to be perfect for G2/G3 rendering), and it interprets some misc gcodes as arcs sometimes, making the gcode appear not to render.  I will analyze your gcode now and will post the results.

[2020-04-26 17:57] FormerLurker commented on #5
Looks good to me !

![image](https://user-images.githubusercontent.com/33363128/80315488-7c2b4280-87bd-11ea-80d1-189fe3f71d7f.png)

Ignore that it hangs off the bed.  My printer is obviously smaller than yours :)

[2020-04-26 18:00] kulfuerst commented on #2
@FormerLurker, that's correct. I am still using the same on.
I'd like to add that the printer is now able to print large circles at speeds I could not achieve via USB printing before. It's only in certain instances mostly affecting small circles where issues occur. My changed parameters look as such:
![Annotation 2020-04-26 135025](https://user-images.githubusercontent.com/43445551/80315548-8a4a84

[2020-04-26 18:01] blacksurgeon commented on #6
Hey, thank you for the fast reply! =)
I'm using the stock firmware (3.8.1-2869 as shown on the printer display).
I'll have a look into the modified Prusa FW.
No problem :) Take your time!

Besides the Issue: Looking forward to see RC2 of Octolapse. I still need to get the camera directly hooked up on the RPi4 so there is no bandwidth limitation caused by the hardware anymore.. It's still connected

[2020-04-26 18:02] FormerLurker commented on #1
Can you add a feature request for this please?  Just create a new issue and add [feature request] before the title.  Describe exactly what you'd like to see please (even though I have a good idea, it is more for other people's benefit).

Yes, I've thought about this.  This is pre-release ATM.  It's just a little more than the minimum viable plugin.  Please add a feature request for this too.  It's

[2020-04-26 18:03] colinjohnm commented on #5
Yes I looked at Octoprint and looked ok!! Maybe I need to try again.
Would you expect Octoprint to print the AS code when uploaded from Cura??
It went straight in to print the larger file
Thanks for your quick replies

[2020-04-26 18:03] FormerLurker commented on #4
Still trying to get to this.  It's such a difficult problem to debug since I can't replicate it.  I have some ideas though.  If you try installing from the github link (check the thread), post the plugin manager console log for me.  It could be your compiler/linker.

[2020-04-26 18:04] FormerLurker commented on #4
Oh, I've added verbose output flags to the compiler as well, just to help with your issue :)

[2020-04-26 18:07] FormerLurker commented on #2
OH, keep in mind it could be an issue with the processor still if I've messed up the feedrate change detection at all.  Will know more later.

[2020-04-26 18:08] FormerLurker commented on #2
One last thing (I keep thinking of stuff):  Link the current source of your firmware here and I'll see if I can make a quick patch to add the new configuration value.  It would be good to test the change in the wild.

[2020-04-26 18:12] toponto commented on #4
All rigth, will try as soon as current printing is done...cya!

[2020-04-26 18:12] kulfuerst commented on #2
I'm not very good with github, so please let me know if I need to grant permission for you to edit or something like that. An older version of my current FW can be found here, almost exactly like what I'm currently using: https://github.com/kulfuerst/Marlin_Ai3M_2.0.x_bugfix_piezo

[2020-04-26 18:30] FormerLurker commented on #5
?? I'm not sure what you mean print straight from cura.  Did you upload the file, download it again, and try to upload once again through cura??  If so, why?

[2020-04-26 18:52] colinjohnm commented on #5
So just to explain after originally slicing in Cura -The Print with octoprint button appears
So pressed and it uploaded to Octoprint and Your Plugin did the processing.
But Octoprint then lined up the full fat file to print instead of the AS

Would you not expect it to print the modified file?

Regards
Colin

![cura](https://user-images.githubusercontent.com/59284353/80316664-f7f5b100-87f6-11ea-91

[2020-04-26 19:00] FormerLurker commented on #5
Sorry, I don't control the cura upload plugin.  Whatever it is doing, it (probably correctly) assumes you want to print the file you sent.  It has no idea my plugin is modifying the gcode in the background, and it probably doesn't understand that it should wait for my preprocessing to complete before starting the print.  Is there no 'upload without printing' option?

[2020-04-26 19:01] FormerLurker commented on #5
Oh, btw, I totally understand why you expected it to work, and exactly what you expected to have happen.  I just don't know how in the world I could accomplish it without modifications to support the cura upload plugin specifically (probably both the plugin and Arc Welder would need substantial modifications).

[2020-04-26 19:04] colinjohnm commented on #5
No Option just to upload from Cura. I can save to file and then up;oad from Octoprint and deal with it there! No Problem.  I am printing at the moment so It will be tomorrow to give it another try.  Very Impressed at the file size reduction!!! Well done

[2020-04-26 19:36] KenLucke commented on #1
Will do on the separate feature requests.

As for the other issues, just expressing thoughts... I know this is pre-pre-pre-pre-release :)

| have seen better results from the processed files, but still a little blobbing, but seems to be more in specificc areas than randomly as before AW.  For some reason, github does not like my .jpg files and will not accept them.

[2020-04-26 19:37] KenLucke opened #7 "[Feature Request] - Before and After filesizes"
Please add a Before and After Filesize (or just bytes saved) to the results dialog, for information (and dancing in the streets) purposes.

[2020-04-26 19:40] KenLucke opened #8 "[Feature Request] - Process existing files."
Should be a way (am I missing it?) to process already uploaded files (and to prevent re-processing ones that have already been done), so they don't have to be deleted and re-uploaded.

[2020-04-26 19:54] KenLucke opened #9 "COMPLETELY messes up completion estimates and announcements"
Example:  I have a 77 layer, 3 mask build.  The normal error of the gcode being several layers ahead (have opened an issue there some time ago) is nothing compared to what's happening now.

The print *appears* to finish in Dashboard (except for the actual layer count indicator), OctoPod, gcode viewer,  etc., even though it is more than 10-12 layers from actually finishing (on this small file).  Th

[2020-04-26 20:03] FormerLurker commented on #9
This issue probably belongs on the print time genius plugin page.  They probably haven't implemented G2/G3 commands (that is pretty common, as the vast majority of gcode files don't include g2/g3).  Try disabling that plugin and see what happens.

FYI, you can drag images into github (or at least you should be able to).  For other file attachments, go to gist.github.com and put each file in there

[2020-04-26 20:04] FormerLurker commented on #8
No you are not missing this feature, it doesn't exist yet.  I thought about this feature from the beginning, but it's not yet available.  I'll leave this open until it is implemented.

[2020-04-26 20:05] FormerLurker commented on #7
I will add this soon.  Will update this issue once it is completed.  For now, just look in the file manager.

[2020-04-26 20:06] FormerLurker commented on #1
Any blobs you see now may be related to how your specific firmware handles arc commands.  If you can find the configuration_adv.h file for your firmware, paste in the Arc section parameters and I might be able to give you some insight.

[2020-04-26 20:06] FormerLurker commented on #1
OH, and thanks for creating those feature requests!  It's awesome to have them documented.

[2020-04-26 20:13] KenLucke commented on #9
Tried dragging and dropping, selecting (via file open),and pasting.  None work.  I'll try the gist.github.com method.

I'll disable PTG after these prints are finished and repoort back.

[2020-04-26 20:21] FormerLurker commented on #9
Thanks!  I really appreciate it!  It's very important to know about plugins that don't work well together.

[2020-04-26 20:51] KenLucke commented on #9
Turned PTG off on Blue, printing now with a file re-uploaded and re-processed through AW (I'm ass/u/ming that PTG preprocesses the file in some way, so just reprinting with the same file, even with PTG off, might not be accurate)

I can't even seem to upload to gist.github.com.  Here's a dropbox link.  Late, but beter late than never, I guess.
https://www.dropbox.com/s/ei77ipr7y5n9a4z/CR-10v2%20%2

[2020-04-26 22:21] toponto commented on #4
done as per your instructions.... file size only reduced 200k, as in the last tries.
Attached the results of the plugin console.
Link to the arc welder log:
[https://drive.google.com/file/d/1KrhNzjhjvPLUrJczHTcq7myXup-OBCH1/view?usp=sharing](url)
Hope this helps, unfortunately the issue is still there... keep going!

Best and thanks!

[2020-04-27 01:22] blacksurgeon commented on #6
I tried your modified Prusa firmware (3.9.0-RC1-3272).
Apart from having to change the filament, printing took just as long. I used the same gcode that ArcWelder initially generated.
It's better now, but there seems to be a problem with the transitions from the arches.
At first I thought the G2 / G3 Gcode would need its own feed, but they use the one specified by the G1 Gcode. I did some tests in

[2020-04-27 03:44] KenLucke commented on #9
Disabling PrintTimeGenius makes no difference in the issue.  Right now I have a print that I was notified was "finished" over 5 minutes ago, still going (it was still 22 layers from finish according to the dashboard layer count indicator)

[2020-04-27 09:06] colinjohnm commented on #5
NO RUSH I KNOW YOU ARE BUSY!!
Tried a smaller file to test  started ok. I only allowed it to run a few layers as a couple of things were apparent.
- When it transitioned from the long arc to the flat at the end the flat was very slow in movement and therefore seemed to over extrude
- at the centrepoint of the arc it stopped but continued extruding causing big blob
I am continuing printing without

[2020-04-27 13:24] FormerLurker commented on #9
What version of octoprint are you using?  Also the interface in your photo, what is that exactly?

[2020-04-27 17:28] KenLucke commented on #9
I'm on the latest, 1.4.0.

The interface is the Dashboard plugin.

[2020-04-27 20:39] FormerLurker commented on #2
@kulfuerst, thanks for the link.  I would probably need permission to edit.  Let me take a look and see what I can do.  It might take a bit for me to get around to it since I'm still making modifications to my firmware.

I'm also going to check all the feedrates and do some output testing of your original gcode to see if I can gain some insight.  FYI, I've tested PrusaSlicer and Cura so far.

[2020-04-27 20:47] FormerLurker commented on #6
Answer:  It is definitely firmware related.  Can you try turning linear advance off by changing this:

![image](https://user-images.githubusercontent.com/33363128/80418941-cedc2b80-889d-11ea-896d-d643412e2283.png)

to this:

![image](https://user-images.githubusercontent.com/33363128/80418972-ddc2de00-889d-11ea-856d-a80d9b004b75.png)

I'm guessing the MK3 has more features enabled than my MK2S, so

[2020-04-27 20:49] FormerLurker commented on #2
Also, I just realized that I misread your title!  I got it backwards.

Try setting MM_PER_ARC_SEGMENT to 2.  You should get very similar results hopefully.  Let me know how that works since I've never gone above 1MM for that setting.

[2020-04-27 21:14] kulfuerst commented on #2
@FormerLurker, the title isn't really accurate anymore, since you've already solved that issue by recommending for my MM_PER_ARC_SEGMENT to be increased to 1. It is now medium sized arcs that are the problem, along with pauses after straight line segments, feedrate changes and several G0 commands in a row.
Thanks a ton for taking care of this. The idea of this plugin is absolutely brilliant! I'm h

[2020-04-27 21:26] FormerLurker commented on #2
@kulfuerst, thanks for your compliments!  I will definitely dig into this more.  Still try increasing MM_PER_ARC_SEGMENT.  If the arc quality still looks good, it will cut the amount of processing in half.  If I can get MIN_MM_PER_ARC_SEGMENT from my firmware fork implemented in yours, we might be able to turn both MM_PER_ARC_SEGMENT and MIN_ARC_SEGMENTS up quite a bit to further reduce processing

[2020-04-27 21:28] FormerLurker commented on #5
I assume you are running some fork of marlin?  If so, can you find the configuration_adv.h file for your current firmware version and send me a link?

[2020-04-27 21:28] blacksurgeon commented on #6
Alright, I'll try first without linear advance and afterwards I'll try with those firmware settings.

Thank you so far for your help. 👍

[2020-04-27 21:33] FormerLurker commented on #1
Hey, regarding this:

Can you send me a link to your firmware, and if it's marlin based or a fork of that, can you send me a link to the configuration_adv.h file?  Based on some experimentation and tinkering, I might be able to suggest slight settings modification that can improve tight corners.  I'm working on a modification that should greatly reduce firmware slowdown on tight corners.

[2020-04-27 21:35] colinjohnm commented on #5
Hi Marlin 2.0 Skr Mini E3

Hope this helps

[Configuration_adv.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/4542140/Configuration_adv.zip)

[2020-04-27 22:33] FormerLurker commented on #7
How is this:

![image](https://user-images.githubusercontent.com/33363128/80427319-1a4a0600-88ad-11ea-8e10-81688ef534be.png)

I may add this to the progress display as well.

[2020-04-27 23:04] FormerLurker commented on #7
Here is is on the progress display:

![image](https://user-images.githubusercontent.com/33363128/80429356-83337d00-88b1-11ea-879f-3a00ce8b86ad.png)

[2020-04-27 23:06] FormerLurker commented on #1
This sort of worked before, but now I've created a worker thread that handles the processing.  This was necessary to get the cancel button working (as you can see in the progress bar display above.  I do need to hide the cancel buttons for non-admin users still (server side cancel would be rejected for non-admins).

The last thing on the list is enabling processing for existing files, which I will

[2020-04-28 10:07] colinjohnm commented on #5
FYI Just reviewing changing to Marlin 2.05 SKR Mini E3 C 1.2 when complete shall I re-run the test??

[2020-04-28 13:46] FormerLurker commented on #5
Yes please!

[2020-04-28 17:14] colinjohnm commented on #5
Retested with Marlin 2.05 SKR MINI E3
Same basic result -Mostly the ARCs look good except on the outer where there is a big stall !!
Also the small flat areas at the end are v.v slow
I took a vid but MP4 is 85Mb so cant email
Regards
    On Tuesday, 28 April 2020, 14:46:39 BST, FormerLurker <notifications@github.com> wrote:

Yes please!

—
You are receiving this because you authored the thread.
Re

[2020-04-28 17:16] colinjohnm commented on #5
Retested with Marlin 2.05 SKR MINI E3

Same basic result
-Mostly the ARCs look good except on the outer where there is a big stall !!

Also the small flat areas at the end are v.v slow

I took a vid but MP4 is 85Mb so cant email

[2020-04-28 17:26] FormerLurker commented on #5
So strange.  I checked the print speeds, and they look correct.  Can you check your firmware to see if junction deviation is enabled?  There is an open marlin issue about that setting and arc stalling.  Maybe classic jerk would work?  I will research this too.

[2020-04-28 17:29] FormerLurker commented on #5
[Here is that issue, for reference.](https://github.com/MarlinFirmware/Marlin/issues/15543). It has been reported for CNC only, but i think it should apply to 3d printers too.  Not sure if this would have affected your old firmware.

[2020-04-28 19:20] colinjohnm commented on #5
So Marlin was set at

#if DISABLED(CLASSIC_JERK)
  #define JUNCTION_DEVIATION_MM 0.08 // (mm) Distance from real junction edge

The link above gives

Formula: `0.4 * sq(min(xjerk, yjerk)) / (default accel)`
and from the link inside Marlin
![image](https://user-images.githubusercontent.com/59284353/80527272-ff9a8e80-898b-11ea-8cef-5c4c8d652932.png)

From my Cura
Jerk =5mm/s
Accel 500mm/s
therefore

[2020-04-28 19:34] colinjohnm commented on #5
Meant to say If you have a way for me to send the MP4 (85Mb zipped) then I have a clip that shows it quite well

[2020-04-28 20:07] FormerLurker commented on #5
I think it would be best to try classic jerk before attempting a modification that will likely further slow down the corners.  If it improves the situation you may want to chime in on that marlin thread.

Also, you might try printing from SD to see if the problems still appear, just in case.  I'll give your gcode another look.  If you can produce a smaller object that  has the same issues I could

[2020-04-29 08:36] Prickly-Pear opened #10 "Arc Welder plugin is not installing on OctoPrint running on Win10 or MacOSX"
I tried to install Arc Welder on both my iMac and my Win10 laptop so that I could convert files faster than my old Rasperry Pi model 1B. OctoPrint installed well on both types of computers but Arc Welder did not install.
This is just a small problem, at least for me, but there may be other people that would like to install Arc Welder onto PC/Mac based instance of OctoPrint. I thought I'd report it

[2020-04-29 10:24] Prickly-Pear opened #11 "Possible gcode conversion problem."
I have converted a large gcode file using Arc Welder. The file size was reduced from 106.6MB to 36.6MB and when viewed in NC Viewer, it looked ok with no strange rapid movements.
Partway through, the print failed at layer 371 (or nearby) with a slight shift in the y-axis, about +2.5mm. The original code file printed just fine (printed from SD card, of course) and it was printed immediately after t

[2020-04-29 17:07] colinjohnm commented on #5
Marlin Set with Junction Deviation

Test 1 Single Part Sliced by Cura via Octoprint using Arc welder
Result as before v slow ends Blob in the middle stopped after 6 layers

Test 2 Single Part Sliced by Creality (V Old copy cura) via Octoprint using Arc Welder
Completed print en speeds ok. One Blob half way up the print in the inside curve near hole ~14 mins

Test 2a Single Part Sliced by Creality

[2020-04-29 17:36] colinjohnm commented on #5
looking at the prints and comparing the ends the creality parts are crisp and clean in all versions the cura seems to be a bit weird.
If I am to try the classic jerk it might have to be later in the week i didnt get round to updating the firmware.

[2020-04-29 17:36] FormerLurker commented on #5
Is is possible that Marlin does not support the F parameter for G2/G3 at all?!

Here is the reprap definitions for G2/G3:  https://www.reprap.org/wiki/G-code#G2_.26_G3:_Controlled_Arc_Move

Here is the marlin definition:  https://marlinfw.org/docs/gcode/G002-G003.html

Notice that no mention is made of the F parameter!  Holy smoke, that would do it if it is true!  The solution would be to add a se

[2020-04-29 17:37] colinjohnm commented on #5
ok thanks

[2020-04-29 18:00] FormerLurker commented on #5
So I tried this on my printer, and F works as expected.  Can you try the following test on your printer to see if it works for yours:

[code]

If you get around to it, let me know if the feedrate has an effect for the two G2 commands

[2020-04-29 18:01] FormerLurker commented on #5
I just edited my last comment with an additional command.  I wanted to make sure you saw it.

[2020-04-29 18:53] colinjohnm commented on #5
yes all worked as expected and the last line was at same speed

[2020-04-29 18:59] FormerLurker commented on #5
Man am I stumped..  I think we will need to produce a short gcode test that can trigger the same issue, and investigate exactly what the firmware is doing.  It would be great if this can all be done without any E parameters.  Perhaps you could identify the exact place (layer+ and as close to the G2/G3 that is causing the issue as possible) where a particularly bad slowdown is occurring, then we ca

[2020-04-29 19:00] colinjohnm commented on #5
Hmm I can look but not sure I will be able to Ill give it a go :)

[2020-04-29 20:02] colinjohnm commented on #5
Ill be honest Im not sure what Im doing with the gcode There was one bit in the AS Cura code that looks odd this is at one end.

![image](https://user-images.githubusercontent.com/59284353/80640728-bf0a4600-8a5b-11ea-8933-79144526bc97.png)

I think the stall in the middle might be about here but cant be sure
![image](https://user-images.githubusercontent.com/59284353/80641135-51124e80-8a5c-11ea-86

[2020-04-30 19:01] KenLucke commented on #10
Worked fine for me  Mac OSX 10.5.4

[2020-04-30 20:10] FormerLurker commented on #10
Here is the issue for windows 10:

Now to figure out how you could be missing this, or to just remove it from the application.

[2020-04-30 21:20] FormerLurker commented on #10
Here is the mac issue:

2020-04-28 11:11:22,902 ! octoprint_anti_stutter/data/lib/c/anti_stutter/anti_stutter.cpp:680:58: error: call to 'abs' is ambiguous
2020-04-28 11:11:22,902 ! if (!p.is_extruder_relative && utilities::greater_than(abs(absolute_e_offset_), 0.0) &&

abs is ambigious?  Two of these odd errors, lol.  Anyway, I think I can fix the abs error.  If I remove chrono we will loose MS i

[2020-05-01 18:05] FormerLurker commented on #8
I got done adding a 'process' button to the file manager.  It will be disabled for any files that have already been processed, and they will disable if you are printing.  Testing it out on my pi now.  Will let you know when it is ready for you to try.

[2020-05-01 19:26] FormerLurker commented on #11
Thanks for posting this.  I will start investigating this as well as your mac/windows installation issues (I think I understand both of those, so it's just a matter of patching and testing).

[2020-05-01 19:27] FormerLurker commented on #8
OK, this as well as the other feature request you posted has been implemented.  Try installing from this URL and let me know as soon as you can if it closes both issues so I can create another release: ```https://github.com/FormerLurker/ArcWelderPlugin/archive/7801eebd91bfbd17213bf17952e274957ecfa4a3.zip```

Thanks!

[2020-05-01 20:15] KenLucke commented on #8
Hmmm.  De-installed the previous version and installed this one.   Can't see any process button for existing files.

Oh, DUH.  It was going by the disabled status of the previous plugin in the Plugin Manager.  Turning that back on made it come alive.  I forgot that even if you delete a plugin, unless you do a "clean data" or whatever it is, it just keeps your settings.

Looks good, however.  Hopin

[2020-05-01 21:13] blacksurgeon commented on #6
It took a little longer.. sorry for that.
In addition I ported your changes in the FW to the most recent FW (3,9.0-RC3-3401).
I copied your changed lines 1:1. I've created a repository because I didn't know how to "interact" with your repository. I tried a pull request but I'm not able to select it. I guess it's because of the older version of your fork? And I'm not sure if this would be the right

[2020-05-01 21:23] FormerLurker commented on #8
Not sure what I can do to make the progress work.  That isn't connected to this plugin.  Not sure where that issue belongs honestly.  Octoprint issue maybe.  I will see if i can isolate the cause.

I will add the file name to the completed toast.  I just forgot it, since i had intended to add that.

The progress pop up does have a cancel button.  Are you not an admin?  I do not have a cancel all.

[2020-05-01 21:29] FormerLurker commented on #6
Awesome report, thanks!!!  I have added some new features to my fork, and I will see if I can pull the n your changes.  I have been doing some investigating regarding the slow downs, and I am pretty sure it is some bug I haven't discovered yet.  Running the same points the g2/g3 create in marlin (using my inverse processor found in the ArcWelderLib repo to create the inverse gcode) I don't get any

[2020-05-01 23:08] KenLucke commented on #8
Have you cross-talked to the PrintTimeGenius author to see if you can collaborate on a fix?  Might not fix the main Octoprint, but if he can calculate G2/G3 times, it would certainly work around the issue (and, you can promote each others' plugins!  :) )

I didn't see it (yes, I'm admin, and only user).  I'll look again

[2020-05-02 00:35] KenLucke commented on #8
That's what alpha/beta testing is for, to find the little  nitpicky stuff we miss... if we could do and remember and think of it all, we'd all put perfect stuff out the first time :)

OK, I missed it, it's there.

[2020-05-02 01:37] FormerLurker commented on #8
Glad the cancel button showed up! Regarding the print progress issue, it is looking like the octoprint analysis needs to be rerun for overwritten files.  However, new files are working for me!  I dont have print time genius, but i will take a look.

[2020-05-02 01:45] KenLucke commented on #8
PTG is FAR more accurate than OctoPrint for time estimates, from start to finish.  As long as it's not an AS file, that is.

They work well on the curves, but long straights are stuttering and blobbing badly.

[2020-05-02 02:21] FormerLurker commented on #8
Regarding the AS files, the blobbing seems to be firmware related.  Im working on that.  I was talking about the stock gcode viewer without PTG.  That is working for me.

[2020-05-02 09:46] Prickly-Pear commented on #10
Was there anything that I did wrong during installation of OctoPrint on Win10? Can I install it afterwards? Or is there a 'repair' feature that I can use?

Regarding the MacOSX issue, it sounds like it is an Arc Welder issue, right? Is there anything I can do to help with this?

[2020-05-02 14:38] FormerLurker opened #12 "[Feature Request]: Add 'Cancel All' button to progress popup."
Add a button that cancels all currently queued processing tasks.

[2020-05-02 14:39] FormerLurker opened #13 "Add file name to complete toast"
Add the processed file's name to the complete toast.

[2020-05-02 14:47] FormerLurker commented on #8
See #12 and #13.  Besides the file analysis issue and the firmware issues (stuttering when printing G2/G3), I think that should solve your feature requests.  The code has been pushed to the devel branch.

[2020-05-04 13:28] marekorok commented on #2
Hi there,
I want to try arc's as well..
these settings are what I see defaults for SKR E3 Mini 1.2
general Arc support was disabled by default (Marlin-bugfix-2.0.x, fresh download)
I'll keep it and try.

[code]

[2020-05-04 15:51] marekorok commented on #6
Hi there,
I'm also experimenting with arc and experiencing slowing, but have strange observation:
For me it looks like only G2 is slowing down, while G3 is printing normal-fast speed.
Strange, isn't it...

I have checked with manual commands on terminal and confirmed it's not firmware issue
G3 X40 Y40 I20 J20 and G2 X40 Y40 I20 J20 both behaved the same way and speed

I'll try to pick up relevant

[2020-05-04 16:00] FormerLurker commented on #6
@marekorok, do you have a link to your marlin source?  If it's 2.0, I saw a recent issue discussing this exact problem, along with a commit to fix it.  Let me know and I will take a look.

[2020-05-04 16:20] marekorok commented on #6
Marlin is the bugfix-2.0.x, most recent

possible this one?
https://github.com/MarlinFirmware/Marlin/issues/15295

Solution mentioned there either change source code or:

Interesting, seems the patch haven't been applied yet, let me try.

[2020-05-04 16:56] FormerLurker commented on #6
Here is the exact issue:  https://github.com/MarlinFirmware/Marlin/issues/17348

I believe the solution was to edit G2_G3.cpp and change the call to planner.buffer_line on line 239 from this:

[code]
to this
[code]
See [this commit](https://github.com/MarlinFirmware/Marlin/commit/e0e87ca19a57dc42e9eb5e22d044b8f3c1116544).

[2020-05-04 18:31] marekorok commented on #6
ok, did few tests.

Changing MM_PER_ARC_SEGMENT only to 0 was a disaster, SKR board become overloaded, unresponsive and slowed down completely, but still moving,  verrrry slowly.
Also changed to 2, but still lot of slownesses in different places.
Reverted back to value 1 (default in the file).

Then checked [G2_G3.cpp](https://github.com/MarlinFirmware/Marlin/blob/bugfix-2.0.x/Marlin/src/gcode/mot

[2020-05-04 18:54] FormerLurker commented on #6
O is not a good setting for mm per arc segment.  It may cause an infinite number of segments to be used, or would fall back to 0.001 mm (would need to verify).

You mat want to adjust min_arc_segments too.  Not sure what your current value us.  Something between 16 and 32 should create good looking small arcs.  Im using 20 in my modified firmware and it works well.

Regarding the arc g2_g3 issue,

[2020-05-04 20:31] marekorok commented on #6
I left default as per configuration file for my board (SKR E3 Mini 1.2) and printer (Ender 3), so it is 24
[Configuration file link](https://github.com/MarlinFirmware/Configurations/blob/bugfix-2.0.x/config/examples/BigTreeTech/SKR%20Mini%20E3%201.2/Configuration_adv.h#L1664)
Few other options are yet disabled: ARC_SEGMENTS_PER_R, ARC_SEGMENTS_PER_SEC, ARC_P_CIRCLES

Sure, I'll try...

[2020-05-04 20:39] FormerLurker commented on #6
I added a comment to that issue as well.  If it doesn't get noticed, I'll open a new issue.  Thank you for contributing there!

Regarding the other settings, if you are getting good results it's probably best not to mess with them.  However, I find the new ARC_SEGMENTS_PER_SEC setting quite interesting.  I've done some testing with it, and while it's a bit harder to configure, it should provide ex

[2020-05-05 02:08] Prickly-Pear commented on #2
@marekorok, you would want to reduce MM_PER_ARC_SEGMENT to 0.1 mm.
Or, you could reduce it to 0.5 mm and increase MIN_ARC_SEGMENTS to 32.

[2020-05-05 03:15] FormerLurker commented on #2
@prickley-pear, it seems to depend on the board, the exact firmware version, and the shape being printed.  Some people seem to have no problem with 0.1 (or even 0.05 for one person), but I am having trouble going under .5 with my stock firmware.  In general it seems like marlin 2.0 does pretty well though, from what I have heard.

[2020-05-05 03:16] FormerLurker commented on #2
@marekorok, make sure you have enough memory to enable arc commands.  If you get it working I would love to hear about it!

[2020-05-05 19:18] FormerLurker commented on #12
Completed and closed!

[2020-05-05 19:18] #12 closed

[2020-05-05 19:18] FormerLurker commented on #8
This has been completed and released.  Closed!

[2020-05-05 19:18] #8 closed

[2020-05-05 19:19] FormerLurker commented on #7
This has been completed and released.  Closed!

[2020-05-05 19:19] #7 closed

[2020-05-05 19:19] FormerLurker commented on #13
This has been completed and released.  Closed!

[2020-05-05 19:19] #13 closed

[2020-05-05 19:20] FormerLurker commented on #3
This has been completed and released.  Please open a new issue if you have any problems with desktop notifications.  For some reason they just don't appear (they are not disallowed on my machine) at all for me, so I cannot test :(

Closed!

[2020-05-05 19:20] #3 closed

[2020-05-05 19:21] FormerLurker commented on #1
Ok, so I think most of the issues mentioned here have been corrected by the new release.  If you have any other issues or feature requests, please create a new issue.  Thank you!  Closed :)

[2020-05-05 19:21] #1 closed

[2020-05-05 19:42] reinharm1959 opened #14 "Cannot install plugin in octoprint"
I tried installing Arc Welder via plugin manager as I previously was successful. Returns;

Installing plugin from https://github.com/FormerLurker/ArcWelderPlugin.git...
/home/pi/oprint/bin/python2 -m pip --disable-pip-version-check install https://github.com/FormerLurker/ArcWelderPlugin.git --no-cache-dir
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Collecting https

[2020-05-05 20:00] jneilliii commented on #3
You know, I'm not sure I've seen those since installing the development package for testing either...

[2020-05-05 20:35] FormerLurker commented on #14
You used the wrong link to install.  The .git link is for cloning source code.  You will want to use the .zip link.  Here is the link to the devel RC release I just pushed today:  ```https://github.com/FormerLurker/ArcWelderPlugin/archive/0.1.0rc1.dev2.zip```

[2020-05-06 11:45] simpat1zq commented on #6
I'm sorry about this, but could someone please spoon feed me what to do? I've read through this thread and the Marlin thread and can't figure out what I need to change in which file before compiling. Could you please just tell me which lines I need to edit?

[2020-05-06 16:30] benoit2600 opened #15 "Conversion is stuck on Initializing..."
Hi,

I'm using the 0.1.0rc1.dev2 version of this plugin, but I can't make it work :-( .

Everytime I try to do a conversion, It get stuck on  Initializing...

here is a gcode exemple that get stuck (it's on  Initializing since 15min now)
[Part Studio 1 - Part 1 (2)_0.3mm_PLA_MK3S_28m.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/4588028/Part.Studio.1.-.Part.1.2._0.3mm_PLA_MK3S_28m.zip

[2020-05-06 16:36] FormerLurker commented on #15
Are you running Python 3 by chance?  Also, can you reboot and see if the converted file actually exists in the file manager?  I'm trying to narrow the problem to the conversion or to the toast/ui updates, and there is a known issues in Python 3 (requires OctoPrint fix) that will prevent the progress bar and complete notifications from working.  Also, if you are using the 'overwrite existing file'

[2020-05-06 16:48] benoit2600 commented on #15
Than you for your quick answer !

I'm not 100% sure I'm not using python3, but I'm pretty confident. octoprint is launched with /home/pi/oprint/python2, and python open python v2.7.13.

No unfortunaltely there is no new file after rebooting the pi :( Oh and by the way, this is the only way to get back octopi working. When it's on Initializing, nothing is responding anymore. I need to log on SSH an

[2020-05-06 16:51] FormerLurker commented on #15
@benoit2600, that means the C++ call is crashing for some reason.  I ran your gcode through my python 2.7 instance, and it is converting, which is unfortunate.  Had it crashed for me I could probably easily determine what is going on.  I will look again as soon as time permits (work day).  Perhaps in the meanwhile you could enable verbose logging and see if the log file changes?  I will likely hav

[2020-05-07 05:22] FormerLurker commented on #6
@simpat1zq, I will post one file you will need to replace, and some decent arc settings in the AM, and i will leave a link here.

[2020-05-07 07:24] benoit2600 commented on #15
Hi @FormerLurker ,

The logs for this plugins are already set to debug. Do you want me to re-try with the same verbose level on octoprint.log ?

[2020-05-07 13:59] FormerLurker commented on #6
@simpat1zq, [here is a gist](https://gist.github.com/FormerLurker/bb0fd9234c2f97aee534a64934307889) I created that contains one file and one partial file.  The first, G2_G3.cpp can be found at Marlin/src/gcode/motion/G2_G3.cpp.  Just replace the file there with the G2_G3.cpp file in the gist.  The other section is basically the default arc configuration.  It should work fine, but if you still expe

[2020-05-07 18:19] hamselvdk commented on #6
Ive installed the plugin and run a file through it .. printer is now slower on the print and quality isnt as high as before .. I will update with min_arc_segments 16 after this print .. and test on a smaller print than the one Im testing on right now.

[2020-05-07 19:32] FormerLurker commented on #6
@hamselvdk, definitely check out G2_G3.cpp and check file lines 216 and 233.  Make sure seg_length is replaced with 0 (zero).  See the gist I posted in my previous comment.

[2020-05-07 20:28] hamselvdk commented on #6
@FormerLurker So I did and it didnt change the behaviour of the printer - it still stutters just really really slowly - as with a gcode not processed by the plugin stutters fast in the exact same locations.

[2020-05-08 09:40] hamselvdk commented on #6
These are my settings in configuration_adv.h
[code]
Linear advance is already disabled. .

[2020-05-08 11:21] reinharm1959 commented on #14
Ok I installed the latest version and tried printing a few models with many arcs and the arc_welder version dev2 definitely reduces the file size but it prints exceptionally slow(er).  So I turned arc welder dev2 off and print times returned to "normal". I'm running arc_welder on Pi 4 with Octoprint v  1.4.0 with a Taz 6. Not sure if I need to do something or modify and code???

[2020-05-19 09:11] EddyMI3d opened #16 "Problems with d<3mm"
I recently printed some stringing tests.
While printing via Arc Welder it appears, that obviously Marlin can't handle diameters smaller than 3mm:
![grafik](https://user-images.githubusercontent.com/8533327/82307452-a63ce280-99c0-11ea-9070-9ed0be924bb3.png)
The red test was printed with Vivedino T-Rex 3 and Marlin 2.0.5 and the yellow one with Prusa MK2.5S and MMU2S with firmware 3.9.0-RC3.
The dis

[2020-05-19 13:33] b-morgan opened #17 "Better installation instructions"
I believe it is time to add installation instructions to README.md. There is an **Installation** heading but the text only describes what to do if you have a pre-release. Issue #14 contains enough of a hint that I figured it out, but that text should be included in the README.md

[2020-05-19 13:37] b-morgan opened #18 "README.md missing a bold marker"
In the **Output File Settings**, **Target File Prefix**, the resulting file name is "**AW_print.gcode" which should probably be "**AW_print.gcode**"

[2020-05-19 15:32] FormerLurker commented on #17
I've updated the documentation.  Let me know what you think, and thanks for posting!

[2020-05-19 15:32] FormerLurker commented on #18
This has been fixed, though I'm sure there are other typos :)

[2020-05-19 20:22] FormerLurker commented on #16
You can adjust the arc welder resolution to whatever you like in the settings, but the resolution is not your issue.  The number of arc segments generated by your firmware is likely the issue.

I'm quite surprised you got such horrible results from the MK2.5S with MMU2S, because that's exactly the printer I use!  What version of ArcWelder are you using?  If you didn't install from one of the relea

[2020-05-19 20:38] FormerLurker opened #19 "Feedback for v0.1.0rc1.dev4"
Please let me know here how your experience with this version went.  I'm interested in hearing about successes, failures, what you like, what you hate, what worked, what didn't, or anything else you are willing to share.  I'm getting close to a release, so all feedback is helpful and welcome!

You can install within the plugin manager using this URL:  ```https://github.com/FormerLurker/ArcWelderPl

[2020-05-19 20:40] FormerLurker commented on #15
Hey, sorry it has been a while since I got back to you.  I'm just about to drop rc4 (in minutes, check the releases tab), and have made some changes that might have solved this.  If not, I added more logging to the conversion routine, which hopefully will help get this solved.

[2020-05-19 20:42] FormerLurker commented on #14
Sorry for the delay in responding.  It is likely an issue printing arcs with your firmware.  Unfortunately this is about as common as printers that have no problems printing arcs.  I suggest trying a test print containing many arcs directly from your SD card.  If it's still slow, it's a firmware issue.

I'm not sure what firmware LulzBot is running these days, but if you can find a link I will tak

[2020-05-19 22:02] reinharm1959 opened #20 "Can't install recent version through plugin manager in Octoprint"

[2020-05-19 22:03] reinharm1959 commented on #20
please provide the correct link to upload the latest version via Octoprint plugin manager

[2020-05-19 22:29] FormerLurker commented on #20
Please read the readme.md for full instructions installing latest releases, or from a specific branch.

Here is the latest release zip archive link, which can be found under the releases tab within the GitHub repo: https://github.com/FormerLurker/ArcWelderPlugin/archive/0.1.0rc1.dev4.zip

[2020-05-20 03:41] girrrrrrr2 opened #21 "Printing full circles ends up as printing dots"
I sliced a cylinder (testing z height calibration) and made it 15x15x100 tall.

The circles exterior seems to only print as a small dot.
[Shape-Box.aw.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/4654507/Shape-Box.aw.zip)
I attached the full file before and after, converted using default settings.

(the file also has a 100mm box on x and y to calibrate all 3 at once)

I can get you S

[2020-05-20 04:08] girrrrrrr2 commented on #21
Its interesting that the preview seems to show that its attempting to print a full circle, but then the printer just doesnt.

I wonder if this is something in marlin. Ill take a look tomorrow

[2020-05-20 05:57] EddyMI3d commented on #16
So I actually had dev2 running. I did it again with dev4 with the same result.
I 100% agree to you that it is to be located in the firmware as both printers show the same result.

[OozingTest.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/4654875/OozingTest.zip)

![grafik](https://user-images.githubusercontent.com/8533327/82409514-3edd6c00-9a6e-11ea-9dfa-bb40a0d88e21.png)

![grafik](ht

[2020-05-20 20:28] benoit2600 commented on #15
It works now :-)  !!

Thank you !

I've attached the log of a conversion. I've not try yet to print it, but the conversion process go to the end !

[plugin_arc_welder.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/4659112/plugin_arc_welder.zip)

[2020-05-20 20:28] #15 closed

[2020-05-20 21:54] FormerLurker commented on #15
Awesome 👍 let me know how it goes in the new issue i created for feedback for rc4 please!

[2020-05-28 00:27] xeddog commented on #19
I haven't done any comprehensive side-by-side testing yet, but so far I like what I see.  But I have a couple of feature requests.
1.  When uploading a file to Octoprint, ArcWelder puts out a dialog box with some conversion information.  Any way to put a timer on that so it will go away by itself after a while?

2.  Selective conversion.  It might be nice to be able to upload files without running

[2020-05-28 00:30] FormerLurker commented on #19
For 1, you can just disable the popup.  Check the settings.  It is funny you ask about this, because someone else asked to have them stay open (it used to close after a while), lol!

2 is already implemented.  Check the settings and look for a drop down box.

[2020-05-28 15:37] xeddog commented on #19
Thanks for the reply, I guess this just shows that you can't please everyone.

So, re: the popup, maybe a setting to allow the user to specify a timeout value, with a value of 0 to leave it open?

And the selective conversion, in the setting I only see a button to enable/disable the plugin.  There are no new buttons in the file browser.  Maybe I got an old version??  I just installed a couple of d

[2020-05-28 15:44] FormerLurker commented on #19
@xeddog, what version are you using?  Also, I will consider adding an option to the popup controls controlling how long they are visible.

[2020-05-28 15:47] xeddog commented on #19
Plugin manager says "(0.1.0rc1.dev1)

[2020-05-28 15:52] xeddog commented on #19
Hang on.  Missed a step in the installation.

[2020-05-28 15:56] FormerLurker commented on #19
@xeddog, I notice you are using Print Time Genius.  A patch was just applied to improve print time estimation when using G2/G3 commands.  Check out the issue [here](https://github.com/eyal0/OctoPrint-PrintTimeGenius/issues/195#issuecomment-635135493), and perhaps consider helping to test the patch!

Also, you must have gotten an old link from somewhere.  Try installing from this release archive ur

[2020-05-28 16:15] xeddog commented on #19
I will look into the Print Time Genius, thanks.

[2020-05-28 16:18] xeddog commented on #19
I guess having the right version helps a tad.  dev4 seems to have what I wanted.

[2020-05-31 19:27] corporategoth opened #22 "M117 lines unnecessarily capitalized"
I noticed the processed gcode from arc welder capitalizes the text on M117 lines.

This, while on one hand is cosmetic, DOES mean that plugins like DisplayLayerProgress, which inserts a M117 line at each layer (and stops itself re-processing files it has already processed) cannot recognize the layer M117 lines it put in, because they have changed from `M117 INDICATOR-Layer1` to `M117 INDICATOR-LAY

[2020-05-31 19:39] FormerLurker commented on #22
Can you post your source gcode file to gist.github.com and leave a link here?  I wasn't aware of the behavior you described, and have attempted to create a patch, but I'd like to run your gcode through my debugger to make sure it's working.

FYI, the code I'm using to reformat the gcode comes from Octolapse, which wasn't originally intended to rewrite, only to recognize gcodes, so I'm glad you poi

[2020-05-31 19:46] FormerLurker commented on #22
Alternatively, you could also install Arc Welder from this link and run your file through the processor to see if this is resolved:  ```https://github.com/FormerLurker/ArcWelderPlugin/archive/devel.zip```

I'd sill appreciate it if you could post your file, but this may solve your problem.  I'm running some tests right now to make sure this didn't have any unintended consequences.

[2020-05-31 21:52] Andrei-Pozolotin opened #23 "Klipper: G2/G3 only supports relative extrude mode"
1. sample octoprint log:
[code]

2. klipper docs:
https://github.com/KevinOConnor/klipper/blob/master/docs/G-Codes.md#g-code-arcs

3. kilpper host code:
https://github.com/KevinOConnor/klipper/blob/master/klippy/extras/gcode_arcs.py

[2020-05-31 21:56] FormerLurker commented on #23
Isn't this a klipper issue and not an arcwelder issue?  Absolute extrusion is valid for all G1/G2/G3 codes according to most gcode definitions (though there really isn't a standard).  I recommend creating a feature request within the Klipper github page requesting absolute extrusion support for arcs.  It seems really strange to me that this wouldn't already be implemented, but so few people use G2

[2020-05-31 23:42] corporategoth commented on #22
I tried using gist.  It didn't work so well.

[test_print.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/4708688/test_print.zip)

Here is a print I did recently.  You can see that DisplayLayerProgress ran on test_print.gcode (this was re-downloaded from Octoprint), then ArcWelder went to work, and it capitalized all the indicators, which means DisplayLayerProgress had to go over it aga

[2020-05-31 23:46] FormerLurker commented on #22
Cool, i will run it through the debugger tomorrow.  In the meanwhile, try installing from the dev link i sent last time and let me know if it is working for you.  In any case, i will test with your gcode too.

[2020-06-02 01:04] Andrei-Pozolotin commented on #23
klipper project confirmed they own this issue
https://github.com/KevinOConnor/klipper/issues/2943#issuecomment-637079508

[2020-06-02 01:04] #23 closed

[2020-06-02 02:38] FormerLurker commented on #23
Excellent, thanks for letting me know.  I am so glad arc support is becoming more widespread!

[2020-06-02 03:37] jhstatewide commented on #19
I'm lucky enough to have a setup where enabling ARC is no problem. :) This plugin kicks ass... awesome idea, works great... EASY SETUP. I'm getting awesome results with curved surfaces now, no stutter at all with GCODE. I did have to patch the G2.cpp as you suggested in your docs, but that was pretty easy.

REALLY looking forward to V1.

PS. You should also release a static bin so people can just

[2020-06-02 05:21] FormerLurker commented on #23
Wow, it looks almost exactly like the marlin code.  I may also attempt to implement a gcode (M214) for setting arc interpolation parameters.

[2020-06-02 05:26] FormerLurker commented on #19
@jhstatewide, thanks for your compliments, and enjoy this link: https://github.com/FormerLurker/ArcWelderLib/actions/runs/107579357

I don't think the mac code is working (I don't own one to test), buy the windows and linux builds work.

[2020-06-07 19:21] jhstatewide commented on #19
Thanks for the link to the standalone bins. I was able to build them myself. I have your plugin in use across two different printers. After a few prints on each over a couple days, absolutely zero issues. Smaller gcode, everything working great. Keep up the good work!

[2020-06-07 19:25] FormerLurker commented on #19
@jhstatewide,

Fantastic, thank you for reporting this!  I am probably going to release this plugin within the next week or two since I haven't heard about any major issues with either the plugin or the resulting gcode (aside from some firmware issues, but I cannot fix all of those).

[2020-06-08 21:38] msteele999 opened #24 "Install Fails on Octprint 1.4.0 running on Windows 10 under virtualenv / Python"
Hello,

I attempted to install your plugin version 0.1.0rc1.dev4 on OctoPrint 1.4.0 running on Windows 10 Home.

It looks like it failed trying to open a file called 'chrono'. I have attached my plugins log file. Is this something you think can be rectified? Am I missing another file that I need to install manually?

best regards,

Mark
[plugin_pluginmanager_console.log](https://github.com/FormerL

[2020-06-08 21:59] FormerLurker commented on #24
Hmm.  What C++ compiler do you have installed?  VC++11 is supported in Visual studio 2010 with SP1 or in all versions of Visual Studio 2012 and above.

FYI, I may try to remove chrono since it has caused issues before, but I can't seem to find any other way to get milliseconds in all the targeted OSs.

[2020-06-08 22:18] msteele999 commented on #24
I have Visual C++ for Python installed per the instructions I have on
installing OctoPrint under Windows (
https://www.microsoft.com/en-us/download/details.aspx?id=44266)

Looks like it's version 9.0.0.30729

On Mon, Jun 8, 2020 at 5:59 PM FormerLurker <notifications@github.com>
wrote:

[2020-06-08 22:24] msteele999 commented on #24
I'm installing C++ 14.x now and will try compiling again

On Mon, Jun 8, 2020 at 6:18 PM Mark Steele <msteele999@gmail.com> wrote:

[2020-06-08 22:25] FormerLurker commented on #24
Hmm.  It looks like that is vs2008.  Let me think on this for a while and see if I can remove that dependency.  In the meanwhile, you could try upgrading to python 3, and install a newer version of visual c++ if you don't want to wait.

Fyi, that compiler has given me so much grief, lol!  I will be happy when python 2.7 is dead and gone :)

[2020-06-08 22:27] FormerLurker commented on #24
Rodger that.  Good luck, and let me know how it goes.  In any case I will try to make it work with the 2008 version.  Thx for letting me know!

[2020-06-08 22:28] msteele999 commented on #24
I think I tried Python 3.0 before but let me see what happens

On Mon, Jun 8, 2020 at 6:25 PM FormerLurker <notifications@github.com>
wrote:

[2020-06-08 22:30] FormerLurker commented on #24
Yeah, it may just work.  The 2008 version is fully compatible, but that doesn't mean a newer one wont work.

Also, if you do try python 3, I recommend completely uninstalling python 2.  It is possible to get them both working at the same time, but it is a hassle and can cause some difficult to debug problems.

[2020-06-08 22:37] msteele999 commented on #24
trying C++ update first - I actually installed it but on my host system and
not the Compute Stick where OctoPrint is running - derp

On Mon, Jun 8, 2020 at 6:31 PM FormerLurker <notifications@github.com>
wrote:

[2020-06-08 22:40] msteele999 commented on #24
Gah - now to figure out which package to install - way too many options .

On Mon, Jun 8, 2020 at 6:37 PM Mark Steele <msteele999@gmail.com> wrote:

[2020-06-08 22:45] msteele999 commented on #24
No joy - it keeps trying to use C++ for Python 2.7 - it must be buried in a
config file somewhere.

I'll give Python 3 a try again

On Mon, Jun 8, 2020 at 6:40 PM Mark Steele <msteele999@gmail.com> wrote:

[2020-06-08 22:48] FormerLurker commented on #24
You could uninstall the other compiler first

[2020-06-08 22:51] msteele999 commented on #24
Trouble is I am not sure I am actually downloading the correct C++ compiler
- visual studio has several dozen options - not sure which one to select yet

On Mon, Jun 8, 2020 at 6:48 PM FormerLurker <notifications@github.com>
wrote:

[2020-06-08 23:34] msteele999 commented on #24
No joy on the Python3 install - I'll keep playing around with it

On Mon, Jun 8, 2020 at 6:51 PM Mark Steele <msteele999@gmail.com> wrote:

[2020-06-09 18:54] xeddog opened #25 "Feature request: Make this a Cura plugin"
This probably isn't the best place for this, but ArcWelder would be a great Cura plugin.

[2020-06-09 18:59] FormerLurker commented on #25
Yeah, there is already a command line version.  This has been discussed, and I'm glad it's now in the issues.

[2020-06-10 00:42] xeddog commented on #19
Minor detail, but I just noticed that when "arc'ing" a file in Octoprint, you apparently don't check to see if there is already an existing file with the same name for the output file.

[2020-06-10 00:57] FormerLurker commented on #19
This is a hard one.  I frequently reslice and upload files.  I asked myself, would I want to answer yes in a confirmation box every time I do this?  Since a reslice is usually due to a mistake, and by that time I am already frustrated, i figured it would annoy me. Then, i wondered if I would ever care if one was overwritten.  This may vary, but I figured no.  The final decision came when I realize

[2020-06-10 03:27] xeddog commented on #19
Nah, let this one go.  It was trivial anyway, and now that I think about it, I would have had to respond to about 50 of those too.  I was also thinking that the ability to select a different folder might be a good idea, like maybe a setting in the configuration.  Then I thought about what a pita to be having to switch back and forth.

Thank you for the response.

[2020-06-10 10:00] toponto commented on #4
hi man, just tried again with your last release, and updated python to V3 just in case... again... reduction of some space but no g2/g3 on the file.. weird

[2020-06-23 12:00] msteele999 commented on #24
Still no luck - any thoughts on removing that dependency to see if it will complete the installation? I'm happy to beta test this for you :-)

[2020-06-23 15:18] FormerLurker commented on #24
Turns out getting milliseconds in C++ in a cross platform way is nearly impossible without 1000s of lines of code.  I am actively working on this.  Your windows installation is the first that has had problems with chrono.  I believe I've found a fix for macos.

Once I get this done (it's been a crazy couple of weeks here) I'll send you a link to install.  If that fails, you can just uninstall the

[2020-06-23 15:26] msteele999 commented on #24
Excellent - I'll wait to hear from you.

Mark

On Tue, Jun 23, 2020 at 11:18 AM FormerLurker <notifications@github.com>
wrote:

[2020-06-23 16:51] FormerLurker commented on #24
Mark, try installing from this URL:  https://github.com/FormerLurker/ArcWelderPlugin/archive/devel.zip

I can't promise it will work, and the MS aren't clock accurate (good enough I believe).  The MS will increment independently from the S unfortunately, but it may be good enough since this only affects console applications.

[2020-06-23 17:03] msteele999 commented on #24
Failed again -

On Tue, Jun 23, 2020 at 12:52 PM FormerLurker <notifications@github.com>
wrote:

2020-06-23 12:57:07,703   c:\octoprint\venv\scripts\python.exe -m pip --disable-pip-version-check install c:/users/mstee/appdata/local/temp/tmpxo7rqr.zip --no-cache-dir
2020-06-23 12:57:10,750 > Processing c:\users\mstee\appdata\local\temp\tmpxo7rqr.zip
2020-06-23 12:57:18,766 > Requirement already sat

[2020-06-23 17:13] FormerLurker commented on #24
Your compiler really hates modern C.  If I fix these errors, there will be 100s more that show up next time.  to_string and std:array are apparently also not supported.  Just uninstall  C++ for Python 2.7 and see what happens.

[2020-06-23 17:14] FormerLurker commented on #24
Edit:

If you consider a 10 year old version modern, lol.

[2020-06-23 17:14] msteele999 commented on #24
Will do

On Tue, Jun 23, 2020 at 1:14 PM FormerLurker <notifications@github.com>
wrote:

[2020-06-23 17:31] msteele999 commented on #24
Rock - meet hard place:

error: Microsoft Visual C++ 9.0 is required. Get it from http://aka.ms/vcpython2

Which then installs the version of C++ that your plugin hates :-)

On Tue, Jun 23, 2020 at 1:14 PM FormerLurker <notifications@github.com>
wrote:

[2020-06-23 17:37] FormerLurker commented on #24
Wait, aren't you running python 3?  Something must be wrong with your environment variables.  Search for 'Environment Variables' and look for this:

![image](https://user-images.githubusercontent.com/33363128/85436164-3507c680-b54e-11ea-8086-f6eae2b449d5.png)

Make sure that is pointing to your python 3 installation.  then reboot.  Let me know how it goes!

[2020-06-23 17:38] FormerLurker commented on #24
OH, also, look at the path and remove all references to Python27 and replace with the python 3 paths.

[2020-06-23 17:59] msteele999 commented on #24
No - I was not able to get P3 running - I'm re-doing that now - basically I
am installing a subset of Visual Studio now to get the proper 14.0 C++
compiler - I may get this licked before the end of the day

On Tue, Jun 23, 2020 at 1:38 PM FormerLurker <notifications@github.com>
wrote:

[2020-06-23 18:05] FormerLurker commented on #24
This might help with installation: https://wiki.python.org/moin/WindowsCompilers

[2020-06-23 19:07] msteele999 commented on #24
I have python3 running!

Will test your plugin soon

On Tue, Jun 23, 2020 at 2:05 PM FormerLurker <notifications@github.com>
wrote:

[2020-06-23 19:27] msteele999 commented on #24
The log shows the plugin installed - however during the install it said it
failed with an unknown error.

The plugin is showing as disabled. When I enable it the server restarts and
it looks like it stuck.

On Tue, Jun 23, 2020 at 3:07 PM Mark Steele <msteele999@gmail.com> wrote:

2020-06-23 15:09:17,414   c:\octoprint\venv\scripts\python.exe -m pip --disable-pip-version-check install https://gith

[2020-06-23 19:31] FormerLurker commented on #24
The log you posted doesn't appear to show the install log for ArcWelder.  Can you see if you can generate that for me?

[2020-06-23 19:44] msteele999 commented on #24
interesting - that was the entire log - I'll look to see if I can find
something more

FWIW - it's working and I am running my first print after processing

On Tue, Jun 23, 2020 at 3:31 PM FormerLurker <notifications@github.com>
wrote:

[2020-06-27 22:55] xeddog opened #26 "Question about statistics after "arcing""
In the attached screenshot are the stats for a T-Tex tooth I sliced, uploaded, and welded.    I get all of the stats except Points Compressed.  Is that the number of small straight moves that have been made into the given number of arcs?  In this case, 1550266 small straight move segments have been converted into 440127 arcs?

Wayne

![image](https://user-images.githubusercontent.com/8324160/85933

[2020-06-28 23:08] xeddog commented on #26
And a second question - do you have any plans to support G2/G3 commands with the "P" operand for full circles???

[2020-06-28 23:08] #26 closed

[2020-06-29 13:47] FormerLurker commented on #26
Yes, 1550266 points were turned into 440127 arcs.  Also, full circles are not supported because that could lead to overlap in general models.  Arcwelder will always generate semi-circles, though they may be very close to a full circle.

[2020-06-30 02:26] katherinehackworth commented on #21
There is certainly the possibility that Marlin arc support is buggy, and it just hasn't been caught until now because nothing supports arcs except this atm.

[2020-06-30 02:27] girrrrrrr2 commented on #21
That too. I'm assuming it's because it's basically trying to make a full circle.

When I was testing it I don't think I had circle support on. Which could be the issue. Sadly I moved right after I started playing with it so I'm still setting back up. To test.
On Monday, June 29, 2020 Katie Hackworth <reply@reply.github.com> wrote:

There is certainly the possibility that Marlin arc support is bugg

[2020-07-07 05:26] shiftingtech opened #27 "Arc welder changes the case of things, including comments."
When I use arcwelder, the `@Object` markers that cancel-print uses to identify objects get converted to `@OBJECT,` which then breaks cancel-object.

I've also got a bug going on the cancel-object side,
( https://github.com/paukstelis/Octoprint-Cancelobject/issues/55 )
and I think they're going to remove the case sensitivity at some point.   But I think it would be good practice in general for ArcW

[2020-07-07 17:22] FormerLurker commented on #27
Hey, I think I have solved this actually, but have not released the changes.  I'll get back to you ASAP about this.

[2020-07-07 17:24] FormerLurker commented on #27
Hmm, that was easier than I though it would be to check :)  See [this commit](https://github.com/FormerLurker/ArcWelderPlugin/commit/e9fd5ffaf06f8280c30444c9d0999e6402992006).  If you'd like to try it out, you can install from the plugin manager using this URL:  https://github.com/FormerLurker/ArcWelderPlugin/archive/devel.zip

[2020-07-07 21:27] shiftingtech commented on #27
Thanks for the quick response!  downloading to test now

[2020-07-07 21:28] FormerLurker commented on #27
Anytime!  I'm excited to hear how it goes.  I'm planning to release this very soon, even though i know some OS/Compilers have issues with it.  Fortunately not RPI, and most all modern compilers will work when using python 3.

Good luck!

[2020-07-10 02:13] fiferboy commented on #27
I was taking a look to the approach for preserving capitals (since you're using C for the parsing which is not exciting for string handling) and it looks like your excluding certain commands from the upper case-ification.

Unfortunately, there is an additional area of case sensitivity that is much harder to detect: Klipper macros. I have a macro in my start GCode that loads a bed mesh profile for

[2020-07-10 02:20] FormerLurker commented on #27
@fiferboy,

Thanks for the observations.  Yes, string handling isn't fun at all.  It was written for Octolapse because python was excruciatingly slow, but at a high cost (my sanity for one).  Octolapse only needed to interpret the gcode, but arcwelder needs to rewrite it, so perhaps I can make some changes with that in mind.  Eventually Id like to publish the parser and printer state tracking as a

[2020-07-11 18:09] FormerLurker commented on #27
OK, I've made some additional changes to preserve most gcode formatting, including case and spacing.  It's currently available in the dev branch, which can be installed with this URL:  https://github.com/FormerLurker/ArcWelderPlugin/archive/70c2929bdaf5ee84d59c978979116c8354076664.zip

Please let me know how this works for you.  I'm also interested in how it handles Klipper Macros.  However, I thi

[2020-07-12 18:46] DroneMang opened #28 "Klipper Supported?"
Hi,

I am using Klipper, and just wondering if this plugin will work.  It looks like it will be, so perhaps a blurb could be added to the documentation for Klipper users describing what to enable etc.

So far I have found to enable the below in Klippers printer.cfg, but what should the resolution be?  It defaults to 1.  On the about tab in Octoprint, you recommend 0.1mm, does this hold for Klipper

[2020-07-13 01:39] FormerLurker commented on #28
It should work as long as arcs are enabled.  Try a resolution of 0.25mm for starters.  Increase if arcs cause slowdown, but you probably have more than enough processing power to handle 0.25mm segments.

All of the other options should still work (lin advance etc), because behind the scenes klipper is generating small segments (the resolution setting) to generate the arcs.

[2020-07-14 14:14] furynick opened #29 "Command line usage"
Can you add some documentation on how to install and use ArcWelder with command line, I would like to enable it in Simplify3D post-processing.

[2020-07-14 14:26] FormerLurker commented on #29
Wrong repo.  Check out [ArcWelderLib binaries](https://github.com/FormerLurker/ArcWelderLib/actions/runs/107579357).  Please not that it's not working properly in MacOs/Ubuntu, depending on the installed compilers.

I also have an ARM build, but I couldn't make it work in the github actions.

[2020-07-23 20:03] fiferboy commented on #27
I haven't had a chance to test your changes yet. I went the other direction and attempted to remove case changing by being a bit more inclusive in testing for commands. You should be able to see this in my fork repo. It works perfectly on my G-Code generated by Prusa Slicer (which always uses capitals for the G/M commands so it is not the greatest test case) and it works perfectly to preserve case

[2020-07-23 21:10] FormerLurker commented on #27
@fiferboy, no problem.  I think it's still possible that some macro names might cause issues, but I haven't tested everything yet.  I need another printer so I can experiment.  I think if you named your macro something that looked like a valid G0/G1 gcode ArcWelder might mess things up.  Hopefully Klipper has some specific rules about the names that can be used for macros.  ArcWelder doesn't care

[2020-07-24 19:06] changedsoul commented on #28
Im sorry to bring this back up, but I am using klipper "without" octoprint.
How would I get this to convert some files.

[2020-07-24 19:28] FormerLurker commented on #28
@changedsoul, what OS?  I have windows/linux/linux arm binaries of a command line version.

[2020-07-24 19:30] FormerLurker commented on #28
Check [here](https://github.com/FormerLurker/ArcWelderLib/actions/runs/107579357)

I have an arm binary for raspberry pi too somewhere, but I would have to manually build it since git actions dont support that yet.  Also, IOS and Ubuntu may have issues (still ironing out the kinks there)

[2020-07-24 19:34] changedsoul commented on #28
Its for a raspberry pi....what ever OS is installed on that....I think debian?

[2020-07-24 19:36] FormerLurker commented on #28
Rasbian.  I will have yo manually compile that.  Give me a day or two and I can send it.  If you happen to have access to a windows machine you could use that in the meanwhile.

[2020-07-24 20:28] changedsoul commented on #28
I downloaded the Linux one and ran it on my arch distro and it seem to be working nicely. I am going to compare a before and after print, but my first impressions are that just using arcs seems to have made my printer much quieter, lol.
Very promising.

[2020-07-24 21:02] FormerLurker commented on #28
Awesome!  Star the repos if you think they are useful.  Enjoy the app, and post any feedback or thoughts please, good or bad.

[2020-07-26 15:21] NickRno77 commented on #19
I’m probably asking the impossible, I’ll ask anyway. Sending the gcode from Prusaslicer to octoprint to print directly doesn’t get interrupted by the ArcWelder. I’m guessing that is an impossibility?

 I’ve only been using ArWelder of a day and so far so good seems to have stopped the stuttering issues I was getting on my print, the print had text and a large radius. Thanks.

[2020-07-26 15:22] FormerLurker commented on #19
It may be possible actually.  I will look into it.  You aren't the first to ask for this, btw, so it is definitely worth looking into.

[2020-07-27 15:22] xeddog commented on #19
I think I am back in the camp of wanting that final statistics display you present after welding to go away after some period of time.  Perhaps a setting for a timer with a range of say . . . 0-60 seconds where 0 will not remove it.  I do most of my slicing and welding from a different room and start the print from that same place.  After a while I will go check just to make sure the print is goin

[2020-07-27 15:34] DroneMang commented on #28
I am happy to report that this has been working great in Klipper.  I have even made the resulution smaller in Klipper, half as small as recommended as a start point, no issues.  I am printing with an SKR PRO.

[gcode_arcs]
resolution: 0.05

[2020-07-27 15:38] FormerLurker commented on #28
Wow!  At that resolution you should have next to no deviation at all.  Do you notice any change at all in print quality or speed?

[2020-07-27 15:51] DroneMang commented on #28
Well I didn't really notice anything different, but the log for how the mcu
and connection is performing did seem like things were getting more taxed.
The good thing with Klipper is it will throw an error or shutdown if it
can't keep up, and it kept right on going.

On Mon, Jul 27, 2020 at 11:39 AM FormerLurker <notifications@github.com>
wrote:

[2020-07-28 23:15] acharmedmatrix opened #30 "Nozzle moves to corner of bed mid print and then resumes"
Hi I just started using this plugin and I have done a few test prints. Overall the prints have had massive improvement on curves, However, I have a very odd problem. Randomly during the print the nozzle will move to the corner of the bed and then immediately move back and resume the print. On a standard Benchy this happened twice.
![image](https://user-images.githubusercontent.com/18491565/8873624

[2020-07-28 23:17] FormerLurker commented on #30
Can you send the before and after gcode?  Also, are you using Octolapse?  It can cause these movements.

[2020-07-28 23:43] acharmedmatrix commented on #30
Yes I used OctoPrint. The print on the left is the original gcode. As you can see the zits were significantly improved, but the weird departure was not in the original.

Both gcodes are in this zip.

Thanks

[Benchy.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/4991670/Benchy.zip)

[2020-07-29 15:13] acharmedmatrix commented on #30
For further information this is happening with everything. Not just benchy. Here's another example.
[V3Test.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/4995659/V3Test.zip)

[2020-07-29 15:15] FormerLurker commented on #30
Is there any way for you to tell me exactly what layer is having this problem?  It's very difficult to pinpoint where the problem is otherwise, though I'll do what I can.

[2020-07-29 15:21] acharmedmatrix commented on #30
I am printing the V3 test now and it just had the issue. It is on layer 8.

This was the first command sent when it started printing again
`N24002 G2 X155.075 Y91.998 I-699.132 J311.043 E890.05150*122`

[2020-07-29 15:39] FormerLurker commented on #30
What printer and firmware are you using?  Here is a preview of that layer in simplify 3d (I verified the line of gcode you sent exists in that layer):

![image](https://user-images.githubusercontent.com/33363128/88820286-bb837980-d186-11ea-890e-2196145f353b.png)

As you can see, there are no travel moves off of the component on that layer.  Also, there is only one movement from the corner, and tha

[2020-07-29 15:41] acharmedmatrix commented on #30
I am on 2.0.6 on an Ender 3 Pro. I will try printing from the SD Card and report back. Thanks

[2020-07-29 16:15] FormerLurker commented on #19
I will take a look at adding a timer to the notifications.  You could simply turn them off if you go into the settings as a work around for the time being.  I'm also considering adding the statistics to the file metadata and making all popups disappear after a short time.  That would reduce the number of settings related to notifications.

Regarding the latest, Dev4 is nearly perfect bug wise (no

[2020-07-29 18:13] NickRno77 commented on #19
DEV4 is going great although I did get the stutters again with file attached, the file had a close honeycomb pattern, I was using a 0.6 nozzle. It’s not really a problem but thought you may like to look at.

https://drive.google.com/file/d/1AvOmJiRDEP9qYmJXABW0HL8rM3gCY3YU/view?usp=drivesdk

Also something you might be able to add in the “output file saving” options. What would be nice would have

[2020-07-29 22:09] acharmedmatrix commented on #30
Update: Downloading the gcode from OctoPrint and putting it on the SD Card it printed without issue.

I reuploaded the file to OctoPrint and tried again and had the same issue.

Enabled 3rd party plugins are: Spaghetti Detective, ArcWelder (duh), Bed Visualizer, DisplayLayerProgress, Enclosure Plugin, Exclude Region, FileManager, FullScreen Plugin, GcodeEditor, Octoprint-Display-ETA, and PrintTime

[2020-07-29 22:24] FormerLurker commented on #30
Yeah, lots of plugins there, so something def could be interfering.  Pretty much noone is using G2/G3 ATM, so many plugins have never encountered them before.  Also, no Octolapse (lol, j/k...)??

That video is absolutely bonkers.  One of the craziest things I've ever seen a 3d printer do!  Ok, I think I'm going to need a full serial log to figure it out.  If we can see exactly what was sent to the

[2020-07-30 00:04] acharmedmatrix commented on #30
Hah I don't have Octolapse because I don't like how it pauses for the photo.

I've also never seen anything like this so it's pretty interesting. Unfortunately even with every plugin disabled I had the same results.
[IMG_4596.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/4998044/IMG_4596.zip)

So unfortunately it seems like it's something in stock OctoPrint or some weird setting I hav

[2020-07-30 01:44] acharmedmatrix commented on #30
Log is attached. I killed the print immediately after the issue occurred. Looks like it was probably this:

`Recv: Error:Line Number is not Last Line Number+1, Last Line: 42112`

[serial.log](https://github.com/FormerLurker/ArcWelderPlugin/files/4998303/serial.log)

[2020-07-30 02:39] FormerLurker commented on #30
Lol!  You may be right.  I will take a look tomorrow, thanks for the log!

[2020-07-30 14:40] acharmedmatrix commented on #30
Update: I have a second printer which is an Ender 3 (nonPro) also with Marlin 2.0.6 and running OctoPrint. It is having the same issue.

Side note: I forgot to mention both of these have SKR Mini E3 v1.2 mainboards.

[2020-07-30 15:07] FormerLurker commented on #30
I couldn't find anything in the logs.  I compared the last 20 or so lines of gcode and everything looked correct.  I will continue to research.

[2020-07-30 15:17] acharmedmatrix commented on #30
Weird. I made the firmware on both printers so entirely possible that I did something weird, but god knows what.

[2020-07-30 15:32] FormerLurker commented on #30
It's unlikely since it's working via SD.  Perhaps you can look at your OctoPrint printer profile and Serial Connection settings (all 4 tabs)?  Screencaps may be useful to see if there are any non-standard settings in there.

[2020-07-30 15:49] acharmedmatrix commented on #30
![PrinterSettings](https://user-images.githubusercontent.com/18491565/88944426-b859bd80-d25a-11ea-85eb-f0a2f7d6e421.png)
![SerialSettings](https://user-images.githubusercontent.com/18491565/88944427-b859bd80-d25a-11ea-9f29-67d41fd3c156.png)

[2020-08-06 10:08] tobyfu opened #31 "extruder skipping at all arcs and klipper gives move exceeds maximum extrusion error"
Hi I'm running klipper on a bigtreetech skr 1.4 turbo and thought I would give this plugin a try while I was printing some ear savers but it seems wherever there is an arc the extruder just skips and eventually klipper errors and stops the print. The original gcode prints without issue and as far as I can see from the modified gcode the same amount of material is being extruded and from the moveme

[2020-08-06 17:21] FormerLurker commented on #31
The gcode looks correct.  I ran it through two analyzers.  Are you sure you have arcs enabled in the klipper config?  To test this you could send some test G2/G3 commands via the Octoprint Terminal.

[2020-08-06 23:10] tobyfu commented on #31
I was able to do some big non-extruding circles in both directions via the terminal so the arc movements themselves seem to be working okay. At this point seems like it probably isn't the plugin being an issue but I'm at a loss as to what it could be... Maybe klipper is doing something funny with E movements on arcs but I haven't seen anyone else with the same problem so far.

[2020-08-07 04:04] girrrrrrr2 opened #32 "Support for object cancelling"
As far as I can tell the conversion script removes the lines that declare what part is which.

Would it be possible to leave those lines in so that its possible to use the cancel object part of Marlin/Octoprint?

[2020-08-07 05:55] tobyfu commented on #31
It seems like what is actually happening is that the arc moves do not extrude at all for some reason and the error happens when it gets to the next non-arc move and tries to extrude it all at once because of absolute positioning.

Anyway it is either a bug in klipper or my printer itself and not the plugin so I will close this issue.

[2020-08-07 05:55] #31 closed

[2020-08-07 08:28] tobyfu commented on #31
Just in case anyone runs in to this I found my issue in klipper and fixed it, there was an issue with how klipper dealt with extrusion on arcs in absolute extrusion mode. Possibly you can use relative extrusion to avoid this entirely but I have a pull request in so hopefully it will be fixed in master very soon. The arcwelder gcode printed perfectly once this was addressed.

[2020-08-07 13:36] FormerLurker commented on #31
Hmm. I think i saw a PR to fix this in klipper.  I will take a look later.  Fyi, arcwelder will work on a file with relative extrusion just fine if you slice it that way.  Also, thank you for posting about your resolution!

[2020-08-15 13:49] NickRno77 opened #33 "Corrupt gcode after conversion"
Prusa Mk3s. OctoPi 3b

I printer a part yesterday with 0.6 Nozzle Layer Height 0.3 I got corruption after AW convert, this part printed ok using a 0.4 Nozzle and Layer Height of 0.15 also AW converted. When printed withought AW conversion print looks good but stutter back.

When I viewed the gcode in ideamaker I can clearly see the corruption lines in the view, when I view the same file not conver

[2020-08-15 15:29] FormerLurker commented on #33
I will run this through my analyzer.  Thanks for the report.

[2020-08-15 16:53] NickRno77 commented on #33
Great thanks, I should of said ArcWelder has been great up till now although 0.6 nozzle does stutter a little, does that make sense ?

[2020-08-15 16:57] FormerLurker commented on #33
Of course!  Bugs happen, an I am glad to find/fix them.

[2020-08-15 17:08] FormerLurker commented on #32
Hmm..  Can you submit a gcode file that contains the object cancel codes?  That way I can see what they look like before and after conversion.  Thanks!

[2020-08-15 17:14] FormerLurker commented on #33
OK, so I don't see the corruption when viewing in Simplify 3d.  That doesn't mean there is some issue, but in order to find it we will have to isolate which layer is having the issue.  Any way you could measure up on your print to identify the layer height from your first image where the exterior perimeter didn't print correctly?  If we can do that I'd recommend extracting that layer and only prin

[2020-08-15 17:31] FormerLurker commented on #30
Sorry it's been so long since I've had a chance to look at this.  I have a theory about what might be wrong.  It's possible that Marlin is having trouble with the precision of the I and J parameters for G2/G3.  The line that appeared to fail has a really large offset:

G2 X110.378 Y112.331 I-44305.381 J-9.420 E2335.56923 F1500

Notice how small I is (-44305.381).   That should be a valid value for

[2020-08-15 17:57] NickRno77 commented on #33
I hope this helps, its slightly above the female part of the latch, maybe 2 or 3 layers. I thought the latch projecting across the print might be something to do with the problem?
![Shuttle Box 4 pieces V2pla_layer](https://user-images.githubusercontent.com/61921235/90318485-b1a09b00-df28-11ea-8193-fa37db98f7aa.JPG)
![IMG_3316](https://user-images.githubusercontent.com/61921235/90318556-3390c400-d

[2020-08-15 19:48] acharmedmatrix commented on #30
Thanks for following up. Unfortunately this did not seem to solve the issue. I cancelled the print just as the nozzle returned to Benchy from one of its little walkabouts.

[serial.log](https://github.com/FormerLurker/ArcWelderPlugin/files/5079368/serial.log)

[2020-08-15 20:41] FormerLurker commented on #30
Ok, thanks for trying.  I will try to install the firmware you have to test.  Might take a while :(

[2020-08-15 22:23] girrrrrrr2 commented on #32
here is a before and after of a project im working on.

[Coupler_Cage.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/5079630/Coupler_Cage.zip)

[2020-08-16 00:09] FormerLurker commented on #32
Excellent, this will help, thx!

[2020-08-16 00:40] pietchaki opened #34 "[improvement] Keep file thumbnails after welding"
I'm using the "Ultimaker Format Package" plugin (https://github.com/jneilliii/OctoPrint-UltimakerFormatPackage) to get a cool thumbnail of the file in Octoprint. I believe there is something like this for PrusaSlicer too.
It would be great if you could copy these thumbnails into the processed file.
If I understood correctly, the thumbnail is not part of the GCODE itself, they are both part of a co

[2020-08-16 01:24] FormerLurker commented on #34
Interesting idea. I will take a look at that plugin and see how it might be copied.

[2020-08-16 02:18] girrrrrrr2 commented on #32
No problem! and if you want any more i can get you more!

[2020-09-08 04:31] andreibobirica commented on #32
IT deletes M486 too?

[2020-09-09 20:04] FormerLurker commented on #32
@girrrrrrr2 and @andreibobirica,

FYI, my investigation into this issue is still ongoing.  Sorry this has gotten pushed back, but I had some family stuff to deal with the last couple weeks.  I WILL get to this ASAP.

[2020-09-10 02:10] girrrrrrr2 commented on #32
Nah you are fine take your time. I can still use it when I need it. The part cancelation thing isn't needed that often. But when it is. It's nice to have.

[2020-09-13 10:28] kulfuerst commented on #2
Hello @FormerLurker, my issue still persists and I just cannot seem to find a way to resolve it. the modified g-code partially prints at incredibly low speeds that must be somewhere in the 1 to 2 mm/s range. I have no explanation for this slow print speed. Please find one benchy g-code, modified and original, attached here. I would be very grateful if you could have a look.

[ArcWelder Benchy.zip]

[2020-09-17 16:36] FormerLurker commented on #2
@kulfuerst, can you check your marlin version (in case you have upgraded), and ensure it is at 2.0.6 at a minimum?  A bunch of fixes were added for G2/G3 arc support.  I've heard that others have had great success with that version and above.

[2020-10-09 11:16] tobyfu commented on #27
running in to this also, would be great if one of these solutions could be merged

[2020-10-09 13:36] FormerLurker commented on #27
@tobyfu, working on this today.  You are welcome to install from the archive link in my last post.  It will be virtually identical to the release version.

[2020-10-10 07:13] DaveZA opened #35 "Install Fails - unknown error"
Trying to install version 0.1.0rc1.dev4

No other version previously installed

System :
OctoPrint 1.4.2
Python 3.7.3
OctoPi 0.17.0

Installing thru OctoPrint Plugin manager

Takes a while, and then reports 'unknown error'

Have tried a few times over the last 2 days. How do I identify the cause of the error ?

Using url :
https://github.com/FormerLurker/ArcWelderPlugin/archive/0.1.0rc1.dev4.zip

[2020-10-10 14:10] FormerLurker commented on #35
Can you reboot and check the plug-in list?  Sometimes it "fails", bit really it works.

[2020-10-10 14:29] DaveZA commented on #35
tried that and check. not installed.

tried running from the command line :
~/oprint/bin/pip install https://github.com/FormerLurker/ArcWelderPlugin/archive/0.1.0rc1.dev4.zip

and it go to Building Wheel and sat there unresponsive for over an hour - I assumed that should have been enough time.
Had to reset the Pi to get access again.

Now trying command line :
~/oprint/bin/pip install https://gith

[2020-10-10 14:36] DaveZA commented on #35
here's a copy of the command line output  :

[install cmd line.txt](https://github.com/FormerLurker/ArcWelderPlugin/files/5359192/install.cmd.line.txt)

[2020-10-10 18:09] DaveZA commented on #35
Update - got it installed.

My printer is using a Pi B+, so moved the microSD to a Pi 3B+, did the install with the plugin manager in OctoPrint, and then moved the SD back to the printer.

Now to test the results. .....

[2020-10-10 18:15] FormerLurker commented on #35
Wow!  Did you ever figure out what was going on?  It likely has something to do with the C++ extension that actually does the conversion. I still need to improve this for several OSs, though it has genearlly worked well for OctoPi and windows installations.  MacOs and other Linux flavors need some work.

[2020-10-10 18:16] FormerLurker commented on #35
OH, also, I may push another pre-release today.  Will let you know if this happens.  I have added a bunch of statistics for the conversion that are pretty useful imho.

[2020-10-10 18:20] DaveZA commented on #35
I think it was that my printer is using a really really old Pi ( Pi B+ 512mb ), so that could have affected it.

The install when the SD was in the 3B+ was less than 2 minutes to do.

BUT ... I have got the SD back in the printer, and uploaded a file, converted.
Tried with the default resolution 0.05 and also with 0.025 - results seem the same.

I have a test cylinder that I have been using that g

[2020-10-10 18:44] FormerLurker commented on #35
Interesting.  Let me finish up what I'm working on, and I'll run your source file through the debugger.

[2020-10-10 18:52] FormerLurker commented on #35
It looks like the problem is related to extensive use of G92 offsets.  I thought I had that working :)

I'll see what can be done.

[2020-10-10 19:18] FormerLurker commented on #35
How is this:

![image](https://user-images.githubusercontent.com/33363128/95663232-1defe300-0b03-11eb-838f-c2041b64f529.png)

[See if this file works for you](https://gist.github.com/FormerLurker/7aa47ee4aad46e7f8e3b877c47fe9e57)!

I'm finishing up some changes (adding detailed conversion statistics), then I'll push out a new dev release for you to try.

[2020-10-10 19:32] DaveZA commented on #35
Awesome. Thanks. Almost 10pm here, so won't get to try anything until later tomorrow.
Thanks so much for taking a look at this. Really appreciate it.

[2020-10-10 19:35] DaveZA commented on #35
last question for today : in the notes, you say :+1:

Important Notes: If you are using a pre-release version of Arc Welder, I recommend completely uninstalling and cleaning the files before trying to upgrade.

Do you have any instructions for the non-technical users on how to do this ?

[2020-10-10 19:46] FormerLurker commented on #35
It probably isn't necessary anymore, buy you can do it inside the octoprint plugin manager.  Click uninstall and select the clean files option.  But, I wouldn't bother.

[2020-10-11 22:15] FormerLurker commented on #35
I think I have this fixed.  See if you can install the new version from this location:

```https://github.com/FormerLurker/ArcWelderPlugin/archive/devel.zip```

Let me know if/when you have it installed.  I will try not to make any breaking changes to the devel branch in the meantime.

[2020-10-12 04:39] DaveZA commented on #35
Thank You

sorry for delayed reply. time difference - only 6:30am here now.

just started a new print from the sd card, so will be a few hours until that
is done and I can test.

I have downloded the zip so will update it from my downloaded file, so feel
free to go ahead and brek the devel.zip if you want :)

Regards
Dave

  _____

From: FormerLurker [mailto:notifications@github.com]
Sent: 12 Octo

[2020-10-12 13:25] DaveZA commented on #35
feedback :
ran a print from the printer SD card this morning.

Then updated to latest version of ArcWelder ( had to put the sd in my Pi 3B+ as it still would not update on the Pi B+, then moved the microSD back to the Pi B+ on the printer )

Printed the exact same part using ArcWelder from the Pi, and there are very very very little difference between the 2 models. Certainly not enough difference

[2020-10-12 14:12] FormerLurker commented on #35
@DaveZA , I have a B+ lying around.  I will test on that as soon as I have a chance.  I'm not surprised there are some issues, as the install is quite complicated.

That's EXACTLY why I created ArcWelder!  So glad to hear it :)  Looking forward to the update!  Be sure to check out the new 'Stats' button on the ArcWelder tab.  It should show up when you select a previously welded file, though the n

[2020-10-12 17:55] dmarx opened #36 "[Feature] Improve user experience when sending file to print directly through slicer plugin"
I use Cura and generally send files to my printer using the Cura octoprint plugin, which adds a "print with octoprint" button in cura. When I hit this button, the file gets sent to my octopi where arcwelder automatically converts it to a compressed `fname.aw.gcode` file, but the original `fname.gcode` ends up being the one sent to the printer. I imagine this isn't specific to cura, and other slice

[2020-10-12 18:09] DaveZA commented on #35
Looking at the time that the Pi takes to process this, and then having to re-download the gcode file back to my PC for viewing and verifying that it is going to print what is intended, has got me thinking .. Is there a way to convert / process the gcode file on my Win PC before uploading to OctoPrint ?

[2020-10-12 18:33] DaveZA commented on #35
Running win 8.1 - 64 bit and just installed Python 3.9.0

Is there a way to process the gCode file on the PC ?

[2020-10-12 20:08] DaveZA commented on #35
OK. I thought that I could also use Octoprint installed on my NAS Pi, to process the files, and then pull them back to the PC, and upload to the printers Pi

Yes, I will order a new Pi 3B+for the printer soon :)

Just installed OctoPrint on my Pi3B+ which runs OpenMediaVault.

Installed in a Docker Container, and the UI appears correct, I can upload files, etc.

I also have the ArcWelder Plug-in a

[2020-10-15 00:19] c-born commented on #35
Thanks for the info given in the comments here. I had the same problem with my RPi (Model B Rev 1), the system was thrashing due to lack of memory. To get around it I stopped the OctoPrint server and did the command line manual install as shown above, ie:
[code]
which did the build/install successfully and gave me a working ArcWelder plugin.
(I now have ab RPi 3B+ on order, but it is at least a we

[2020-10-17 00:02] FormerLurker commented on #36
So, I've been looking at this, and I don't think it can be done without some modification to the Cura plugin.  It seems to select the file and start the print, and *Arc Welder* might not know anything about the file yet.  However, I think the workaround would be to edit your printer profile, and deselect the 'Start print Job after upoading' option:

![image](https://user-images.githubusercontent.c

[2020-10-17 00:06] FormerLurker commented on #35
Yes, there should be.  Take a look at [ArcWelderLib](https://github.com/FormerLurker/ArcWelderLib).  There is a console project, and I have some pre-built binaries [here](https://github.com/FormerLurker/ArcWelderLib/actions/runs/311628599).  It looks like the Mac OS build failed, but it isn't working anyway :)

[2020-10-17 00:09] FormerLurker commented on #35
@DaveZA, you could also check the gcode viewer tab.  It might need some cleanup (report any issues on the Octoprint Github page), but if it looks good in there it should definitely work.

Also, just FYI, I agree you should be checking these files.  However, if it makes you feel better, your cylinder gcode was the first I've seen in a long while that didn't process correctly :)  If you do find any

[2020-10-17 00:10] FormerLurker commented on #34
Done for both Cura Thumbnails and PrusaSlicer thumbnails!  Check out the 0.1.0rc1.dev5 release, which I will be dropping shortly once I clean up these issues.

[2020-10-17 00:10] #34 closed

[2020-10-17 00:10] FormerLurker commented on #33
Hey, since this doesn't appear to be an arcwelder issue, I'm going to go ahead and close this.  Let me know if you have any other issues!

[2020-10-17 00:10] #33 closed

[2020-10-17 00:16] FormerLurker commented on #32
I think I fixed it.  Looks like the cancel object's ```@Objectinfo``` tag was case sensitive.  I fixed the case sensitivity issue (had TONS of problems with this, lol!), and that seems to have fixed lots of other random issues.

I have NOT actually tried a print with cancel object, but looking at the plugin and the before/after gcode, I think it's working.  You can try the fix by installing v0.1.0

[2020-10-17 00:19] FormerLurker commented on #29
This has been open for a while, so I'm going to go ahead and close this.  I hope you got the console version working!

[2020-10-17 00:19] #29 closed

[2020-10-17 00:20] FormerLurker commented on #28
Since things appear to be going well with klipper, I'm going to go ahead and close this.  Thanks for participating!

[2020-10-17 00:20] #28 closed

[2020-10-17 00:21] FormerLurker commented on #27
I am about to push the next version that should include this fix, as well as a bunch of other stuff.  Going to consider this closed, but please open a new issue if you find any other problems!

[2020-10-17 00:21] #27 closed

[2020-10-17 00:22] FormerLurker commented on #24
FYI, I just added some additional compiler support, so hopefully we don't run into this issue again :)

Going to close this now, but let me know if you have any other issues!

[2020-10-17 00:22] #24 closed

[2020-10-17 00:26] FormerLurker commented on #22
Hey, I finally got this fixed.  Going to push the release here soon.  You should see it in version v0.1.0rc1.dev5, which I'm going to drop shortly.  Better late than never :)

[2020-10-17 00:26] #22 closed

[2020-10-17 00:27] FormerLurker commented on #21
Hey, I recommend trying the latest version of marlin.  Arc support has been greatly enhanced in both speed and accuracy.  Let me know how it goes!

[2020-10-17 00:28] FormerLurker commented on #20
This has been open for a while, so I'm going to go ahead and close it.  I will likely be officially publishing this via the plugin manager soon, so this won't be an issue anymore.  Thanks for participating!

[2020-10-17 00:28] #20 closed

[2020-10-17 00:31] FormerLurker commented on #5
@colinjohnm, check out the latest version of Marlin.  Lots of arc enhancements for both speed and accuracy.  Going to close this sine the original issue is solved, and I believe the problem you are seeing is firmware related.  If you upgrade and have any problems with Arc Welder, please create a new issue.

Thanks for participating everyone!

[2020-10-17 00:31] #5 closed

[2020-10-17 00:32] FormerLurker commented on #2
I'm going to go ahead and close this because I believe the problem is firmware related, and I think the firmware has been fixed.  Let me know if you want me to re-open this issue.  Thank you for posting!!!

[2020-10-17 00:32] #2 closed

[2020-10-17 00:33] FormerLurker commented on #6
Hey, you might want to check out the newest version of Marlin.  Lots of arc fixes for both speed and accuracy!  Let me know if that helps and sorry about the huge delay in responding!

[2020-10-17 00:36] FormerLurker commented on #9
@KenLucke, this issue has aged, and I believe the issue is not related directly to arcwelder, but rather that the estimate calculations don't work well with G2/G3.  I did fix a bug that might have messed up announcement in print time genius though (ArcWelder now preserves all case), so you might want to try that.

If you have any other issues, or would like me to reopen this one, please let me kno

[2020-10-17 00:36] #9 closed

[2020-10-17 00:37] FormerLurker commented on #10
@Prickly-Pear, I may have finally fixed the windows 10 issue.  I will be pushing a new version (v0.1.0rc1.dev5) to master soon.

[2020-10-17 00:40] FormerLurker commented on #11
This too should be solved.  I have run your super massive gcode through ArcWelder, and it looks like it is fixed.  I found that arcs with a radius that is too large cause overflow problems, so there is now a reasonable limit on the radius of large arcs.

[2020-10-17 00:41] #17 closed

[2020-10-17 00:43] FormerLurker commented on #14
This has aged a bit, so I'm going to go ahead and close this issue.  However, I wanted to mention that if you are using marlin you should check out the latest version.  There have been a lot of improvement to arc speed and accuracy!

Let me know if you want me to reopen this issue, and I will do so.

[2020-10-17 00:43] #14 closed

[2020-10-17 00:48] FormerLurker commented on #16
Can you try out Marlin 2.0.0.6 with the latest version of Arcwelder (master branch is good)?  I think this should be fixed.  Let me know!

[2020-10-17 00:48] #18 closed

[2020-10-17 00:49] FormerLurker commented on #19
Going to drop dev 5 final soon, closed!

[2020-10-17 00:49] #19 closed

[2020-10-17 00:53] FormerLurker commented on #4
So, this is super old now, but I just added some compiler compatibility fixes.  Might want to try the latest release, which I'm in the process of adding (dev 5)

[2020-10-17 00:53] c-born commented on #35
I built the console version from GitHub head on my PC, no problems. Processing the same gcode file as on my OctoPi took 74.95 seconds with the debug build, but only 1.29 seconds with a release build, producing identical output, a remarkable difference.
The RPi output differed only in a space before the comment semicolon.
I'll probably add it as a post-processor script to my Slic3r, it makes a huge

[2020-10-17 00:59] FormerLurker commented on #35
Yeah, it's WAYYY faster running as a console app.  It took quite a while to make it run that fast.  So glad you are getting some use out of this!

Also, I pushed a big update to the ArcWelderLib repo, so you might want to try it again.  I have CI (though the mac build isn't working), so you can snatch one the windows binaries [here](https://github.com/FormerLurker/ArcWelderLib/actions/runs/3116285

[2020-10-17 02:00] c-born commented on #35
Thanks, just did a sync and rebuilt release from master.
Processing time down from 1.29s to 1.21s, file size up from 6,498KB to 6,500KB, mainly due to the added extra space before comment semicolons.
It also dropped a few of the comments from the code, eg:
`M201 X2000 Y500 ; Limit acceleration (Y was slipping at default 3000)`
became
`M201 X2000 Y500`

No changes to the actual code itself, though?

[2020-10-17 03:45] girrrrrrr2 commented on #32
Ill try this weekend!

[2020-10-17 03:46] girrrrrrr2 commented on #21
Honestly I only had this issue around the time that I submitted the issue. Since then I dont think ive had the issue.

Plus I cant even replicate the issue, the printer that had this issue, has had a board swap and converted to Klipper.

[2020-10-17 04:14] FormerLurker commented on #21
Ok, cool.  Closing this out, thanks!

[2020-10-17 04:14] #21 closed

[2020-10-17 05:04] DaveZA commented on #35
Hi FormerLurker
Will try the latest release on the Pi and send you feedback.
For the console version on a ( win ) PC, can you point me ( not very technical user ) in the direction on how to install & use this ?
Thank You for all the effort you have put in to this plugin

[2020-10-17 12:16] EddyMI3d commented on #16
Yep, I'll give it a try!

[2020-10-17 15:08] FormerLurker commented on #19
@xeddog, I think I've solved the statistics display issue you were talking about.  Now all info panels close automatically after a few seconds, and you can view the final statistics for any newly welded file in the arcwelder tab by either selecting the file, or by clicking on the 'arc welder' button in the file manager panel.  Statistics will automatically display (with a show/hide button) after p

[2020-10-17 17:42] EddyMI3d commented on #16
So I also reduced the resolution to 0.01 mm and I got fine prints

[2020-10-17 18:11] FormerLurker commented on #16
That is AWESOME!  Getting so close to a release now that Marlin has MUCH better compatibility.  I'm adding some additional features and trying to prepare for the next release of Octoprint.  Then it's just some documentation and submission to the plugin repo.

Thanks so much for participating and ESPECIALLY for testing.  That is super helpful.

Closed!

[2020-10-17 18:11] #16 closed

[2020-10-17 18:56] FormerLurker commented on #35
@DaveZA, download one of the windows builds from [this link](https://github.com/FormerLurker/ArcWelderLib/actions/runs/311628599).  You probably want the MSVC .zip file.  Copy the ArcWelderConsole.exe file out of the bin\ folder in the zip file.  Open up a command prompt (type cmd in the search box) and navigate to the folder where you copied the exe to.  Then type:

```ArcWelderConsole.exe --help

[2020-10-17 19:00] FormerLurker commented on #35
@c-born, I will think about adding a flag to overwrite the source file.  I JUST added this to the plugin and pushed to devel, lol!  However, the console app will require different modifications.  I'll have to write to a temp file, then replace the original, which isn't all that difficult.

Also, can you post the gcode you used in your last test?  I want to figure out why it's dropping the comment

[2020-10-17 21:16] DaveZA commented on #35
tells me it's missing VCRunTime140_1.dll
I'm using win 8.1
I guess that's something that would be installed with the development platform ?

[2020-10-17 21:31] FormerLurker commented on #35
Interesting.  Yeah, you need the visual studio c++ runtime installed for it to work.  You can find the latest installer [here](https://aka.ms/vs/16/release/vc_redist.x64.exe) for the x64 version (recommended) and [here](https://aka.ms/vs/16/release/vc_redist.x86.exe) for the x86 version.  I need to add that to the installation instructions.  Maybe at some point I can create an installer, or create

[2020-10-17 21:34] FormerLurker commented on #35
@c-born, I added source file overwrite.  Just set the source and target path to the same location, and it should detect it, create a temp file, copy the target to the source, then delete the temp file.  Hopefully this works on the other platforms.  Multi-platform c++ seems to be pretty difficult.

Please let me know if you have any issues OR if it works :)

[2020-10-17 21:57] DaveZA commented on #35
Thanks for the installer link. will try that next.

Created a .bat file so I could drag & drop files to it for conversion ( i am lazy when it comes to repetitive tasks ).

Content of the .bat file :
[code]
Worked 100%. Processed a file in a fraction of the time compared to the plugin in octoprint.

Used Notepad++ with a Compare Plugin and the 2 files are identical in content.

There was a small di

[2020-10-17 23:19] c-born commented on #35
@FormerLurker I went back and checked previous builds, and found  that dropped comment was fixed in https://github.com/FormerLurker/ArcWelderLib/commit/4fd38897fd66c245991a4066c7bb3db373087e70

I tried the source file overwrite, which works as advertised, thanks!
One suggestion, if you use the C++ `rename()` function you should get multi-platform support, and also save on copying the file in the c

[2020-10-18 00:42] FormerLurker commented on #35
@c-born, are you a c++ dev?  In any case, I am happy for any advice! This and a very similar library for Octolapse have been my first c++ projects in decades, and are the first multiplatform c++ work I have ever done.  It has been pretty painful to say the least.  Additionally, this has to work in C++98 to maintain python 2.7 compatibility in windows (though oddly some 11 stuff works), so I will h

[2020-10-18 00:45] FormerLurker commented on #35
@DaveZA, when you say a small reduction, how much exactly?  I will add statistics output to the console tomorrow if you want to wait.  Just trying to see if your file converted correctly.  Perhaps it has no/few curves?  If you can, perhaps you wout be willing to link to the source and target gcode?

Also, i will be posting some instructions for integrating this with cura and prusaslicer/Slic3r.  A

[2020-10-18 04:47] DaveZA commented on #35
the file convert resulted in identical gCode on both the Pi and the PC files. Only reason for the difference in the file names is the line endings.

[2020-10-18 05:51] c-born commented on #35
@FormerLurker You have done a very impressive job, congratulations!
Most of my work has been on embedded systems, in C since the mid 80s, assembler before that, some C# in the last decade. But a bit of C++.
As ```rename()``` is part of the standard library, you should be fine with cross-platform compatibility.

[2020-10-18 06:32] FormerLurker commented on #35
@daveza, can you post your gcode please?  I would like to run it through the debugger.

[2020-10-18 06:57] DaveZA commented on #35
[gcode sample.zip](https://github.com/FormerLurker/ArcWelderPlugin/files/5397145/gcode.sample.zip)

[2020-10-18 17:47] FormerLurker opened #37 "Add source file delete option."
Add a setting that allows the source file to be deleted after preprocessing.  The source file will only delete if it is not printing currently, and will not be deleted in the case of an overwrite.  Allow options for 'always delete', 'delete after manual processing', 'delete after automatic processing', and 'disabled.

[2020-10-18 17:48] FormerLurker commented on #37
Pushed to devel.

[2020-10-18 17:48] FormerLurker commented on #19
@NickRno77, I just added these delete options per your request:

![image](https://user-images.githubusercontent.com/33363128/96375634-c293a580-113f-11eb-92d2-04183ce9a173.png)

It cannot delete a printing file, and it won't delete the source file if it is overwritten, or if there is no target prefix/postfix (same as the overwrite option).

You can install from this commit archive link within the p

[2020-10-20 06:56] c-born commented on #35
@FormerLurker Not the right place for this, however...
I have a part that fits over a 32mm diameter pipe, it is an interference fit with a 32.5mm ID.
I printed it using ArcWelder and it looked great, all the outside blobs due to stutter gone. But when it came to fitting it there was no way I could get it to slide onto the pipe.
I figured it could be due to Marlin taking the arc and converting to i

[2020-10-21 00:13] xeddog commented on #19
As Chevy Chase once said "IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIiiiii likeit!"

[2020-10-23 07:29] girrrrrrr2 commented on #32
So I forgot to check last weekend (Mostly because I was doing a bunch single object prints.) But it works perfect for me!

Thank you for fixing it!

[2020-10-23 11:40] TodWulff opened #38 "[Suggested Doc Update] G90/G91 Feature Selection is on Features menu item, not in OP printer profile (OP v1.4.2)"
Title says it all - :)

Following the guidance here: https://github.com/FormerLurker/ArcWelderPlugin#printer-settings

I bounced around the printer settings to find this setting and was rather cornfuzed.  Ended up finding it on the Features settings page under Features(!), as depicted here:  https://i.imgur.com/6qWoXN9.png

Take care.

-t

[2020-10-23 12:57] TodWulff opened #39 "[Feature Request] When printing from slicer direct to OctoPrint (via slicer plugin) offer option to print AW's output"
When printing from the slicer direct to OctoPrint, via a slicer plugin, the AW plugin does its thing, but the print is the original gcode sent by the slicer.  Can AW hook a callback to offer the user to print either the original .gcode file, or the .aw.gcode that is generated by Arc Welder?

[2020-10-23 15:56] FormerLurker commented on #32
Awesome!!!!  I figured it would work, but confirmation is extremely valuable.  Thanks for that!  Closed!

[2020-10-23 15:57] #32 closed

[2020-10-23 17:10] dmarx commented on #36
Maybe the solution is to go even further upstream and add a cura plugin to the roadmap? I bet just adding a script to the existing postprocessing plugin would be lower effort.

[2020-10-24 08:09] girrrrrrr2 commented on #39
Or what about something like where if it detects a line of code in the welding, like "Print_After_Weld" in the beginning of the file (could be done automatically via start Gcode) and its a new file, it welds and automatically tries to start the print

Idk just throwing my idea out here

[2020-10-24 13:18] FormerLurker commented on #36
@dmarx, there is a console version of arc welder that should do the trick.  However, does the cura octoprint plugin wait for postprocessing to complete before sending the file.  I will give it a try today.

[2020-10-24 13:21] FormerLurker commented on #36
[Here is a link to the pre built binaries](https://github.com/FormerLurker/ArcWelderLib/actions/runs/314225565) in case you would like to give it a go.  Add a -h parameter to the ArcWelderConsole exe to see the manual.

[2020-10-24 16:25] dmarx commented on #36
The cura octoprint plugin definitely waits for post-processing to complete. Thanks for all the ideas and the cool project!

[2020-10-24 22:18] FormerLurker opened #40 "Feedback - V1.0.0"
If you have any feedback for the initial Arc Welder release, I'd LOVE to hear it.  Let me know what you like, what you love, what you hate, or any ideas about the future of Arc Welder.  If you believe you have found a bug, feel free to mention it here.  I may ask you to create a new issue.

Thank you in advance for your contribution!

[2020-10-25 10:38] mild-lemon commented on #40
I do understand the idea and I admire the effort put into this Arc Welder.

However, if I look at the full processing chain from .stl to physical object, I have yet to grasp why I would want to re-weld the arcs in post-processing the gcode _after_ slicing? Wouldn't patching the slicer do the trick to produce arcs in the first place?

[2020-10-25 11:28] KapJI commented on #40
I wonder if this can be turned into Cura post processing script. Those are written in python and can access and modify the whole gcode. I think local computer should have much more horsepower than raspberry pi.
Example of such script: https://github.com/Ultimaker/Cura/blob/master/plugins/PostProcessingPlugin/scripts/PauseAtHeight.py

[2020-10-25 13:07] cp2004 commented on #40
Here lies the problem, and likely the reason this hasn't been implemented by slicers. STL files are made of a bunch of triangles, which are therefore straight lines. If you were to open what you *thought* was a curved surface, then it is actually made of straight lines. So there is not **re**-welding, but just regular welding since they were not curves in the first place.

You are correct, it make

[2020-10-25 13:59] CRCinAU commented on #40
There's been open requests for ARC support in Cura for at least 7 years:
https://community.ultimaker.com/topic/1920-arc-support/

and later on here:
https://github.com/Ultimaker/CuraEngine/issues/429

Yes, the slicer would be a better place to do this work - but the reality is, it probably will never happen...

As such, given that Cura is a known factor, and we know how it behaves, it's perfectly

[2020-10-25 14:14] FormerLurker commented on #40
There is a console version guys, so you can add it to whatever slicer you want.  I linked to it in the plugin repo page.

The octoprint plugin part of this project was cake compared to the algorithm.  Also, it does weld automatically after upload, so it isn't like it takes any effort.

[2020-10-25 14:22] EliW opened #41 "Errors near 'outside' ring of delta printer"
I have a Rostock Max V3 — I was excited by this plugin (and still am) because I'm often frustrated at how I have a circular delta printer, and yet it does all these straight movements inefficiently.

However on my first attempt, I was printing multiple circular(ish) objects at once.  The inner one looked to be printing very nicely.  But the outer object was having issues and I stopped after the se

[2020-10-25 14:32] FormerLurker commented on #41
I need the before and after gcode please (source and arc welded).  Also, a snapshot of what the printer is doing may be helpful

[2020-10-25 15:24] FormerLurker commented on #40
Oh, I wanted to mention something about post-processing within the slicer.  Although it is much faster than processing via the OctoPrint plugin, only Simplify3d seems to be able to correctly visualize the resulting GCode.  In other words, the object will look VERY wrong in Cura, Slic3r, and PrusaSlicer.  I recommend using Simplify3D (this slicer handles G2/G3 perfectly) or ncviewer.com to visualiz

[2020-10-25 15:27] FormerLurker commented on #38
@TodWulff, thanks for pointing that out!  I have modified the name of the base setting and have updated the help file and the readme.md file.  Please let me know what you think.

[2020-10-25 15:27] FormerLurker commented on #37
Closed!

[2020-10-25 15:27] #37 closed

[2020-10-25 15:33] FormerLurker commented on #35
@DaveZA, thanks for the gcode!  It looks like everything is in order.

@c-born, it is possible if there is a really tight fit that the inscribed circles could cause issues.  Arc Welder can also move the inner and outer diameter by up to the resolution indicated in the plugin.  However, this should never happen for actual circular parts, but only for ovals or other non-circular organic shapes.

The

[2020-10-25 15:37] FormerLurker commented on #39
@TodWulff, I've been discussing this with several people, and a hook may indeed be the best way to proceed.  I've also considered adding a 'Print after welding' option to Arc Welder, though that also presents some problems.  I'll be working on this.

@girrrrrrr2, it is very tricky to intercept a gcode and stop the print before anything is actually sent to the printer.  Octolapse had to deal with t

[2020-10-25 15:39] FormerLurker commented on #10
OK, so I've been toying with the macOS build of the ArcWelderConsole application.  I do not have a mac to test, but if anyone is interested in trying it out, it can be found [here](https://github.com/FormerLurker/ArcWelderLib/actions/runs/326182285).  It very likely will not work, but it's worth a shot.

[2020-10-25 18:55] foxylion commented on #40
I just tried this plugin on an Ender 3 v2 with a custom Marlin firmware (2.0.7.2, increased buffer sizes, 250.000 baudrate).
I used the #3DBenchy to test it out. It works great so far. The quality is similar to printing from SD card.
Before, without Arc Welder, the surface was messed up with zits/blobs.

Thank you a lot for your efforts, that really improves printing with OctoPrint.

One minor thi

[2020-10-25 19:51] LeandroMarceddu commented on #25
Any more info on this? I'd like to include this plugin or well base ArcWelder into the postprocessing section of my slicer.

[2020-10-25 21:03] FormerLurker commented on #40
@foxylion,

Hmm, it is supposed to select the new file after processing.  Congratulations, you found the first bug!  And it only took a little less than 24 hours :)

Thank you for your feedback.

[2020-10-25 21:18] foxylion commented on #40
@FormerLurker Just tried it again manually uploading a file via OctoPrint UI. Didn't work there too. So yes, it looks like a real bug. :-)
But to be honest, this the plugin is not less awesome with this bug!

Just printed again with the use of this plugin and the default configuration for Marlin 2.0.7.2 on an Ender 3 v2. -> Perfect result!

[2020-10-26 02:49] girrrrrrr2 commented on #39
I was thinking more of a it being uploaded but not being auto started. And then when you see the line in the code, it starts the print right away, or if its printing its ignored... something like that

[2020-10-26 07:42] gluap commented on #40
@foxylion

Just a small mitigation: the list of g-code files can be sorted by file date which at makes the scrolling unnecessary (newest up top). I actually think that having it sort by date may make more sense than alphabetically in most cases. For me, octoprint remembers the order so you only need to set it once per browser.

[2020-10-26 07:54] Prickly-Pear commented on #10
@FormerLurker, is there a trick to install the MacOS build?
I tried to install through OctoPrint Plugin Manager from an uploaded zip file but it errors out. MacOS 10.15.7.
This is the error:

2020-10-26 18:49:11,857 > Processing /var/folders/lv/7qg5qtvx2jxgxmt2f__hfktc0000gn/T/tmpac25aln9.zip
2020-10-26 18:49:11,858 ! ERROR: Command errored out with exit status 1:
2020-10-26 18:49:11,858 ! command

[2020-10-26 08:17] LMS0815 opened #42 "Enhancement improve GUI"
If the browser has a high horizontal resolution the main GUI configuration tab is out of order.

![image](https://user-images.githubusercontent.com/8235214/97148618-b923c200-176b-11eb-80c6-652356d566fe.png)

For my opinion we only need the statistics on that screen anyway.
Please consider hiding and/or removing the  settings overview with an option switch on the main configuration..

[2020-10-26 09:29] LMS0815 commented on #38
Please find my G90/91 testing gcode below:

[code]

If G91 is working, `G0 X0 Y0` will not move the head.
If not, the head is moved from X10 Y10 to position X0 Y0.

[2020-10-26 09:57] war4peace commented on #40
Feedback: I have not installed the plugin yet, however I have tested the commands on my printer and it supports them.
I have a Creality CR 10 MAX with TinyMachines3D 2.0.5 firmware - so you could add this combo to the supported list.
Note: I will not upgrade the firmware anymore because I plan to switch to Duet 3 soon.

[2020-10-26 12:41] xkuyax opened #43 "[Feature Request] Option to automatically print the file after processing"
Hi,

thank you for your awesome plugin!
At the moment im using the handy feature of Superslicer to start the print after uploading, because of that i dont have to open octoprint to start my print. Would it be possible to include that feature in the arc welder plugin?

Thanks!

[2020-10-26 12:51] EliW commented on #41
Before and after copies shared (.aw is after version).   As for snapshot what do you want?  Are you wanting a visual video recording of the 'miss', or are you wanting a printing log?   Either way, it'll have to wait until I finish the project and I can re-run this for a couple of layers.  But let me know and I'll get it to you! 👍

[Dominion_Body_(18hr).aw.gcode.zip](https://github.com/FormerLurker

[2020-10-26 13:13] calebmah commented on #40
I just upgraded to v1.0.0 and am facing an issue with arc welder messing up the skirt in a print. I am using cura v4.6.1 to slice and sending the gcode directly to octoprint from cura using the octoprint connection plugin. I had been using earlier versions of arc welder without issues.

The first file is the original gcode as sent to octoprint, with arc welder disabled. You can see the skirt aroun

[2020-10-26 13:34] FormerLurker commented on #41
If possible i would like to see a photo of the build plate after you cancel the print.  I want to compare that with the gcode for those layers.  Thanks!

[2020-10-26 13:35] war4peace commented on #40
I found a bug as well.
When performing star infill inside a circular shaped model, the nozzle extrudes in a straight line at expected speed until it reaches the edge of the model, then slooooowly moves following the curvature of the model until it reaches the point where it needs to go back across the layer to lay down another infill line. It only happens on one side of the shape, not both.

GCode

[2020-10-26 13:56] FormerLurker commented on #10
@Prickly-Pear, unfortunately I've never gotten the macOS version to build properly.  However, from your logs it looks like you might be missing the python 3 dev package.  See [this bit of the readme.md file](https://github.com/FormerLurker/ArcWelderPlugin#python-development-package-for-linux) for more details.

I really need to get a mac so I can figure these things out.

[2020-10-26 14:00] FormerLurker commented on #41
FYI, I looked at both the source and arc-welded gcode, and they look the same to me.  I'll wait for your photo, but it looks like this could be a firmware issue.

[2020-10-26 14:02] FormerLurker commented on #42
Looks like a css issue.  Would you be willing to disable your other UI plugins and see if this page looks better?  I'd like to narrow it down to a particular plugin so I can see what is causing this, and potentially fix it.  Here is what it should look like:

![image](https://user-images.githubusercontent.com/33363128/97181969-e8d1ca80-1769-11eb-91bf-07a8c4d5e445.png)

I do want to show the curren

[2020-10-26 14:05] FormerLurker commented on #38
@LMS0815, I'm confused.  Why are you testing G91?  Is there a firmware that doesn't support this command?  Arc Welder needs to know if G90/G91 changes the axis mode of the extruder (usually set with M82, M83), but I've not seen a case where either G90 or G91 doesn't work.  Am I missing something?  If so, sorry.

[2020-10-26 14:07] FormerLurker commented on #43
This has been discussed a bit over the last couple days.  There is an issue that specifically asks for a print to start after uploading from a slicer, but since the title of this asks for automatic printing after processing, and because this is something I am considering anyway, I'm going to mark this as an enhancement.

FYI, There are some issues getting this to work that I need to solve.

[2020-10-26 14:20] FormerLurker commented on #40
@calebmah, It looks like your visualizer doesn't handle G2/G3 commands properly (most don't).  Here is what I'm seeing in Simplify3D for your welded file:

![image](https://user-images.githubusercontent.com/33363128/97182905-1cf9bb00-176b-11eb-9ebb-38225968911e.png)

As you can see, the skirt appears properly.  The travel moves appear normal too (shown in red):

![image](https://user-images.github

[2020-10-26 14:24] FormerLurker commented on #40
@war4peace, simplify things these layers are printed at exactly the same speed:

![image](https://user-images.githubusercontent.com/33363128/97184418-e0c75a00-176c-11eb-844e-b232f9e51caa.png)

If you can point me to a gcode, or perhaps provide a video of the entire layer where the problem is occurring, maybe I can find something.

I also suggest you check for firmware updates just in case.

[2020-10-26 14:25] LMS0815 commented on #42
I am sure the _issue_ it is related/cause to Themify which i am using to update the css (as you mentioned).
I like this setting as it enables OctoPrint to use the whole 16:9 screen and not only a fraction of it.

![image](https://user-images.githubusercontent.com/8235214/97184216-f81f3b00-179e-11eb-9d23-f6ece2624f17.png)

[2020-10-26 14:39] FormerLurker commented on #42
Looks like your .span8 selector is too broad, and is affecting all span8s on the page.  Try this instead:

Selector: ```.tabbable.span8```
CSS-Rule: ```width```
Value: ```calc(100% - 300px)```

The result should be something similar to this:

![image](https://user-images.githubusercontent.com/33363128/97186298-1b31f680-176f-11eb-88b0-9376f6313020.png)

[2020-10-26 14:40] war4peace commented on #40
Sure thing, I have taken a video of the behavior, currently uploading to Youtube, I am not sure which part of the code is the one exactly at that position, but in the video you can see layer number (it happens at all layers where there is an infill anyway) and nozzle position too. Uploading directly from my phone and it's a 4K video so might take a while. I will update with the URL when it finishe

[2020-10-26 15:05] FormerLurker commented on #40
@war4peace, can you create a new issue so we can keep the feedback thread as clean as possible?  Please fill in as many details about your printer and firmware as possible.  Thanks!

[2020-10-26 15:29] LMS0815 commented on #38
I am probably the one who is confused.
Why do we need the G90/G91 awareness. What is it doing?

Seems I misinterpreted the help text.

[2020-10-26 15:58] war4peace opened #44 "Slowdowns in certain curved areas while performing Infill"
I have started using ArcWelder for a model which has a round base.
The nozzle slows down a lot while performing an arc between infill lines.
Video of the issue:
https://www.youtube.com/watch?v=t7hgM0Zzhjk
GCode file: https://drive.google.com/file/d/1zNAy_NOukkugZuJofqBfKqFfHPxth7GM/view?usp=sharing
Printer: Creality CR 10 MAX
Firmware: Marlin 2.0.5 customized by TinyMachines3D for this printer mod

[2020-10-26 17:06] FormerLurker commented on #38
@LMS0815, for some firmware (Marlin 2, Smoothieware, and maybe and others) sending a G91 is equivalent to sending both a G91 and M83.  For slicers, this isn't much of an issues because they can always just insert either an  M82 or M83 after sending a G90 or G91 if they want to use absolute/relative extrusion.  However, if you are reading gcode to try to figure out what the printer is doing, you ca

[2020-10-26 17:12] FormerLurker commented on #44
This is most likely the issue.  I recommend asking the folks at tinymachines3d to pull in changes from Marlin 2.0.6, which has fixed many issues with G2/G3.  It shouldn't be too difficult.

The creator of Marlin says [he doesn't recommend arcs pre 2.0.6](https://github.com/MarlinFirmware/Configurations/pull/107#issuecomment-643808597).  I've got lots of anecdotal evidence that supports this, but s

[2020-10-26 18:14] LMS0815 commented on #38
Thank you for the detailed explanation. I think I am now on the same page.
The flag actually tells you if G90/G91 overrides M82/M83 mode.
As this is  printer pending, I would have expected this flag being in the printer profile (and not under functions).
_We should raise this question at OctoPrint forum if not already done._

Never the less one could evaluate manually by sending some gcode (not te

[2020-10-26 18:23] Charly333 commented on #25
For me too as a cura or ideamaker plugin it would do a much better job.

[2020-10-26 18:26] FormerLurker commented on #38
@LMS0815, Nice script!  I have created something similar in the past, but have never figured out a way to tell if it's working without looking at the extruder gears.  Any ideas about how to detect it without watching the printer?

[2020-10-26 18:28] FormerLurker commented on #25
I am currently creating a guide for integrating the console app with Cura, Slic3r and PrusaSlicer.  I plan to eventually make a video.  It's possible I will create a dedicated Cura plugin in the near future depending on how things go.

[2020-10-26 18:31] LMS0815 commented on #42
Unfortunately myscreenshot is cutting the content. The setting is `calc(95% - 360px)`

I disabled it and added your recommendation.
100% setting is not working, But 95% did the trick.

Selector: `.tabbable.span8`
CSS-Rule: `width`
Value: `calc(95% - 300px)`

Selector: `.container`
CSS-Rule: `width`
Value: `95%`

@FormerLurker **THANK YOU**

Please consider offering an option to remove this informa

[2020-10-26 18:31] #42 closed, assigned to nobody

[2020-10-26 18:42] LMS0815 commented on #38
The only option I can think of is `M503; Print a concise report of all current settings` but I am not sure if the output is easy to interpret throughout the various printer models.

The script is more or less the same, but we need to understand the report.
[code]

[2020-10-26 18:46] LeandroMarceddu commented on #25
To all looking for this:

1) Clone https://github.com/FormerLurker/ArcWelderLib
2) Open up with visual studio and compile ArcWelderConsole
3) make sure it's set to x86 and not ARM, this was so in my case and had me going around for an hour as to why it wouldn't compile, heh.
4) A debug map will appear in the root of ArcWelderLib, inside will be the program ArcWelderConsole.exe.
5) Open up a CMD an

[2020-10-26 18:59] FormerLurker commented on #38
I just checked my printer, and it doesn't have any axis mode info.  I'm wondering if I can use M114.  It appears to work on my machine:

[code]

The E axis went from E:0 to E:-10, which is a bit expected since the firmware rejected the motion (probably a bug).  I also realized we need to add a ```G92 E0``` to the beginning of the script.  Next I tried the rest of your code:

[code]

No Change to E

[2020-10-26 19:01] FormerLurker commented on #42
I will add a show/hide button.  It is a reasonable request :)

[2020-10-26 19:05] LMS0815 commented on #38
Yes  M114 (and not M503)  seems to report the position!!!
If it is working, you could use E-1 and omit the F value.
And we might need to trick the command queue with `M400; wait in a loop until all moves in the planner are completed`

[2020-10-26 19:09] FormerLurker commented on #25
@LeandroMarceddu, you are welcome to contribute anything you would like!  Thank you for that!

I've posted this around several places, but lost track of who needed it.  This thread was missed.  For anyone who would rather not compile this themselves, check out the GithubActions [here](https://github.com/FormerLurker/ArcWelderLib/actions?query=workflow%3A%22CMake+Build+Matrix%22), and select the to

[2020-10-26 19:17] FormerLurker commented on #38
@LMS0815, regarding M400, this will need to be done behind the scenes (Octolapse uses this trick extensively) so that it knows the all gcode has been executed before any further commands are sent.  So, I have a new button I need to add: Auto-Configure firmware

Hopefully I will be able to figure out if arc commands are enabled, if they are configured properly, what the ```G90/G91 influences extrud

[2020-10-26 19:22] war4peace commented on #44
Since I haven't bought the printer from them directly, I doubt there will be changes. I had submitted a firmware bug to them and they were kind to reply, but haven't released any new firmware just yet.
Until that happens, I will disable the plugin and revisit when it will work on my printer.
About the print I mentioned earlier, I canceled it because the results were disastrous - therefore please m

[2020-10-26 19:31] FormerLurker commented on #44
Will do, and I really appreciate you trying this out.  Where did you report the bug, btw?  I found a github page, but the repositories are either private or do not exist.

[2020-10-26 19:33] adoeller opened #45 "[Feature Request] Ignore certain directories"
Hi,

i move printed files to a "done" dir using the filemanager. If automatic AW is switched on, the process starts automatically.
It would be useful to have a blacklist of dirs to exclude from the automatic conversion.

Cheers,
Alex

[2020-10-26 19:36] war4peace commented on #44
Their github:
https://github.com/InsanityAutomation/Marlin/tree/CrealityDwin_2.0
Their documentation page:
https://tiny-machines-3d.myshopify.com/pages/resourcepagecr10max
Their new user guide:
https://docs.google.com/document/u/0/d/1TiwFGTbX3R9_RI275Kq_-tfqDOhl-XXogsCqUaA_tB8/mobilebasic

[2020-10-26 19:41] FormerLurker commented on #45
Yuck, I didn't know the 'file added' event was triggered for a move...  I will look into this, thanks for reporting.

[2020-10-26 19:52] FormerLurker commented on #44
So, the current CR10-Max release does NOT have the G2/G3 fixes, but their most recent branch does.  I would expect that to make it into the next official CR-10 firmware.  I will keep an eye on this.

[2020-10-27 02:39] Daniel4182 opened #46 "[Feature Request] Wait processing before auto-starting job"
Hello devs,

In Super slicer i usually, export direct to the octopi and set it to start printing, but arch welder will start processing the code and octopi start with the non processed version as i can tell, i think that maybe i got a print failure because of it, can not prove it tough, if it's not a problem, i would like it to see octoprint waiting for the processed code, before the print start

[2020-10-27 05:00] FormerLurker commented on #46
For the time being, please disable automatic processing in arcwelder.  Since arc welder will not start a job while printing, I suspect that ot started processing first, then the print started.  The only solutions I can think of are spawning a thread in C++ to do the processing (technically difficult) or cancelling preprocessing if a print starts during processing.  I will think about it

[2020-10-27 07:52] LMS0815 commented on #38
This is to confirm that my printer is having the same cold extrusion firmware _bug_.
But I can monitor this message twice and I can see a change on E value.

My printer extrudes to E0 -> G90 has no impact to M83 -> DISABE FLAG
[code]

I am looking forward to the test button.

[2020-10-27 08:10] martonbaksa commented on #43
I'll second this one. I upload directly from PS to octoprint, and having to open the web interface to start the print adds a couple of extra steps to the workflow, or I end up accidentally printing the wrong one because I leave the "start printing after upload" ticked. Thanks @FormerLurker for your amazing work in this plugin and Octolapse as well!

[2020-10-27 09:43] LMS0815 commented on #38
Is it worth to evaluate the Marlin version being  2.0.6 or higher `M503` `M115` ?

[code]

Should I not use ArcWelderPlugin (although I do not have any issues - yet)?

[2020-10-27 11:59] calebmah commented on #40
@FormerLurker Thanks for taking a look and for clarifying! It looks like there isn't a problem with the gcode after all, though it is still strange that my printer printed the same blob as shown in the viewer. I will continue to try out the plugin and maybe make a new issue if the problem happens again more frequently. Thanks!

Some further information, in case you want to dig deeper. I was using

[2020-10-27 14:27] FormerLurker commented on #38
I think the test shows the opposite, that g90 DOES influence the extruder in your firmware, else the ```G1 E0``` wouldn't have had any effect, no?

On my printer G90/G91 does NOT influence the extruder, as shown by this test:
[code]
Note that I have removed OK and Cold Extrusion Prevented messages.

Also, and I just thought of this, It is likely NOT a bug that the extruder position changes even wh

[2020-10-27 16:58] bavery79 commented on #36
I can confirm deselecting the "start print job after uploading" works just fine to prevent auto-printing of the file before arc welder processes it.  The only remaining step would be for arc welder to load and print the new file after its own processing, but I see that's already been proposed in another issue thread here!

[2020-10-27 18:57] martonbaksa opened #47 "Percentage Goes Greater than 100"
![2020-10-27 14_51_10-Edwidge Danticat, _Children of the Sea_ (1996) (1) pdf](https://user-images.githubusercontent.com/39777617/97348075-097e4b00-1864-11eb-9359-f1efdfae895a.png)

Hi!
I think I might've found a bug. Octoprint doesn't like the file size for some reason, and displays the file size incorrectly (6.2mb instead of 8.1mb actual). This causes the print time and the percentages to break.

[2020-10-27 20:18] j-be commented on #40
Just gave it a test-ride - ArcWelder is awesome! Reduced a small knob I had from 2.5MB to > 300kB. My Ender 3 Pro flies were it previously stuttered like f**k, it printed perfectly. Apart from the bug of the `.aw.gcode` not being selected automatically when printing from Cura this is just plain awesome! :+1:

Will report back if I run into any other issue.

In the meantime: Thank you so much, this

[2020-10-27 21:21] jjvelar opened #48 "Marlin SkyNet3D-V2.3.2"
Hi!
Could you please add support for Marlin SkyNet3D-V2.3.2?
I know it is old but it is working quite well in my Anet A8 :-)
Thanks and best regards,

José

[2020-10-27 21:58] FormerLurker commented on #48
Do you mean I should add your firmware to the list of supported firmware, or that you'd like arc-welder to work with your firmware?

[2020-10-27 22:01] FormerLurker commented on #47
I'm honestly not sure where this issue is coming from.  I don't set the file size anywhere.  I'm wondering if it is added automatically somehow by some other OctoPrint code.  I will look into it.

[2020-10-27 22:06] FormerLurker commented on #47
So, I'm not seeing what you are seeing when I weld and print this file:

![image](https://user-images.githubusercontent.com/33363128/97367147-99c58b80-1876-11eb-8745-839daa9142a6.png)

It looks like you have a lot of plugins running.  My best guess right now is that it's being caused by some other plugin.  Are you willing to disable them until you figure out which one is causing the problem?  I th

[2020-10-27 22:14] FormerLurker commented on #36
I'm working on this as we speak.  It's been much trickier than I'd even imagined, but I'm getting closer.  I'm implementing a 'Print After Processing Complete' setting that allows you to print automatically after automatic or manual processing.  Here are the issues I'm trying to solve:

1.  In the normal case when you process via OctoPrint and nothing is printing, print after processing is complet

[2020-10-27 22:46] FormerLurker opened #49 "Add 'Select After Processing' settings"
In the output file settings, add options to control file selection after processing.  Include options for 'Automatic', 'Manual', 'Both' and 'Disabled'.

[2020-10-27 22:46] FormerLurker opened #50 "Disable Arc-Welder Buttons while printing"
Disable Arc-Welder Buttons while printing, except the 'show stats' button.

[2020-10-27 22:47] FormerLurker opened #51 "Prevent adding files to the processing queue twice."
Currently it is possible to add the same file to the queue more than once.  It is also possible to add the same file that is currently processing to the queue.  Prevent this.

[2020-10-27 22:50] FormerLurker opened #52 "Stop processing if a print is started."
Processing with arc welder can murder your cpu, so it isn't wise to print while Arc Welder is processing.  Currently, if you are printing Arc Welder will not process any new files, but you CAN start a print while processing.

I want to stop all processing during a progress update if Arc Welder detects a print has started.  As a bonus, I may re-add this file to the queue.

[2020-10-27 22:50] FormerLurker opened #53 "Stop Processing if a Print is Started"
Processing with arc welder can murder your cpu, so it isn't wise to print while Arc Welder is processing.  Currently, if you are printing Arc Welder will not process any new files, but you CAN start a print while processing.

I want to stop all processing during a progress update if Arc Welder detects a print has started.  As a bonus, I may re-add this file to the queue.

[2020-10-28 00:12] codefaux commented on #50
Related; I noticed the button to 'weld arcs' on the "Files" panel of Octoprint indicates "Cannot weld arcs during print" etc etc, but the plugin seems to have no hesitation to automatically start processing while printing, if you upload a file while printing.

Rationale;
Manual Arc-Weld trigger not available during print; sane
Automatic Arc-Weld trigger not blockable during print, always enabled;

[2020-10-28 00:41] FormerLurker commented on #50
Yeah, i actually already fixed this.  It will now also cancel processing if you start a print, and will re-queue it to process after the print completes. I am testing this stuff now.

Also, thanks for your compliments!  I'm very glad you are finding it useful!

[2020-10-28 01:38] FormerLurker opened #54 "Make Current Run Configuration on Tab Collapsible"
Show/Hide the current run configuration.  Add a caret showing the expanded/contracted state.  Recall the state from browser storage, and start out with the configuration open.

[2020-10-28 02:22] FormerLurker opened #55 "Feedback for V1.0.1.rc1.dev1"
If you have any feedback for the V1.0.1.rc1.dev1 release, please leave that here.  Let me know what you like, what you love, what you hate, or any ideas about the future of Arc Welder. If you believe you have found a bug, feel free to mention it here. I may ask you to create a new issue.

Thank you in advance for your contribution!

[2020-10-28 02:27] #54 closed, assigned to FormerLurker

[2020-10-28 02:28] #53 closed, assigned to FormerLurker

[2020-10-28 02:28] #51 closed, assigned to FormerLurker

[2020-10-28 02:29] FormerLurker commented on #50
Hey @codefaux, this fix has been implemented.  If you want to test it, you can install from this url: ```https://github.com/FormerLurker/ArcWelderPlugin/archive/1.0.1.rc1.dev1.zip```.  Please read the release notes [here](https://github.com/FormerLurker/ArcWelderPlugin/releases/tag/1.0.1.rc1.dev1)

[2020-10-28 02:29] #50 closed, assigned to FormerLurker

[2020-10-28 02:29] #49 closed, assigned to FormerLurker

[2020-10-28 02:31] FormerLurker commented on #46
Hey @Daniel4182 , this fix has been implemented.  If you want to test it, you can install from this url within the plugin manager (get more->From Url...): ```https://github.com/FormerLurker/ArcWelderPlugin/archive/1.0.1.rc1.dev1.zip```.  Please read the release notes [here](https://github.com/FormerLurker/ArcWelderPlugin/releases/tag/1.0.1.rc1.dev1).  You can comment in [this thread](https://githu

[2020-10-28 02:31] #46 closed, assigned to nobody

[2020-10-28 02:32] FormerLurker commented on #45
Hey @adoeller, this fix has been implemented.  If you want to test it, you can install from this url within the plugin manager (get more->From Url...): ```https://github.com/FormerLurker/ArcWelderPlugin/archive/1.0.1.rc1.dev1.zip```.  Please read the release notes [here](https://github.com/FormerLurker/ArcWelderPlugin/releases/tag/1.0.1.rc1.dev1).  You can comment in [this thread](https://github.c

[2020-10-28 02:32] #45 closed, assigned to nobody

[2020-10-28 02:33] FormerLurker commented on #43
Hey @xkuyax  and @martonbaksa, this has been implemented.  If you want to test it, you can install from this url within the plugin manager (get more->From Url...): ```https://github.com/FormerLurker/ArcWelderPlugin/archive/1.0.1.rc1.dev1.zip```.  Please read the release notes [here](https://github.com/FormerLurker/ArcWelderPlugin/releases/tag/1.0.1.rc1.dev1).  You can comment in [this thread](http

[2020-10-28 02:33] #43 closed, assigned to nobody

[2020-10-28 02:34] FormerLurker commented on #39
Hey @TodWulff and @girrrrrrr2, I've added a feature that may work for this that doesn't require modifications to slicer plugins.  If you want to test it, you can install from this url within the plugin manager (get more->From Url...): ```https://github.com/FormerLurker/ArcWelderPlugin/archive/1.0.1.rc1.dev1.zip```.  Please read the release notes [here](https://github.com/FormerLurker/ArcWelderPlug

[2020-10-28 02:34] #39 closed

[2020-10-28 02:35] FormerLurker commented on #38
So, I'm going to close this out since the initial fix is now implemented and released.  I will add an issue for the firmware configuration button later.

If you want to test it, you can install from this url within the plugin manager (get more->From Url...): ```https://github.com/FormerLurker/ArcWelderPlugin/archive/1.0.1.rc1.dev1.zip```.  Please read the release notes [here](https://github.com/Fo

[2020-10-28 02:35] #38 closed

[2020-10-28 02:38] FormerLurker commented on #36
@dmarx @bavery79,

I've implemented a feature that potentially resolves this feature request without requiring any modifications to the slicer or slicer plugins.  It still may need some tweaking, but I think it's a good start.

If you want to test it, you can install from this url within the plugin manager (get more->From Url...): ```https://github.com/FormerLurker/ArcWelderPlugin/archive/1.0.1.rc

[2020-10-28 02:52] #36 closed

[2020-10-28 02:53] martonbaksa commented on #47
I believe this might have just been a really weird one time error where it didn't get the file size right as deleting the file and manually rewelding it fixed it.

[2020-10-28 02:58] FormerLurker commented on #55
Hey, if anyone notices that the version they installed is showing up at 1.0.1.dev1 instead of 1.0.1rc1.dev1, or if the new *Print After Processing* setting as displayed on the tab under *Current Run Configuration* is actually showing the *Select After Processing* setting (they will both be set to **Always** when you start up, which is wrong), please reinstall within the plugin manager (Get More->F

[2020-10-28 03:26] tmillerpdx commented on #25
To integrate the .exe as a Cura post-processing script we'd need to write a Python script that executes the .exe, correct? I'm looking into this, but there's not a ton of information available on developing Cura scripts -- looking at https://github.com/Ultimaker/Cura/wiki/CuraAPI-and-SDK-Versions I'm not yet finding the information I'd need to dynamically pull the gcode file so I could pass it to

[2020-10-28 03:47] FormerLurker commented on #25
Arc welder is wrapped in a python extension, so it can be called directly.  Just need to pre build the library.

Also, is there no way to call an exe directly from cura?  I thought there was a postprocessing plugin that did just that.

Anyway, I will develop a plug-in soon.  Just have to finish up a few things.  Also, i have successfully called arc welder from slic3r and prusaslicer if that is use

[2020-10-28 03:48] FormerLurker commented on #47
Interesting.  I wasn't testing with the overwrite option.  It may be some kind of race condition.  I am going to re open this and take a look in the next few days.

[2020-10-28 03:54] tmillerpdx commented on #25
For those curious, some of the better resources I've found are:
https://community.ultimaker.com/topic/15655-how-to-make-a-plugin-anyone-have-a-plugin-to-do-x-action-every-layer-like-a-nozzle-wipe/

and digging through this plugin: https://github.com/Ultimaker/Cura/blob/master/plugins/PostProcessingPlugin/scripts/SearchAndReplace.py

However this appears to be a dead-end because obviously we can't

[2020-10-28 04:07] FormerLurker commented on #25
Wow, it is getting the entire gcode file in memory?  I didn't imagine it would work like that.  I could write a wrapper to deal with that, I suppose, but it will be a pain.

[2020-10-28 04:38] FormerLurker commented on #25
I think the best way to handle things would be to use writelines to write the layers to a file, process them with the arc welder python extension, then convert it back into a list.  It will be tricky to return the layers properly, and all that will slow things down unfortunately.

[2020-10-28 05:28] tmillerpdx commented on #25
At that point it starts to seem it's just a more convoluted version of the octoprint plugin, and would be more straightforward to run the .exe outside of Cura on the generated GCode

[2020-10-28 05:30] FormerLurker commented on #25
The octoprint cura plugin writes a file.  I need to dig in a bit.  As a plug-in at least it would be seem less.

[2020-10-28 06:53] jjvelar commented on #48
I would like arc-welder to work with my firmware.
Thanks

José

[2020-10-28 13:56] FormerLurker commented on #48
So, I took a look at the firmware, and you are correct:  it is really old.

There isn't any modification I can make to Arc Welder that will make it work with your firmware.  I looked online, and there are several guides for upgrading the Anet A8 to Marlin 2.  However, the example configuration file on [Marlin's github page](https://github.com/MarlinFirmware/Marlin/tree/2.0.x/config) has arc suppor

[2020-10-28 15:11] martonbaksa commented on #55
So far, I really like this rc. Thanks again for automatically starting the print, it works a charm :>!

[2020-10-28 15:16] jjvelar commented on #48
Not unexpected. What a pity!
Thanks for taking the time to review this.
Kind regards

José

[2020-10-29 15:15] NameOfTheDragon commented on #55
ArcWelder is AWESOME. Thank you for making this. I have always been disappointed that slicers don't use the arc commands to full advantage. Perhaps some of them will reconsider this in the light of the clear advantages demonstrated by ArcWelder, but meanwhile thanks for a great plugin. It makes a huge difference with Klipper firmware because GCode throughput across the USB-serial link has been a l

[2020-10-29 15:49] hamster65 commented on #55
Thanks, works great so far. I did some small prints and the plugin drastically reduced the file size. I did not notice any negative effects in terms of print quality, but I did not compare the prints with and without the plugin.

[2020-10-29 16:38] FormerLurker commented on #55
@NameOfTheDragon,

I believe *Display Layer Progress* uses the gcode analysis hook.  Somehow the Cura Octoprint plugin can wait for this to finish before starting a print.  I initially built the Arc Welder plugin using the analysis hook, but was having some major difficulties due to the way Arc Welder works.  I may give this another go at some point, but it would require a pretty massive rewrite.

[2020-10-29 16:40] FormerLurker commented on #55
@hamster65,  That's great!  If you happen to do any before/after prints, I'd love to see photos, print time comparisons, a snapshot of the Arc Welder statistics, and before/after gcode.

[2020-10-29 16:58] NameOfTheDragon commented on #55
@FormerLurker

I will see what I can do. I have a print in progress that is going to take me well into tomorrow so it will not be quick.

BTW, I am using Prusa Slicer (2.3.0-alpha.1), which also lets you control whether to start printing after upload and works with DLP, so that's not special to Cura.

[2020-10-29 17:12] FormerLurker commented on #55
@NameOfTheDragon, you could use the console version of ArcWelder and enter that as a post processor within PrusaSlicer.  You can find the console version [here](https://github.com/FormerLurker/ArcWelderLib/actions?query=workflow%3A%22CMake+Build+Matrix%22).  For now, select the most recent action and pick the Windows-MSVC.zip file if you are using windows (I broke the mingw version recently).  The

[2020-10-29 18:48] NameOfTheDragon opened #56 "[Feature] Produce arcs in spiral vase mode"
Arc Welder doesn't appear to process arcs when spiral vase mode is used. For example, a simple cylinder printed in vase mode will produce arcs in the skirt and initial solid infill layers, but none at all in the spiral perimeter. That's a shame, because vase mode is potentially where some big wins could be achieved.

Perhaps the Z offset of each extrusion id causing confusion, or exceeding the res

[2020-10-29 18:51] NameOfTheDragon commented on #55
Ooooh, now that's interesting, I will give that a go. BTW, I was just trying to make some sample prints using Klipper and in an attempt to maximize the difference I used a cylinder in spiral vase mode. No arcs are being produced when in spiral vase mode, hence #56 :(

[2020-10-29 19:02] FormerLurker commented on #56
Unfortunately creating an arc with an end point at another Z location is not possible.  At least I'm not aware of this if it is supported by any firmware.  See the [RepRap Gcode Specification here for G2/G3](https://www.reprap.org/wiki/G-code#G2_.26_G3:_Controlled_Arc_Move).

[2020-10-29 19:21] FormerLurker commented on #55
@NameOfTheDragon, I updated that issue, and will summarize here for others.  I don't think it's possible move to another Z coordinate currently when creating an arc.  It would also require some changes to the shape detector so that it can operate in 3 space, though that wouldn't be particularly challenging.  It may slowdown the conversion a tiny bit.

However, I just looked at the marlin 2 source,

[2020-10-29 21:43] codefaux opened #57 "Edit G-Code results in second-processing of file"
Me again. Still loving the plugin but I broke a wire on my heater sensor replacing a heater core so I'm down for a few days. Unrelated, but agony must be shared, hah...

_Anyway_ - after uploading a g-code file, I occasionally need to edit it for small corrections.

I use Klipper, and change acceleration/corner speed/offset values via its extensible G-Code. Occasionally, I need to edit something l

[2020-10-29 22:21] FormerLurker commented on #57
How are you editing the gcode?  If you are using a plugin, it should propagate the file metadata if it creates a new file and deletes the original.  This sounds like an issue with another plugin.

[2020-10-30 10:43] gsteffek opened #58 "Filament Amount changed drastically resulting in print fail"
Hey all,

tried to print something using ArcWelder for the first time and thought I had the perfect object to do that.
After 2 failed prints I noticed the amount of extruded filament between the 2 GCodes was changed drastically:
Original: 3.64m
AW file: 0.22m
and as you can imagine, all I got was a bit of spaghetti.
The print itself is a very simple and very round object, supposed to have 1 wall l

[2020-10-30 12:20] geekyboi opened #59 "Option to disable automatic processing while printing"
Would be good if an option could be added that disabled the automatic processing while printing. I've noticed my printer starts to stutter while arc welder is doing it's thing.

[2020-10-30 13:46] FormerLurker commented on #59
Check out the latest pre-release.  There is not an option, per se, but processing will stop if a print starts or is running.  It will continue after the print completes.  There is a feedback issue for the pre-release too, so feel free to comment there if you try it out!

[2020-10-30 17:20] FormerLurker commented on #58
What firmware?  The exact version would be great.  Also, if you have a copy of your configuration file or a link to the firmware source, that would help a lot, thanks!

[2020-10-30 17:34] FormerLurker commented on #58
So, I processed your original gcode in OctoPrint and here's what I saw:

![image](https://user-images.githubusercontent.com/33363128/97737228-bcd88100-1aaa-11eb-9c5f-7d5c2eade446.png)

Where did you see the 0.22m filament value?  I think there was a calculation issue for G2/G3 that was fixed in a recent OctoPrint release.

My initial guess is that either arc support is disabled in your firmware.

[2020-10-30 17:49] water-rhatt opened #60 "Not working with Klipper - Extrusion issues"
FWIW, it does not appear to be working with Klipper. It seems to be trying to extrude all the filament for an arc at once, triggering the error:

`Move exceeds maximum extrusion (x.xxxmm^2 vs x.xxxxmm^2)`

Disabling the error doesn't solve the problem, you just end up with odd blobs at the end of an arc and stretches where there is no extrusion.

[2020-10-30 17:55] FormerLurker commented on #60
That's interesting.  I've gotten lots of reports that it does work for klipper.  Are you sure arc support is enabled?  Maybe try sending a naked ```G2``` command and see what response you get.  If G2/G3 is disabled, and you are using absolute extrusion, you definitely could see the maximum extrusion error you are reporting.

If you find arcs are enabled (see the plugin page for a quick test of arc

[2020-10-30 23:09] stormbringer91 commented on #60
I'd say it's pretty likely he's using absolute extrusion. Most slicers will default to absolute extrusion. The argument to use absolute vs relative extrusion is besides the point.

Here's your fix, @water-rhatt

Under "Extruder" in klipper config, add this line

`max_extrude_only_distance: 400.0`

For my personal setup, I needed to use the value of 400 because of my filament runout change script m

[2020-10-30 23:41] FormerLurker commented on #60
@stormbringer91, not saying you are wrong, I am not a klipper expert, but using absolute extrusion 100% could trigger this IF arc commands are disabled or unavailable.  Say 10 large G3 commands in a row are skipped because they are not understood.  Then the next command will extrude everything from the missed commands all at once.

[2020-10-31 00:06] stormbringer91 commented on #60
@FormerLurker I was agreeing with you, as far as the trigger being from absolute extrusion. The reason I state that this is the fix, is perhaps because of the way that klipper performs its advanced look ahead algorithms and how it compresses each event for the microcontroller. This could result in an abundance of lines that it reads in advanced and thinks it is extruding more than it actually is,

[2020-10-31 00:35] FormerLurker commented on #60
@stormbringer91, regarding absolute extrusion, it is absolutely fine to use.

Regarding klipper docs, I am working on a 'check firmware' button as we speak.  If you know of any way to query klipper for the segment length value, that would be great!  I knew it had one, but not what the default was.  1mm is too low.  Marlin has a nifty min segments per circle setting, and I'm working to add a settin

[2020-10-31 00:37] FormerLurker commented on #60
Oh, and i am glad you are having success with arc welder.  The problems you were having in the scenario you described is precisely what arc welder was designed to solve.

[2020-10-31 01:35] Prickly-Pear commented on #10
Thank you, @FormerLurker.
I managed to break my OctoPrint setup on my Mac when I installed Python 3. I cannot get it to work even when I went back to Python 2.7. I have no idea of what I am doing so I will just quietly give up on ArcWelder (and OctoPrint) on my Mac.
On the other hand, ArcWelder installed happily on my Win10 laptop with OctoPrint 1.4.2 and Python 3.8 (and I had to install VSC with

[2020-10-31 01:55] water-rhatt commented on #60
I think this is going to prove to be it. I DID have gcode_arc enabled, but I must have had an old version of the firmware.  I updated klipper and was able to successfully print and aw file that had failed earlier. You are probably right that it was trying to ignore the g2/g3 and then extrude all at once.

I'll keep doing prints to see if the problem resurfaces, but for now updating Klipper was the

[2020-10-31 01:55] #60 closed, assigned to nobody

[2020-10-31 02:34] FormerLurker commented on #10
Sorry to hear about your mac.  Regarding the windows install, I guess i could just compile a windows binary, but the c++ redistributable will still be required.  In any case I should probably update the installation instructions.

[2020-10-31 02:49] girrrrrrr2 commented on #56
It looks like in the latest version of marlin you can use arc in different planes.

Config_adv.h Line 1802-ish
  //#define CNC_WORKSPACE_PLANES    // Allow G2/G3 to operate in XY, ZX, or YZ planes

But it does look like it doesnt work in a way that would be helpful for this, unless im understanding it wrong, it looks like it converts your full planes of movement into the XY YZ XZ planes and doesnt

[2020-10-31 03:17] FormerLurker commented on #60
Excellent 👍 I will add the minimum klipper version to the firmware check button I am working on to hopefully prevent this in the future.

[2020-10-31 17:06] locka99 opened #61 "Ender 3 with SKR Mini E3 1.2"
As per this [discussion](https://www.reddit.com/r/octoprint/comments/jhoani/arc_welder_anyone_try_it_out/).

My experience of using the plugin with the SKR Mini E3 didn't start out too well since I thought the print was coming out blobby.

But actually my firmware was ignoring the arc commands and just printing the infill. BigTreeTech supplies prebuilt firmware for the board on their [github page]

[2020-10-31 17:12] FormerLurker commented on #61
Awesome 👍

I am currently working of a method for testing firmware support, including help files for specific printers.  Your post will be quite useful.

Can you send your printer an M115 and paste in the response?  That will help me identify the firmware fork.

[2020-10-31 17:28] stormbringer91 commented on #60
@FormerLurker It doesn't seem that you can query for minimum segment at this time. [Here you can see the default arc segment](https://github.com/KevinOConnor/klipper/blob/master/config/example-extras.cfg#L508) figure this is something that could easily be implemented by the klipper Dev, as the extended gcode commands seem to provide easy implementation of such things.

[Here's](https://www.klipper

[2020-10-31 17:34] FormerLurker commented on #60
Cool, thanks!  I've been working on the firmware checker/configuration button today.

[2020-10-31 19:36] locka99 commented on #61
Send: M115
Recv: FIRMWARE_NAME:Marlin 2.0.7.2 (Oct 31 2020 14:58:34) SOURCE_CODE_URL:https://github.com/MarlinFirmware/Marlin PROTOCOL_VERSION:1.0 MACHINE_TYPE:Ender-3 EXTRUDER_COUNT:1 UUID:cede2a2f-41a2-4748-9b12-c55c62f367ff
Recv: Cap:SERIAL_XON_XOFF:0
Recv: Cap:BINARY_FILE_TRANSFER:0
Recv: Cap:EEPROM:1
Recv: Cap:VOLUMETRIC:1
Recv: Cap:AUTOREPORT_TEMP:1
Recv: Cap:PROGRESS:0
Recv: Cap:PRINT_JOB:1

[2020-10-31 22:53] FormerLurker commented on #61
Excellent, thank you!

[2020-11-01 10:11] gsteffek commented on #58
Hi,

thanks for your response. The 0.22m Filament value is, what OctoPrint showed me when I loaded the gcode, therefor I don't think it's a firmware issue (which is Klipper running on a Sidewinder X1). Can G2/G3 be enabled/disabled in OctoPrint itself?

I don't have the print around anymore, but it was just a bit of spaghetti that looked like someone extruded mid-air and moved the nozzle around. A

[2020-11-01 13:49] jcharaoui commented on #40
I'm really interested in testing this plugin, I've had a similar problem with my Ender-5. However I don't have a Simplyfy3D license and ncviewer.com isn't working for me. So I can't preview the GCODE that's generated by ArcWelder, which is kind of a deal breaker for me. I'd be happy to know what are other GCODE viewers out there with G2/G3 arc support.

[2020-11-01 16:50] jjvelar commented on #48
Hi!
I just wanted you to know I have finally updated my Anet A8 to Marlin 2.0 and I have been able to activate arc support.
I am re-configuring steps and the new fancy stuff (power loss, etc) but I will start soon to "play" with arc welder.
Thanks again and best regards,
José

[2020-11-01 19:00] FormerLurker commented on #48
Awesome!  Please let me know if it starts working!

[2020-11-01 19:01] FormerLurker commented on #40
@jcharaoui, send me your welded gcode file (submit to gist.github.com, then leave a link here) and I'll analyze it and see if it looks good.  Maybe I can figure out what's up with ncviewer too.

[2020-11-02 00:30] jcharaoui commented on #40
@FormerLurker I fiddled a bit more with ncviewer.com and I figured out that if I zoomed out eventually I could find my model in there! Thanks for the offer, though!

[2020-11-02 03:18] jcharaoui commented on #55
I've done a few tests with ArcWelder and I want to say: well done! I've been struggling with stutters ever since I got my Ender-5,  printing with OctoPrint on a Pi ZeroW. I shared a [report of my findings](https://www.thingiverse.com/groups/creality-ender-5/forums/general/topic:39719) on Thingiverse, essentially pointing toward increasing baud rate, buffers and toying with the slicer maximum resol

[2020-11-02 20:03] gsteffek commented on #58
Here the picture from Octoprint (it's the same file as above, I had it just renamed before uploading).
![grafik](https://user-images.githubusercontent.com/60662372/97913175-3fcd3600-1d4e-11eb-8e9d-50b7e75d076a.png)
And this is what OctoPrint shows me for the non-AW file:
![grafik](https://user-images.githubusercontent.com/60662372/97913224-4f4c7f00-1d4e-11eb-85b6-ac46140e0ebc.png)

Now the weird p

[2020-11-02 20:30] FormerLurker commented on #58
What version of OctoPrint are you using, and what version of Kilpper are you using?   You can send an M115 command to get the klipper version (paste in the entire response here please):

![image](https://user-images.githubusercontent.com/33363128/97915841-c0247480-1d17-11eb-93df-b19cae9ddd7e.png)

And you can look at the bottom left hand corner of your browser to find the Octoprint version:

![ima

[2020-11-03 11:47] gsteffek commented on #58
I reprinted the GCode I posted above, this is what it looks like:
![IMG_20201103_123750_828](https://user-images.githubusercontent.com/60662372/97981154-25d53700-1dd2-11eb-9c08-1d42e09334e8.jpg)
It moves in a circle at the bottom but doesn't extrude any significant amount of filament. Then moves straight up for 8-10mm, extrudes a little blob (you can see it in the left part of the picture) and mov

[2020-11-03 14:38] FormerLurker commented on #58
That pic looks a lot like my simulation shot above of what would happen if G2/G3 is not enabled.  You are running Klipper 0.8.0, but you probably should upgrade to 0.9.0 (arc support is better), and make sure you enable arcs. Can't print arcs if g2/g3 doesn't work :)

[2020-11-03 14:40] EliW commented on #41
Hey, so I still never got a chance to reprint that big boy just to wait for it to fail.   But I was printing something small (and circular!  some caps to fill in drill holes) and went 'Hey, good option to try again'.

So I did.  And it failed spectacularly.  So basically on the arcwelded version, the walls completely didn't print at all.  Only the infill & supports   And the support was weird.  Wh

[2020-11-03 14:40] EliW commented on #41
FWIW, one print done right after the other with no changes to any settings.

[2020-11-03 14:41] EliW commented on #41
(and obviously this isn't near the outside ring.  But right in the middle.  So the title of this ticket is slightly off now.   Seems likely that this is a firmware issue as you suggest.  Unless something 'weeeeird' is going on.

[2020-11-03 17:46] FormerLurker commented on #58
Also, I should have mentioned that the :```Running the G2 command I get an "Unknown command: G2" error.``` response means you can't print arcs.  I'm still working on the firmware checker function so that it's obvious what is wrong, but here's what it says about your version so far:

![image](https://user-images.githubusercontent.com/33363128/98021441-f3bfd700-1dc9-11eb-9be2-54eb9628a9e5.png)

I'm

[2020-11-03 19:21] FormerLurker commented on #41
I think the chances are almost 100% that arcs are disabled.  Send an ```M115``` command to your printer and paste in the response here.

Next, run this test (it's also at the bottom of the Arc Welder page in the plugin repository):

[code]

Enter those into the octoprint terminal one at a time.  When you enter the final command (```G2 X40 I20 F400```) your printer should move in an arc slowly to Y

[2020-11-03 19:25] FormerLurker commented on #41
It's also possible that arc movements just aren't supported for delta printers.  For example, it looks like G2/G3 wasn't working in marlin for a while on Deltas.:  https://github.com/MarlinFirmware/Marlin/issues/2371.

[2020-11-03 22:46] kylane opened #63 "Ender 3/SKR Mini E3 - Pausing during print?"
Ahoy hoy,

Have manually converted a number of files now, and they all have weird pauses in them during print.

Here is the google drive link with the original STL, Cura generated gcode, the arcwelder generated gcode, and a video of the issue.

[https://drive.google.com/drive/folders/1azFBl4Nw46e0tY-k-awuaLikPpCOyzOP?usp=sharing](https://drive.google.com/drive/folders/1azFBl4Nw46e0tY-k-awuaLikPpCO

[2020-11-04 01:09] FormerLurker commented on #63
You provided a lot of info, but I need more (LOL!  Always need more...)

Can you do the following:

1.  Send an M115 command via the octoprint terminal and attach the printer's response.
2.  Send a naked ```G2``` command (no parameters) and paste in the response (I suspect this will work based on your video).
3.  If you have your firmware configuration files, or a link to the firmware you installe

[2020-11-04 02:45] kylane commented on #63
@FormerLurker - Thanks for that - in the middle of a print atm - will get back to you.

FWIW: Its the stock SKR Mini E3 1.2 (Ive never flashed it).

[2020-11-04 05:48] kylane commented on #63
@FormerLurker

M115 returned:
Send: M115
Recv: FIRMWARE_NAME:Marlin bugfix-2.0.x (Github) SOURCE_CODE_URL:https://github.com/MarlinFirmware/Marlin PROTOCOL_VERSION:1.0 MACHINE_TYPE:SKR-mini-E3-V1.2 EXTRUDER_COUNT:1 UUID:cede2a2f-41a2-4748-9b12-c55c62f367ff
Recv: Cap:SERIAL_XON_XOFF:0
Recv: Cap:BINARY_FILE_TRANSFE1
Recv: Cap:PROGRESS:0
Recv: Cap:PRINT_JOB:1
Recv: Cap:AUTOLEVEL:0
Recv: Cap:Z_PROBE:0

[2020-11-04 22:45] JohnEdwa commented on #25
The official post-processing plugin also runs every time after the file is sliced, which if the user has auto slicing enabled is 0.5 seconds after they chance a slicing setting. From the few tests I've done with the Octoprint plugin, ArcWelder doesn't seem to be particularly fast so it would increase the slicing time by quite a bit, and, Cura doesn't actually support displaying arcs in the preview

[2020-11-04 23:17] FormerLurker commented on #25
@JohnEdwa, you were running it on a pi.  It's extremely fast on my PC because the whole python wrapper is eliminated.  It is over 10x faster.  It's not multi-threaded ATM, so it could be sped up further potentially, especially if I know where the layers start and end.  But, I get what you are saying since every second counts.  I may end up just calling an executable on the pi to do the conversion

[2020-11-05 09:55] JohnEdwa commented on #25
Well, true on the Pi performance part. It's just that the parts I tested it on were quite small (such as [this Rift S mount](https://www.thingiverse.com/thing:3678066) that sliced is 9.3MB and it takes 20 seconds to Weld and an additional 15 until it pops up as it being ready on a Pi3).

As for the file handling, I guess adding a "Weld and Send to Octoprint" option to the save menu that would then

[2020-11-06 01:54] ldursw commented on #30
I had this exact issue 7 times in a single benchy print. I don't have the serial log for the first time but I have for the other 6.
- Layer 68
- [Layer 222](https://github.com/FormerLurker/ArcWelderPlugin/files/5497586/issue30-layer222.txt)
- [Layer 253](https://github.com/FormerLurker/ArcWelderPlugin/files/5497589/issue30-layer253.txt)
- [Layer 259](https://github.com/FormerLurker/ArcWelderPlugin

[2020-11-06 17:53] EliW commented on #41
Thanks for the details.  Just did them and low-and-behold.  Yeah, G2 support doesn't exist (command not found).   But I swore I saw it in the firmware.

So I went and started looking more deeply and found the following:

1) Yes, there IS arc support, but it's not compiled in by default.  I could recompile the firmware to add it.  (Though there's some 'tight memory' issues on my machine anyway and

[2020-11-06 17:53] #41 closed

[2020-11-06 20:50] FormerLurker commented on #41
I figured it was at least disabled.  However, I wanted to comment about something you said:

It's not really faked.  Steppers can only move in discrete increments anyway, so drawing 'true' curves is impossible.  Technically drawing non-horizontal/vertical straight lines is also impossible due to the discrete nature of the steppers!  They operate sort of like pixels on a screen.

There are several

[2020-11-07 15:06] rizwansarwar commented on #44
So I have noticed something similar not to this extent however. I have noticed that when doing infill, the printers stutters at the end of an infill line (where direction change is about to take place). When printing with gcode that is not converted by ArcWelder, i do not see this issue.

And I have seen this in Klipper not on Marlin. maybe something to investigate further.

[2020-11-07 17:57] DunklerPhoenix opened #64 "Corrupted GCode"
Heho.
I tried to print the little Testship first normal and after this with arcwelder.
Slicer is Ultimate Cura:

Is there a config wrong or is this a bug?

**Normal:**
Gcode: [AI3M_3DBenchy.gcode.txt](https://github.com/FormerLurker/ArcWelderPlugin/files/5505230/AI3M_3DBenchy.gcode.txt)
![zibJJsgCLe](https://user-images.githubusercontent.com/1261305/98448110-36671380-212a-11eb-9a4a-415bd556b853.pn

[2020-11-07 19:40] tmillerpdx commented on #63
For reference @kylane, I have an SKR Mini E3 1.2 (which I have configured and flashed) and this is what M115 returns for me (note the firmware version and ARCS:1). Take a look at [this section of the Arc Welder readme](https://github.com/FormerLurker/ArcWelderPlugin#marlin) as well and compare your results to what's mentioned here

Generally if you see weird behavior with Arc Welder it's important

[2020-11-08 19:23] FormerLurker commented on #64
Your visualizer appears to not support G2/G3.  This is what I see when I run your welded code through simplify 3d:

![image](https://user-images.githubusercontent.com/33363128/98482195-67e0ed00-21c5-11eb-9269-926c2e971c04.png)

I'm guessing arc support is disabled in your firmware.  I've been working on a firmware checker for the past couple weeks, and I'm almost ready to push a development releas

[2020-11-08 19:24] FormerLurker opened #65 "Add Firmware Tester"
Add a button to the Arc Welder tab that can be used check for compatibility.  Include options to check firmware on connect, to only check manually, and to disable checking (hides the info on the tab).

[2020-11-08 19:27] FormerLurker opened #66 "Add 'Path Tolerance Percent' setting"
The arc welder c++ extension was updated to support a 'Path Tolerance Percent' which can be used to reject any paths that deviate by more than the specified percent.  This setting can be quite high without impacting quality due to the way slicers interpolate curves, but if arc support is enhanced in the future, this setting may be needed to prevent increased extrusion due to a correction of the to

[2020-11-08 19:28] FormerLurker opened #67 "Allow the user to show/hide the current run configuration"
Add an option to hide the current run configuration.

[2020-11-08 19:30] FormerLurker opened #68 "Add tolerance display to resolution setting"
Since the 'Resolution' setting is confusing people, add the computed *Max Deviation* to the settings display where *Max Deviation* = +- 1/2 * resolution.

[2020-11-08 19:35] FormerLurker commented on #65
Complete.

[2020-11-08 19:35] #65 closed, assigned to FormerLurker

[2020-11-08 19:35] FormerLurker commented on #68
Complete.

[2020-11-08 19:35] #68 closed, assigned to FormerLurker

[2020-11-08 19:35] FormerLurker commented on #67
Complete.

[2020-11-08 19:35] #67 closed, assigned to FormerLurker

[2020-11-08 19:35] FormerLurker commented on #66
Complete.

[2020-11-08 19:35] #66 closed, assigned to FormerLurker

[2020-11-08 21:08] Ian-Boraks opened #69 "Intercepting of Uploaded Files [Suggestion]"
I do not know if this is possible, but it would be nice for the plugin to "intercept" the g-code sent directly to print from programs such as Cura. This would make it so Octoprint would not use the uploaded g-code but instead the ArcWelded g-code. This would make it more streamlined, as you would be able to still use the "print using Octoprint" feature inside of cura and other softwares and use th

[2020-11-08 22:11] FormerLurker commented on #69
Working on a cura script now.  Got a sample py file from another user and will see what can be accomplished with the console library.  It is easy to do in slicer, just add the console app as a post processor.  Cura is a bit trickier.

[2020-11-08 22:12] FormerLurker commented on #69
Oh, and i do have a new 'print after processing' option that may do until the cura plugin is ready.  Let me know if you wouy like to try that out

[2020-11-08 22:14] FormerLurker commented on #63
The firmware check is almost ready.  Just debugging some final issues.  I will add your posted responses to the lookup.  Also, kudos for having the extended capability report option enabled, it makes everything easier

[2020-11-08 22:24] Ian-Boraks commented on #69
I would love to try it out! Currently flashing new firmware to my printer to enable the Arc command. So I will hopefully be able to test that out soon.

[2020-11-08 22:47] FormerLurker commented on #64
So, this check isn't perfect, and there are still some things I need to fix, if you want to try it out you can install from the plugin manager by clicking 'Get More' then adding this line to the 'From Url...' box and clicking install:  ```https://github.com/FormerLurker/ArcWelderPlugin/archive/d92528cdebf158f67b906caf99c50a35c7fcbc4e.zip```

Restart and make sure your printer is connected (this is

[2020-11-08 22:49] FormerLurker commented on #63
So, this check isn't perfect, and there are still some things I need to fix, if you want to try it out you can install from the plugin manager by clicking 'Get More' then adding this line to the 'From Url...' box and clicking install:  ```https://github.com/FormerLurker/ArcWelderPlugin/archive/d92528cdebf158f67b906caf99c50a35c7fcbc4e.zip```

Once the install is finished, restart octoprint and make

[2020-11-08 22:49] FormerLurker commented on #61
So, this check isn't perfect, and there are still some things I need to fix, if you want to try it out you can install from the plugin manager by clicking 'Get More' then adding this line to the 'From Url...' box and clicking install:  ```https://github.com/FormerLurker/ArcWelderPlugin/archive/d92528cdebf158f67b906caf99c50a35c7fcbc4e.zip```

Once the install is finished, restart octoprint and make

[2020-11-08 22:52] FormerLurker commented on #44
If you are interested in trying an alpha, I've implemented a new firmware check and a bunch of other goodies.  The check still needs work and there are still some things I need to fix, if you want to try it out you can install from the plugin manager by clicking 'Get More' then adding this line to the 'From Url...' box and clicking install:  ```https://github.com/FormerLurker/ArcWelderPlugin/archi

[2020-11-08 22:53] FormerLurker commented on #30
Very interesting.  I will def look into this!

I have implemented a new firmware tester that you may want to try if you are willing to try an alpha version.  The check isn't perfect, and there are still some things I need to fix, if you want to try it out you can install from the plugin manager by clicking 'Get More' then adding this line to the 'From Url...' box and clicking install:  ```https://

[2020-11-08 22:54] Ian-Boraks commented on #69
Ok, got my printer flashed and all is working.

[2020-11-08 23:59] FormerLurker commented on #69
Here is an install url for the beta:  https://github.com/FormerLurker/ArcWelderPlugin/archive/d92528cdebf158f67b906caf99c50a35c7fcbc4e.zip

You can install via the plugin manager by pasting the link in the 'from url...' box.

A few things are not 100% ready, but it is close.  The firmware checker needs the most work.  Let me know how it goes!

[2020-11-09 00:04] Ian-Boraks commented on #69
Will do. Currently printing some Flex, so after that I will install and try to print directly from Cura.

[2020-11-09 00:13] Ian-Boraks commented on #69
OK, looking at your firmware_checker.py file I have a few questions:
My printer dose not have EXTENDED_CAPABILITIES_REPORT enabled, so the M115 command dose not output the EXTENDED_CAPABILITIES_REPORT. Will this effect the capabilities of this build or the functionality of ArcWelder?

[2020-11-09 01:04] FormerLurker commented on #69
If the firmware checker doesn't see Arcs:0 in the extended capabilities report, it will send a naked G2 command.  Depending on your firmware, it may return a an 'unknown command' response, or an 'invalid parameters' response, or an OK.  I haven't completed the invalid parameters portion yet (I just learned about that), but it would indicate that arcs are enabled.  Unknown command means they defini

[2020-11-09 01:08] Ian-Boraks commented on #69
No, that was perfect. I guess I just missed the part wehre it sends the G2 command. I was really confused why it wouldn't. My printer returns the invalid paramteres when a naked G2 command is sent. As you said you hadn't finished this will this negativaly effect my experience.

Also, you might want to add in a override for any edge cases. So the user can manually say that the arc commands work.

[2020-11-09 01:20] DunklerPhoenix commented on #64
The first log was directly after pressing Check Firmware (after the little loading icon disappear)
The second log is after a quick octoprint restart and another check.
As you can see in the screenshot the printer is connected and ready, but your tool didn't recognize it.

![6nYs0w5Fv6](https://user-images.githubusercontent.com/1261305/98490450-d78cc180-2231-11eb-8790-7f6a46bd5d56.png)
[plugin_arc_

[2020-11-09 01:57] FormerLurker commented on #69
In that case, you can disable the firmware check in the settings.  I've only tried it on my prusa and a virtual printer, so it still needs quite a bit of testing and improvement.

[2020-11-09 01:58] FormerLurker commented on #64
Ok, thanks for the logs!  They should be very helpful.  I will get to work

[2020-11-09 02:01] Ian-Boraks commented on #69
Sounds good! Will report back in the coming days

[2020-11-09 02:37] ldursw commented on #30
I had to click it a few times to make it work. I could see `M115` and the response in the terminal but it didn't update in the page. When trying to reproduce the issue I noticed that if I go to the Arc-Welder page right after Octoprint restarted the plugin would ask to check the firmware and clicking the button would start a firmware check but fails. After a few minutes it automatically updates th

[2020-11-09 02:39] FormerLurker commented on #30
Excellent 👍 i think I might know what the problem is.  If you are willing to retest, I will send another link later.

Also, looks like your firmware is all good ;)

[2020-11-09 02:47] ldursw commented on #30
Sure, I can test new versions as needed.

[2020-11-09 11:50] gsteffek commented on #58
I updated Klipper to the current version now:
![grafik](https://user-images.githubusercontent.com/60662372/98537763-0cc4fe00-228a-11eb-9b83-66603c607845.png)
As you can see, I still get a G2 not supported. I know this is probably more of a Klipper question, but are you aware of anything that needs to be enabled for G2 codes to work in Klipper?

Edit:
https://github.com/KevinOConnor/klipper/commit/

[2020-11-09 14:16] FormerLurker commented on #58
Yes, thet do need to be enabled.  I did not realize it was disabled by default.  I wonder if maybe that could be changed.

[2020-11-09 15:07] FormerLurker commented on #58
https://github.com/KevinOConnor/klipper/blob/9e1697786d25c8dc1db905f6d41af4d0b73f022e/config/example-extras.cfg#L508-L515

I would set the segment length to 0.5 or 0.1.  You want the lowest value klipper can handle without stuttering.  I'm pretty sure Klipper can handle 0.5 in most cases, so maybe start with 0.1 and raise it if you have issues.  If you can go lower, do so!  Let me know what you fi

[2020-11-09 15:09] robwasteground commented on #58
If it helps, I'm running with:

[code]

On an Ender 3 v2 with Klipper, very successfully. In Arc Welder, I have the minimum resolution set to 0.05. With these settings, I get really perfect results. Much better than without arcs (on certain prints, it is very clear that arc support is doing a much nicer job of printing curves than without).

[2020-11-09 15:12] FormerLurker commented on #58
@robwasteground, that is excellent!  Klipper really handles arcs nicely.  I'm hoping arcs can be enabled in the default configs since there is little reason not to.  I may post on the repo.  Perhaps there is a good reason for this that I'm not aware of.

[2020-11-09 16:54] Ian-Boraks commented on #69
Ok, so the print after processing works really well, the only thing is, that if I print from cura it still prints the original file. As cura dose not just upload but also starts the print, which I hope will fixed with the cura plugin. But for now, this is a fine solution.

[2020-11-09 17:50] FormerLurker commented on #69
Yeah.  I recommend disabling the option to start printing from Cura, and enable 'Start Print After Upload' in Arc Welder.  Just remember you enabled it, cause it will start printing after you upload any gcode file, with or without cura!

I'm working on a cura plugin script too.  Got a working script sent to me, and I'm working to add parallelism and to test it.

[2020-11-09 18:58] Ian-Boraks commented on #69
Ya, mabey you could make it so when parsing the g-code it checks to see if
;Generated with Cura_SteamEngine 4.4.1
Is in it, then only auto starts if the word Cura is in the g-code. that would be a quick and dirty way to autostart with cura and only cura.

[2020-11-09 19:51] FormerLurker commented on #69
Actually that is a pretty good idea, thanks for the suggestion!  This is feasible and simple.  I may need to add checks for other slicers too, which shouldn't be hard.  Maybe I could add custom triggers for slicers that are uncommon, or some token that can be added to the start gcode.  I'll create a new issue and add this to the milestones for 1.1.

[2020-11-09 19:54] Ian-Boraks commented on #69
Sweet

[2020-11-09 19:55] FormerLurker opened #70 "Add token detection to 'Print After Processing' option."
This isn't 100% fleshed out, but the plan is to allow printing after processing if certain tokens/text can be found in the first N lines of the GCode file (probably N=100 would be fine).

It would be FANTASTIC if a special token could be added to the gcode from the Cura Octoprint Plugin (perhaps it already does this.. I will check).  That way I could definitively know whether the gcode was sent fr

[2020-11-09 19:58] FormerLurker opened #71 "[Alpha Issue] Fix firmware check button issues"
The new firmware test button (not in any release currently) has some random issues.  Needs to be debugged on a live printer.

There are a few known issues:

1.  Multiple checks can be performed at once.  This should not be so.
2.  The timeout is too short.  Some printers take a good long while to startup completely.
3.  Something is wrong with the multi-line response check.  It works properly on t

[2020-11-09 19:59] FormerLurker commented on #69
Do you mind if I close this out?  If not, we can continue the discussion [here](https://github.com/FormerLurker/ArcWelderPlugin/issues/70).

[2020-11-09 20:02] Ian-Boraks commented on #69
Not at all, I will make another issue, if somthing comes up

[2020-11-09 20:02] Ian-Boraks commented on #69
Glad I could help

[2020-11-09 20:05] #69 closed, assigned to nobody

[2020-11-09 20:16] Ian-Boraks opened #72 "Suggestion | Folders"
Add an option to allow the user to do the following:
Add all ArcWelded files to a Folder labeled "..."
Add all original files to a Folder labeled "..."
Separate original and ArcWelded files into separate folders
Add original and ArcWelded file into Folder with name of original file

This could be an alternative to people that want there files page to be neat, but do not want to delete any of the G

[2020-11-09 20:35] Ian-Boraks commented on #72
Also options to move either the original or post-processed file to SD card

[2020-11-09 22:15] codefaux commented on #57
Apologies for the delay, I must've missed the email.

The "Edit" I speak of is actually a plugin; it integrates well so I had forgotten it wasn't stock OctoPrint. I'll raise an issue with them.

To be fair, though - let's pretend I did something via CLI like pulling up nano and adjusting a number....or I triggered an external script, or re-uploaded a file that had been previously processed in orde

[2020-11-10 01:04] FormerLurker commented on #57
So, arc welder adds metadata to indicate that a file was welded.  Unfortunately there is no way to add metadata when a file is added.  My guess is that the gcode editor plugin readds the edited file, then copies metadata.  The alternative would be to rewrite the file in place and manually trigger analysis.  Im not sure what the plugin is doing (haven't looked at the source), but that is a reasonab

[2020-11-10 18:49] maxcom99 opened #73 "Feature request - Stand Alone Mode"
Any chance of running this via CLI without installing octoprint so I can leverage this for my other printers?

[2020-11-10 19:14] FormerLurker commented on #73
Already Done.  Check the [ARcWelderLib repo here](https://github.com/FormerLurker/ArcWelderLib) and see the latest artifacts [here](https://github.com/FormerLurker/ArcWelderLib/actions/runs/352631957).  I haven't dropped this officially, so the code could change without warning.  I won't be messing with it for the next few days at least though.

Also, the console application is mentioned both on t

[2020-11-10 19:14] #73 closed, assigned to nobody

[2020-11-10 23:10] ETE-Design commented on #55
@FormerLurker So to understand this correct, we only need to insert `{path_to_arcwelder_exec}\arcwelderconsole.exe -r=0.05 --g90-influences-extruder;` in Post Processing Script in Prusa Slicer / Super Slicer, then it will generate the right GCode with ARC Support... So we can copy that to an SD-Card and print is that correct?
Could you mabye make a Post Processing Plugin for Cura?

[2020-11-10 23:16] FormerLurker commented on #55
@ETE-Design, yes and yes :)  Working on the plugin.

However, I did change the name of the console app to ArcWelder or ArcWelder.exe depending on the OS.  You can get the latest artifacts in the ArcWelderLib repo.

[2020-11-11 00:00] ETE-Design commented on #55
@FormerLurker Have just tryed it out, but it seems like it does nothing to the gcode file... All commands are still G1, only thing is that the size is a little bigger now :-(
Using newest: Windows-MSVC.zip

[2020-11-11 00:02] FormerLurker commented on #55
@ETE-Design, Hmm...  I will take a look.  It works in my debugger.  The additional size is probably due to comments added at the top.

[2020-11-11 00:05] ETE-Design commented on #55
@FormerLurker Your right it is caused by the comment in the top, I was just told when using ARC the file will be reduced in size.... BTW I use SuperSlicer

[2020-11-11 00:06] FormerLurker commented on #55
Yeah, I did a huge refactor, but it was for the OctoPrint plugin, so I probably broke something.  I think it has to do with overwriting the target file..  Give me 10 minutes.

[2020-11-11 00:17] FormerLurker commented on #55
Ok, pretty close to 10 minutes :)  It takes a while to build the artifacts.  Try [this link](https://github.com/FormerLurker/ArcWelderLib/suites/1482612945/artifacts/25666557) to the msvc artifact.  I tried it out on a benchy and it looks good.

I think I made a copy paste error, but didn't notice it since I was testing with two parameters (source and target).

[2020-11-11 00:19] FormerLurker commented on #55
Here is what Benchy looks like after processing with a 60.2% reduction in extrusion/retraction commands:

![image](https://user-images.githubusercontent.com/33363128/98749393-33b22b80-2381-11eb-9561-5f9ea8fab0c8.png)

[2020-11-11 00:27] ETE-Design commented on #55
@FormerLurker That was it, now it's working :-) Thanks for being so fast to solve it...

[2020-11-11 00:35] ETE-Design commented on #55
@FormerLurker  But seems like there is something wrong this is the Original:
![Original](https://user-images.githubusercontent.com/15981309/98750316-f0c27900-23bd-11eb-915a-f7601155e9b0.png)

And this is after ARC:
![ARC](https://user-images.githubusercontent.com/15981309/98750375-0f287480-23be-11eb-82db-bc164375ab7c.png)

[2020-11-11 00:37] FormerLurker commented on #55
Much more likely the slicer can't visualize G2/G3.  Send me your file and I'll run it through simplify.  To my knowledge it is the ONLY slicer that can properly visualize arc commands.

For an alternative, try ncviewer.com.  It has some issues that cause some random commands to looks like bad arcs/segments, and renders arcs with a small number of facets, but it is pretty darn good for a free onlin

[2020-11-11 00:51] ETE-Design commented on #55
@FormerLurker As long as it is only the Preview that isen't correct no harm is done then :-) Any your right only minor error when using ncviewer.com

[2020-11-11 06:29] susisstrolch commented on #55
@FormerLurker can you also point where to find a Linux build?

[2020-11-11 19:14] ETE-Design commented on #55
@susisstrolch https://github.com/FormerLurker/ArcWelderLib/actions/runs/356847098

[2020-11-11 21:23] FormerLurker commented on #55
@susisstrolch, I have to warn you, the linux build there will NOT work for ARM (raspberry pi).  If you need a build I can generate one manually.  Github has no hosted arm runners.  I'm planning to set up a self hosted runner for that, but I've got a big backlog :)

Also, there are some mysterious issues on some linux flavors.  I've not pinned this down yet, but I'm a relative noob regarding cross

[2020-11-12 06:13] susisstrolch commented on #55
@FormerLurker I‘ll will try it on x64-platform, Linux Mint. Long time goal is to use ist as Vura Plugin.
Thanks for your ongoing effort!

[2020-11-12 08:55] talldonkey commented on #40
The Prusa Mini appears to support Arc Commands via the test Arc Gcode being successful.  I believe the firmware is derived from some Marlin 2.0, but not sure if it's been updated to includes 2.0.6 Arc updates.  M115 output suggests no.

Here is the test I ran, and heres the M115 output.

[code]

[2020-11-12 16:00] EliW commented on #41
Totally makes sense and thanks for the info :)

[2020-11-13 15:11] ghsamme opened #74 "Works fine with my Wanhao Duplicator i3 with original firmware"
Saves a lot of printing time when printing from octoprint. I use default settings and haven't found any errors yet.

[2020-11-16 21:05] ETE-Design commented on #55
@FormerLurker I use a plugin from BigTreeTech who make it possible to get a 3D Review on the TFT of your gcode... Do you know if it work with your console app?
Right now the Plugin is only for Cura, but a version for SuperSlicer is also soon out...